## Chapter 9. apply

In [1]:
# ë²„ì „ ì•ˆë‚´
import pandas as pd
print(f'êµì¬ ê¶Œì¥ ë²„ì „: Pandas 2.2.2')
print(f'í˜„ì¬ ì‹¤í–‰ ë²„ì „: Pandas {pd.__version__}')

êµì¬ ê¶Œì¥ ë²„ì „: Pandas 2.2.2
í˜„ì¬ ì‹¤í–‰ ë²„ì „: Pandas 2.2.2

### 9.1. apply í•¨ìˆ˜ ì†Œê°œ

ğŸ“Œ **apply**í•¨ìˆ˜

- apply = **íŒë‹¤ìŠ¤ì˜ ë°˜ë³µë¬¸**  

- ì¼ë°˜ í•¨ìˆ˜Â·ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ë¥¼ **ê° ìš”ì†Œì— ì ìš©**  

- íŒë‹¤ìŠ¤ í•¨ìˆ˜ë¡œ ì²˜ë¦¬ ì–´ë ¤ìš´ ì‘ì—…ì„ **ìœ ì—°í•˜ê²Œ í•´ê²°**

<br>

ğŸ“Œ **apply**í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•  ë•Œ

- ê¸°ë³¸ íŒŒì´ì¬ ë‚´ì¥ í•¨ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆì˜ ê° ì…€ì— ì ìš©í•  ë•Œ
- ì‹œë¦¬ì¦ˆì—ë§Œ ì ìš©ë˜ëŠ” íŒë‹¤ìŠ¤ í•¨ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ ì „ì²´ì— ì ìš©í•  ë•Œ
- ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ë‚˜ ë‹¤ë¥¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ í•¨ìˆ˜ë¡œ 1,2ë²ˆì„ ìˆ˜í–‰í•  ë•Œ

### 9.2. ì‹œë¦¬ì¦ˆì— apply í•¨ìˆ˜ ì ìš©í•˜ê¸°

#### 9.2.1. ì‹œë¦¬ì¦ˆì— apply í•¨ìˆ˜ ì ìš©í•˜ê¸°

<img src=https://i.postimg.cc/9fhmPsfN/image.png, width=600>

In [2]:
# ì½”ë“œ 9-1. ë„¤ ê¸€ì ì´ìƒì˜ íšŒë¬¸ì„ ë‹µí•˜ë¼ëŠ” ë¬¸ì œì— ëŒ€í•œ ê° í•™ìƒì˜ ë‹µì•ˆ ë°ì´í„°
import pandas as pd
data = {'ì´ë¦„': ['ê°•ìŠ¹ì£¼', 'ì†¡ì¤‘ê¸°', 'ê¶Œë³´ì•„', 'ê¹€íŒë‹¤'],
        'ë‹µì•ˆ': ['mom', 'get', 'pandas', 'level']}
df = pd.DataFrame(data)
df

    ì´ë¦„      ë‹µì•ˆ
0  ê°•ìŠ¹ì£¼     mom
1  ì†¡ì¤‘ê¸°     get
2  ê¶Œë³´ì•„  pandas
3  ê¹€íŒë‹¤   level

In [3]:
# ì½”ë“œ 9-2. len í•¨ìˆ˜ í™•ì¸í•˜ê¸°
# ë¬¸ìì—´ 'python'ì˜ ê¸¸ì´ í™•ì¸

In [4]:
# ì½”ë“œ 9-3. dfì˜ ë‹µì•ˆ ì—´ì— len í•¨ìˆ˜ ì ìš©í•˜ê¸°

In [5]:
# ì½”ë“œ 9-4. dfì˜ ë‹µì•ˆ ì—´ì— applyë¡œ len í•¨ìˆ˜ ì ìš©í•˜ê¸°

In [6]:
# ì½”ë“œ 9-5. ì½”ë“œ 9-4ì˜ ê²°ê³¼ë¥¼ df ê¸€ììˆ˜ ì—´ë¡œ ìƒì„±í•˜ê¸°

#### 9.2.2. ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ì™€ apply

- ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ë„ applyë¡œ ì ìš©

- **apply**ëŠ” íŒë‹¤ìŠ¤ì˜ ë°˜ë³µë¬¸ ì—­í•

In [7]:
# ì½”ë“œ 9-6. íŒŒì´ì¬ì—ì„œ ë¬¸ìì—´ì„ ì—­ìˆœìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ë°©ë²•
x0 = 'abc'
x0[::-1]

'cba'

In [8]:
# ì½”ë“œ 9-7. ë¬¸ìì—´ì„ ì—­ìˆœìœ¼ë¡œ ë³€í™˜í•˜ëŠ” ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ rev1 ìƒì„±í•˜ê¸°

In [9]:
# ì½”ë“œ 9-8. í•¨ìˆ˜ rev1ì— ë³€ìˆ˜ x0ë¥¼ ì…ë ¥í•´ í™•ì¸í•˜ê¸°

In [10]:
# ì½”ë“œ 9-9. dfì˜ ë‹µì•ˆ ì—´ì˜ ë¬¸ìì—´ì„ ì—­ìˆœìœ¼ë¡œ ë³€í™˜í•œ ì‹œë¦¬ì¦ˆ ìƒì„±í•˜ê¸°

#### 9.2.3. lambda í•¨ìˆ˜ì™€ apply

- ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ëŠ” **lambdaë¡œ ì •ì˜ ê°€ëŠ¥**

- lambda ì‚¬ìš©ìœ¼ë¡œ **ì½”ë“œ ê°„ê²°ì„±Â·í¸ì˜ì„± í–¥ìƒ**

In [11]:
# ì½”ë“œ 9-10. defë¡œ rev1ì„ ì •ì˜í•˜ê³  applyë¥¼ ì ìš©í•œ ì½”ë“œ ì „ì²´ ëª¨ìŒ
def rev1(x):
    return x[::-1]
df['ë‹µì•ˆ'].apply(rev1)

0       mom
1       teg
2    sadnap
3     level
Name: ë‹µì•ˆ, dtype: object

In [12]:
# ì½”ë“œ 9-11. lambda í•¨ìˆ˜ë¡œ ì½”ë“œ 9-10 ìˆ˜í–‰
# dfì˜ ë‹µì•ˆ ì—´ì˜ ë¬¸ìì—´ì„ ì—­ìˆœìœ¼ë¡œ ë³€í™˜í•œ ì‹œë¦¬ì¦ˆ ìƒì„±

In [13]:
# ì½”ë“œ 9-12. ì½”ë“œ 9-11ì˜ ê²°ê³¼ë¡œ dfì— ì—­ìˆœ ì—´ì„ ìƒì„±í•˜ê¸°

In [14]:
# ì½”ë“œ 9-13. dfì—ì„œ ë„¤ ê¸€ì ì´ìƒì˜ íšŒë¬¸ì„ ë‹µì•ˆìœ¼ë¡œ ì‘ì„±í•œ í•™ìƒ ì°¾ê¸°

#### 9.2.4. ì‹œë¦¬ì¦ˆì— apply í•¨ìˆ˜ ì ìš©í•  ë•Œ ìœ ì˜í•  ì 

<img src=https://i.postimg.cc/Ls5pVRpZ/image.png, width=600>

- apply í•¨ìˆ˜ëŠ” ë²¡í„°í™” ì—°ì‚°ì— ë¹„í•´ ë¹„íš¨ìœ¨ì ì¸ ì½”ë“œ

- **ë²¡í„°í™” ê°€ëŠ¥í•  ë•ŒëŠ” apply ì§€ì–‘**

In [15]:
# ì½”ë“œ 9-14. ë²¡í„°í™” ì—°ì‚°ì´ ê°€ëŠ¥í•  ë•ŒëŠ” apply í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•˜ì§€ ì•ŠëŠ” ê²ƒì´ ë‚«ë‹¤.
s = pd.Series([1, 2, 3, 4])
s + 1 # ë²¡í„°í™” ì—°ì‚°: ê¶Œì¥ ì½”ë“œ
s.apply(lambda x: x + 1) # apply ì ìš©: ê¶Œì¥í•˜ì§€ ì•ŠëŠ” ì½”ë“œ

0    2
1    3
2    4
3    5
dtype: int64

#### 9.2.5. lambda í•¨ìˆ˜ ì¶”ê°€ í•™ìŠµ

ğŸ“Œ **ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ ì‘ì„± ìš”ë ¹**

- ë‹¨ì¼ ê°’ì— ì ìš©ë˜ëŠ” ì½”ë“œ ë¨¼ì € ì‘ì„±

- í•´ë‹¹ ì½”ë“œë¥¼ í•¨ìˆ˜ë¡œ ì „í™˜

In [16]:
# ì½”ë“œ 9-15. lambda í•¨ìˆ˜ ìƒì„± ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
s = pd.Series(['cat01', 'dog02', 'bird03'])
s

0     cat01
1     dog02
2    bird03
dtype: object

In [17]:
# ì½”ë“œ 9-16. ê° ì…€ë§ˆë‹¤ í•¨ìˆ˜ë¥¼ ì ìš©í•  ê²ƒì´ë‹ˆ í•˜ë‚˜ì˜ ì…€ì„ xë¡œ ì§€ì •
x = s[0]
x

'cat01'

In [18]:
# ì½”ë“œ 9-17. xì˜ ë§ˆì§€ë§‰ ë‘ ë¬¸ìë¥¼ ì œê±°í•˜ëŠ” ì½”ë“œ ìƒì„±

In [19]:
# ì½”ë“œ 9-18. ì½”ë“œ 9-17ì„ lambda í•¨ìˆ˜ì— ì…ë ¥í•´ apply í•¨ìˆ˜ì— ì ìš©

In [20]:
# ì½”ë“œ 9-19. sì˜ ë¬¸ìì—´ ê¸¸ì´ê°€ 5ì™€ ê°™ë©´ 'O' ì•„ë‹ˆë©´ 'X'ë¥¼ ë°˜í™˜
s.apply(lambda x: 'O' if len(x) ==  5 else 'X')

0    O
1    O
2    X
dtype: object

###ì—‘ì…€ ì˜ˆì œ 10. í•™ìƒë“¤ì˜ í‚¤ ëª¸ë¬´ê²Œ ë°ì´í„° ê°€ê³µí•˜ê¸° (2)

In [21]:
# ì½”ë“œ 9-20. í•™ìƒë“¤ì˜ í‚¤ì™€ ëª¸ë¬´ê²Œ ì—‘ì…€ íŒŒì¼ì—ì„œ ë°ì´í„° í”„ë ˆì„ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
pd.options.display.max_rows = 6 # 6í–‰ê¹Œì§€ë§Œ ì¶œë ¥
url1 = 'https://github.com/panda-kim/book1/blob/main/12student.xlsx?raw=true'
df_student = pd.read_excel(url1)
df_student

    í•™ìƒì½”ë“œ  ë‚˜ì´      í‚¤   ëª¸ë¬´ê²Œ
0   ë‚¨001  17  186.0  63.5
1   ì—¬001  14  151.0  39.9
2   ì—¬002  15  156.3  47.2
..   ...  ..    ...   ...
97  ë‚¨055  13  175.0  58.0
98  ë‚¨056  15  172.0  51.8
99  ì—¬044  16  159.0  45.0

[100 rows x 4 columns]

In [22]:
# ì½”ë“œ 9-21. í•™ìƒì½”ë“œ ì—´ì˜ ì²« ì…€ì„ xë¡œ ì§€ì •í•´ ì²« ë¬¸ì ë°˜í™˜í•˜ê¸°
x = 'ë‚¨001'
x[0]

'ë‚¨'

In [23]:
# ì½”ë“œ 9-22. ì½”ë“œ 9-21ë¡œ lambda í•¨ìˆ˜ë¥¼ ë§Œë“¤ì–´ ì„±ë³„ ì—´ì„ ìƒì„±í•˜ê¸°

### 9.3. ë°ì´í„° í”„ë ˆì„ì— apply í•¨ìˆ˜ ì ìš©í•˜ê¸°

#### 9.3.1. ë°ì´í„° í”„ë ˆì„ì— apply í•¨ìˆ˜ ì ìš©í•˜ê¸°


<img src=https://i.postimg.cc/wM70B6S3/image.png, width=600>

- ì‹œë¦¬ì¦ˆì—ë§Œ ì ìš©ì´ ê°€ëŠ¥í•œ í•¨ìˆ˜(ì˜ˆ: `pd.to_numeric`)ë¥¼ **ë°ì´í„° í”„ë ˆì„ ì „ì²´ë¡œ í™•ì¥**

In [24]:
# ì½”ë“œ 9-23. ë°ì´í„° í”„ë ˆì„ì— apply í•¨ìˆ˜ ì ìš© ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
import pandas as pd
data = {'êµ­ì–´': {'A': '87', 'B': '70', 'C': '98', 'D': '-'},
        'ì˜ì–´': {'A': '-', 'B': '72', 'C': '76', 'D': '77'},
        'ìˆ˜í•™': {'A': '70', 'B': '73', 'C': '-', 'D': '95'}}
df = pd.DataFrame(data)
df

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™
A  87   -  70
B  70  72  73
C  98  76   -
D   -  77  95

In [25]:
# ì½”ë“œ 9-24. êµ­ì–´ ì—´ì„ ìˆ˜ì¹˜í˜• ìë£Œí˜•ìœ¼ë¡œ ë³€í™˜í•˜ê¸°

In [26]:
# ì½”ë“œ 9-25. df ì „ì²´ë¥¼ ìˆ˜ì¹˜í˜• ìë£Œí˜•ìœ¼ë¡œ ë³€í™˜í•˜ê¸°

#### 9.3.2. ë°ì´í„° í”„ë ˆì„ì— apply í•¨ìˆ˜ ì ìš©í•  ë•Œ ì¶• ì§€ì •


- ì—´ ë‹¨ìœ„ í•¨ìˆ˜ ì ìš© â†’ axis = 0

- í–‰ ë‹¨ìœ„ í•¨ìˆ˜ ì ìš© â†’ axis = 1

In [27]:
# ì½”ë“œ 9-26. ë°ì´í„° í”„ë ˆì„ì— apply í•¨ìˆ˜ ì¶• ì§€ì • ì ìš© ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
data1 = {'êµ­ì–´': {'A': 90, 'B': 70, 'C': 80, 'D': float('nan')},
         'ì˜ì–´': {'A': float('nan'), 'B': 90, 'C': 80, 'D': 90},
         'ìˆ˜í•™': {'A': 20, 'B': 50, 'C': float('nan'), 'D': 40}}
df1 = pd.DataFrame(data1)
df1

     êµ­ì–´    ì˜ì–´    ìˆ˜í•™
A  90.0   NaN  20.0
B  70.0  90.0  50.0
C  80.0  80.0   NaN
D   NaN  90.0  40.0

In [28]:
# ì½”ë“œ 9-27. lambda í•¨ìˆ˜ë¥¼ ì‰½ê²Œ ìƒì„±í•˜ê¸° ìœ„í•´ df1ì˜ êµ­ì–´ ì—´ì„ xë¡œ ì§€ì •
x = df1['êµ­ì–´']
x

A    90.0
B    70.0
C    80.0
D     NaN
Name: êµ­ì–´, dtype: float64

In [29]:
# ì½”ë“œ 9-28. ì‹œë¦¬ì¦ˆ xì˜ ìµœì†Ÿê°’ìœ¼ë¡œ xì˜ ê²°ì¸¡ê°’ì„ ëŒ€ì²´í•˜ëŠ” ì½”ë“œ

In [30]:
# ì½”ë“œ 9-29. ê° ê³¼ëª©(ê° ì—´)ì˜ ìµœì†Ÿê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ ëŒ€ì²´í•˜ê¸°

In [31]:
# ì½”ë“œ 9-30. ê° ê°œì¸(ê° í–‰)ì˜ ìµœì†Ÿê°’ìœ¼ë¡œ ê²°ì¸¡ê°’ ëŒ€ì²´í•˜ê¸°

#### 9.3.3. ë³µìˆ˜ ì—´ì˜ ë°ì´í„°ë¥¼ ì…ë ¥í•˜ëŠ” lambda í•¨ìˆ˜ë¥¼ ê° í–‰ì— ì ìš©í•˜ê¸°

In [32]:
# ì½”ë“œ 9-31. haversine ë¼ì´ë¸ŒëŸ¬ë¦¬ ì„¤ì¹˜
!pip install haversine

Collecting haversine
  Downloading haversine-2.9.0-py2.py3-none-any.whl.metadata (5.8 kB)
Downloading haversine-2.9.0-py2.py3-none-any.whl (7.7 kB)
Installing collected packages: haversine
Successfully installed haversine-2.9.0

In [33]:
# ì½”ë“œ 9-32. ìœ„ë„ì™€ ê²½ë„ê°€ ì•Œë ¤ì§„ ë‘ ì§€ì ì˜ ì§ì„ ê±°ë¦¬ êµ¬í•˜ê¸°
import haversine
seoul = [37.51, 127.05] # ìœ„ë„, ê²½ë„
pusan = [35.12, 129.08]
haversine.haversine(seoul, pusan, unit='km')

322.01611582688184

In [34]:
# ì½”ë“œ 9-33. ê° ë„ì‹œì™€ ì„œìš¸ì˜ ì§ì„ ê±°ë¦¬ë¥¼ êµ¬í•  ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
data2 = {'ë„ì‹œ': ['ì„œìš¸', 'ë¶€ì‚°', 'ê´‘ì£¼', 'ëŒ€ì „', 'ê°•ë¦‰', 'ëŒ€êµ¬'],
         'ìœ„ë„': [37.51, 35.12, 35.13, 36.35, 37.75, 35.87],
         'ê²½ë„': [127.05, 129.08, 126.9, 127.42, 128.88, 128.6]}
df2 = pd.DataFrame(data2)
df2

   ë„ì‹œ     ìœ„ë„      ê²½ë„
0  ì„œìš¸  37.51  127.05
1  ë¶€ì‚°  35.12  129.08
2  ê´‘ì£¼  35.13  126.90
3  ëŒ€ì „  36.35  127.42
4  ê°•ë¦‰  37.75  128.88
5  ëŒ€êµ¬  35.87  128.60

In [35]:
# ì½”ë“œ 9-34. lambda í•¨ìˆ˜ ìƒì„±ì„ ìœ„í•´ df2ì˜ ë‘ ë²ˆì§¸ í–‰ì„ ë³€ìˆ˜ xë¡œ ì§€ì •í•˜ê¸°
x = df2.iloc[1]
x

ë„ì‹œ        ë¶€ì‚°
ìœ„ë„     35.12
ê²½ë„    129.08
Name: 1, dtype: object

In [36]:
# ì½”ë“œ 9-35. ë³€ìˆ˜ xì™€ ë³€ìˆ˜ seoul, í•¨ìˆ˜ haversineìœ¼ë¡œ ì„œìš¸, ë¶€ì‚° ê±°ë¦¬ êµ¬í•˜ê¸°

In [37]:
# ì½”ë“œ 9-36. df2ì—ì„œ ê° ë„ì‹œì™€ ì„œìš¸ê³¼ì˜ ê±°ë¦¬ êµ¬í•˜ê³  ê±°ë¦¬(ì„œìš¸) ì—´ë¡œ ìƒì„±í•˜ê¸°

#### 9.3.4. applyì™€ map í•¨ìˆ˜ ë¹„êµ

[í‘œ 9-1] map, apply ë¹„êµ

| ë¶„ë¥˜ | map | apply |
| :--- | :--- | :--- |
| **ì ìš© ëŒ€ìƒ** | ì‹œë¦¬ì¦ˆ, ì¸ë±ìŠ¤ í´ë˜ìŠ¤ | ì‹œë¦¬ì¦ˆ, ë°ì´í„° í”„ë ˆì„ |
| **ì¸ìˆ˜** | í•¨ìˆ˜, ì‹œë¦¬ì¦ˆ, ë”•ì…”ë„ˆë¦¬ ë“±ì˜ ë§¤í¼ | í•¨ìˆ˜ |
| **ì ìš© ë°©ì‹** | ì…€ë§ˆë‹¤ í•¨ìˆ˜ ì ìš© | ì‹œë¦¬ì¦ˆì— ì ìš©í•  ë•ŒëŠ” ì…€ë§ˆë‹¤ í•¨ìˆ˜ ì ìš©<br>ë°ì´í„° í”„ë ˆì„ì— ì ìš©í•  ë•ŒëŠ” ì‹œë¦¬ì¦ˆë§ˆë‹¤ í•¨ìˆ˜ ì ìš© |

<br>

In [38]:
# ì½”ë“œ 9-37. applyì™€ map ë¹„êµ ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
data3 = [['noon', 'esse', 'rotor'], ['mom', 'marram', 'keek'],
         ['dad', 'nun', 'poop'], ['level', 'pullup', 'otto']]
df3 = pd.DataFrame(data3, index=list('ABCD'), columns=['1íšŒ', '2íšŒ', '3íšŒ'])
df3

      1íšŒ      2íšŒ     3íšŒ
A   noon    esse  rotor
B    mom  marram   keek
C    dad     nun   poop
D  level  pullup   otto

In [39]:
# ì½”ë“œ 9-38. map í•¨ìˆ˜ë¡œ 1íšŒ ì—´ì˜ ê¸€ì ìˆ˜ ë°˜í™˜
df3['1íšŒ'].map(len)

A    4
B    3
C    3
D    5
Name: 1íšŒ, dtype: int64

In [40]:
# ì½”ë“œ 9-39. map í•¨ìˆ˜ë¥¼ df3 ì „ì²´ì— ì ìš©í•´ ë°ì´í„° í”„ë ˆì„ì˜ ê¸€ì ìˆ˜ ë°˜í™˜

###ì—‘ì…€ ì˜ˆì œ 11. ì§€í•˜ì² ì—­ ë°ì´í„° ì „ì²˜ë¦¬ ë° ë¶„ì„í•˜ê¸°

In [41]:
# ì½”ë“œ 9-40. ì§€í•˜ì² ì—­ ìŠ¹ì°¨ì¸ì› ì‹œíŠ¸ë¥¼ df1ìœ¼ë¡œ ì§€ì •í•˜ê¸°
import pandas as pd
pd.options.display.max_rows = 6 # 6í–‰ê¹Œì§€ë§Œ ì¶œë ¥
pd.options.display.max_columns = 10 # 10ì—´ê¹Œì§€ë§Œ ì¶œë ¥
pd.options.display.float_format = '{:.3f}'.format # ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ ì¶œë ¥
url2 = 'https://github.com/panda-kim/book1/blob/main/14subway.xlsx?raw=true'
df1 = pd.read_excel(url2)
df1

     í˜¸ì„ ëª…   ì—­ëª…  04ì‹œ    05ì‹œ    06ì‹œ  ...    21ì‹œ    22ì‹œ    23ì‹œ   00ì‹œ  01ì‹œ
0    1í˜¸ì„   ë™ëŒ€ë¬¸  876  11117   8840  ...  13598  10911   5481   993  157
1    1í˜¸ì„   ë™ë¬˜ì•  186   2785   3330  ...   4445   3328   1273   142   19
2    1í˜¸ì„   ì„œìš¸ì—­  700   7812  12190  ...  91804  61927  29690  3170  140
..   ...  ...  ...    ...    ...  ...    ...    ...    ...   ...  ...
618  ì¤‘ì•™ì„    ì§€í‰    -      -      1  ...     15      5      -     -    -
619  ì¤‘ì•™ì„    íŒ”ë‹¹   29    245    481  ...   1225    832    178     -    -
620  ì¤‘ì•™ì„    íšŒê¸°  964  10699  19393  ...  31866  28229  13310   671    2

[621 rows x 24 columns]

In [42]:
# ì½”ë“œ 9-41. df1ì˜ ê° ì—´ì˜ ìë£Œí˜• í™•ì¸
df1.dtypes

í˜¸ì„ ëª…    object
ì—­ëª…     object
04ì‹œ    object
        ...
23ì‹œ    object
00ì‹œ    object
01ì‹œ    object
Length: 24, dtype: object

In [43]:
# ì½”ë“œ 9-42. df1ì—ì„œ ì—´ ì´ë¦„ì— 'ì‹œ'ë¥¼ í¬í•¨í•˜ëŠ” ì—´ë§Œ ì¶”ì¶œ

In [44]:
# ì½”ë“œ 9-43. colsì— ì†í•œ ì—´ì„ ìˆ˜ì¹˜í˜• ìë£Œí˜•ìœ¼ë¡œ ë³€í™˜í•˜ê¸°

In [45]:
# ì½”ë“œ 9-44. df1ì˜ ê° ì—´ì˜ ìë£Œí˜• í™•ì¸

In [46]:
# ì½”ë“œ 9-45. ì§€í•˜ì² ì—­ ìœ„ë„ ê²½ë„ ì¢Œí‘œ ì‹œíŠ¸ë¥¼ df2ë¡œ ì§€ì •í•˜ê¸°
df2 = pd.read_excel(url2, sheet_name=1)
df2

      ID     ì—­ëª…  í˜¸ì„ ëª…     ìœ„ë„      ê²½ë„
0    150    ì„œìš¸ì—­  1í˜¸ì„  37.556 126.972
1    152     ì¢…ê°  1í˜¸ì„  37.570 126.983
2    153   ì¢…ë¡œ3ê°€  1í˜¸ì„  37.570 126.992
..   ...    ...  ...    ...     ...
768  405     ì§„ì ‘  ì§„ì ‘ì„  37.721 127.203
769  408  ë³„ë‚´ë³„ê°€ëŒ  ì§„ì ‘ì„  37.668 127.116
770  406     ì˜¤ë‚¨  ì§„ì ‘ì„  37.705 127.193

[771 rows x 5 columns]

haversine ë¼ì´ë¸ŒëŸ¬ë¦¬ê°€ ì„¤ì¹˜ë˜ì–´ ìˆì§€ ì•Šë‹¤ë©´

```python
!pip install haversine
```

ì„ ì‹¤í–‰í•œë‹¤

In [47]:
# ì½”ë“œ 9-46. haversine í•¨ìˆ˜ë¡œ ê° ì§€í•˜ì² ì—­ê³¼ ì„œìš¸ ì¤‘ì‹¬ë¶€ì˜ ê±°ë¦¬ êµ¬í•˜ê¸°
import haversine
seoul = [37.51, 127.05] # ì„œìš¸ ì¤‘ì‹¬ì˜ ìœ„ë„, ê²½ë„

In [48]:
# ì½”ë“œ 9-47. ì„œìš¸ ì¤‘ì‹¬ë¶€ì—ì„œ ê°€ì¥ ë©€ë¦¬ ë–¨ì–´ì§„ ì„¸ ê°œì˜ ì—­ í™•ì¸í•˜ê¸°

ğŸ“Œ **apply**í•¨ìˆ˜ë¥¼ ì‚¬ìš©í•  ë•Œ

- ê¸°ë³¸ íŒŒì´ì¬ ë‚´ì¥ í•¨ìˆ˜ë¥¼ ì‹œë¦¬ì¦ˆì˜ ê° ì…€ì— ì ìš©í•  ë•Œ
- ì‹œë¦¬ì¦ˆì—ë§Œ ì ìš©ë˜ëŠ” íŒë‹¤ìŠ¤ í•¨ìˆ˜ë¥¼ ë°ì´í„° í”„ë ˆì„ ì „ì²´ì— ì ìš©í•  ë•Œ
- ì‚¬ìš©ì ì •ì˜ í•¨ìˆ˜ë‚˜ ë‹¤ë¥¸ ë¼ì´ë¸ŒëŸ¬ë¦¬ì˜ í•¨ìˆ˜ë¡œ 1,2ë²ˆì„ ìˆ˜í–‰í•  ë•Œ