## Chapter 11. í”¼ë²—ê³¼ ì–¸í”¼ë²—

In [1]:
# ë²„ì „ ì•ˆë‚´
import pandas as pd
print(f'êµì¬ ê¶Œì¥ ë²„ì „: Pandas 2.2.2')
print(f'í˜„ì¬ ì‹¤í–‰ ë²„ì „: Pandas {pd.__version__}')

êµì¬ ê¶Œì¥ ë²„ì „: Pandas 2.2.2
í˜„ì¬ ì‹¤í–‰ ë²„ì „: Pandas 2.2.2

### 11.1. í”¼ë²— í…Œì´ë¸”

#### 11.1.1. í”¼ë²— í…Œì´ë¸”ì„ ì‚¬ìš©í•˜ëŠ” ì´ìœ 

<img src=https://i.postimg.cc/5y6CZgr8/image.png, width=600>

#### 11.1.2. í”¼ë²— í…Œì´ë¸”ê³¼ ì§‘ê³„ í•¨ìˆ˜

- **ì§‘ê³„ í•¨ìˆ˜ = ì—¬ëŸ¬ ê°’ì„ í•˜ë‚˜ë¡œ ìš”ì•½í•˜ëŠ” í•¨ìˆ˜**

- í”¼ë²— í…Œì´ë¸”ì€ **ì—¬ëŸ¬ ê°’ì„ í•œ ì…€ì— ë‹´ì•„ì•¼ í•˜ë¯€ë¡œ ì§‘ê³„ í•¨ìˆ˜ í•„ìˆ˜**

#### 11.1.3. í”¼ë²— í…Œì´ë¸” ìƒì„±í•˜ê¸°(pivot_table)

<img src=https://i.postimg.cc/63Z8RLQf/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `pivot_table`

ì›ì‹œ ë°ì´í„°ë¡œ í”¼ë²— í…Œì´ë¸”ì„ ìƒì„±í•˜ëŠ” í•¨ìˆ˜

<br>

â­ `pivot_table` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.pivot_table(values=None, index=None, columns=None, aggfunc='mean')
```

- **values**: ì§‘ê³„í•  ëŒ€ìƒ ì—´ì„ ì§€ì •í•œë‹¤. ê·¸ë¦¼ì€ ì ìˆ˜ ì—´ì„ ì§‘ê³„í–ˆë‹¤.

- **index**: í–‰ìœ¼ë¡œ êµ¬ë¶„í•  ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ ì—´ì„ ì§€ì •í•œë‹¤. ê·¸ë¦¼ì€ í”¼ë²— í…Œì´ë¸”ì˜ í–‰ì—ì„œ ë°˜ì´ êµ¬ë¶„ëœë‹¤.

- **columns**: ì—´ë¡œ êµ¬ë¶„í•  ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ ì—´ì„ ì§€ì •í•œë‹¤. ê·¸ë¦¼ì€ í”¼ë²— í…Œì´ë¸”ì˜ ì—´ì—ì„œ ì„±ë³„ì´ êµ¬ë¶„ëœë‹¤.

- **aggfunc**: ê·¸ë£¹ì˜ ì°¨ì›ì„ ì¶•ì†Œí•  ì§‘ê³„ í•¨ìˆ˜ë¥¼ ì§€ì •í•œë‹¤. ê¸°ë³¸ê°’ì€ 'mean'ìœ¼ë¡œ ê·¸ë£¹ì˜ í‰ê· ì„ êµ¬í•´ ì°¨ì›ì„ ì¶•ì†Œí•œë‹¤.

<img src=https://i.postimg.cc/XJ9vXj2s/image.png, width=600>

<br>

In [2]:
# ì½”ë“œ 11-1. ë‹¤ì–‘í•œ í”¼ë²— í…Œì´ë¸”ì„ ìƒì„± ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
import pandas as pd
pd.options.display.float_format = '{:.1f}'.format # ì†Œìˆ˜ì  ì²«ì§¸ ìë¦¬ ì¶œë ¥
data = [['ê¹€íŒë‹¤', 'ë‚¨', 'A', 97, '1ë“±', 'ìˆ˜ì‹œ'],
        ['ê°•ìŠ¹ì£¼', 'ì—¬', 'A', 88, '2ë“±', 'ì •ì‹œ'],
        ['ê¶Œë³´ì•„', 'ì—¬', 'A', 78, '3ë“±', 'ì •ì‹œ'],
        ['ì¡°ë¯¼ì˜', 'ì—¬', 'B', 64, '3ë“±', 'ìˆ˜ì‹œ'],
        ['ë°•ìƒí˜„', 'ë‚¨', 'B', 84, '2ë“±', 'ìˆ˜ì‹œ'],
        ['ì†¡ì¤‘ê¸°', 'ë‚¨', 'B', 89, '1ë“±', 'ìˆ˜ì‹œ'],
        ['ìµœì§„í™˜', 'ë‚¨', 'C', 87, '3ë“±', 'ì •ì‹œ'],
        ['ì¥ë²”ì¤€', 'ë‚¨', 'C', 92, '2ë“±', 'ì •ì‹œ'],
        ['ì•ˆì§€ì„ ', 'ì—¬', 'C', 99, '1ë“±', 'ìˆ˜ì‹œ']]
col = ['ì´ë¦„', 'ì„±ë³„', 'ë°˜', 'ì ìˆ˜', 'ë°˜ë“±ìˆ˜', 'ë¹„ê³ ']

data1 = {'ì œí’ˆ': ['A', 'B', 'A', 'B', 'B', 'A'],
         'íŒë§¤ëŸ‰': [float('nan'), 2, 3, 4, float('nan'), 6]}

df = pd.DataFrame(data, columns=col)
df1 = pd.DataFrame(data1)
df

    ì´ë¦„ ì„±ë³„  ë°˜  ì ìˆ˜ ë°˜ë“±ìˆ˜  ë¹„ê³
0  ê¹€íŒë‹¤  ë‚¨  A  97  1ë“±  ìˆ˜ì‹œ
1  ê°•ìŠ¹ì£¼  ì—¬  A  88  2ë“±  ì •ì‹œ
2  ê¶Œë³´ì•„  ì—¬  A  78  3ë“±  ì •ì‹œ
3  ì¡°ë¯¼ì˜  ì—¬  B  64  3ë“±  ìˆ˜ì‹œ
4  ë°•ìƒí˜„  ë‚¨  B  84  2ë“±  ìˆ˜ì‹œ
5  ì†¡ì¤‘ê¸°  ë‚¨  B  89  1ë“±  ìˆ˜ì‹œ
6  ìµœì§„í™˜  ë‚¨  C  87  3ë“±  ì •ì‹œ
7  ì¥ë²”ì¤€  ë‚¨  C  92  2ë“±  ì •ì‹œ
8  ì•ˆì§€ì„   ì—¬  C  99  1ë“±  ìˆ˜ì‹œ

In [3]:
# ì½”ë“œ 11-2. dfë¥¼ ë°˜(index)ê³¼ ì„±ë³„(columns)ë¡œ êµ¬ë¶„í•´ í‰ê·  ì ìˆ˜ êµ¬í•˜ê¸°

In [4]:
# ì½”ë“œ 11-3. ì½”ë“œ 11-2ì—ì„œ ë§¤ê°œë³€ìˆ˜ aggfuncì˜ ê¸°ë³¸ê°’ì´ 'mean'ì´ê¸°ì— ìƒëµì´ ê°€ëŠ¥

#### 11.1.4. ë³µìˆ˜ì˜ ì¸ìˆ˜ë¥¼ ì…ë ¥í•´ í”¼ë²— í…Œì´ë¸” ë§Œë“¤ê¸°

- ë„¤ ê°€ì§€ ë§¤ê°œë³€ìˆ˜ ëª¨ë‘ **ë³µìˆ˜ì˜ ì¸ìˆ˜ ì…ë ¥ ê°€ëŠ¥**  
- ë³µìˆ˜ì˜ ì¸ìˆ˜ëŠ” **ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ ì „ë‹¬**

In [5]:
# ì½”ë“œ 11-4. dfì—ì„œ ë°˜ê³¼ ì„±ë³„(index), ë¹„ê³ (columns)ë¡œ ë‚˜ëˆ„ì–´ í‰ê·  ì ìˆ˜ êµ¬í•˜ê¸°

In [6]:
# ì½”ë“œ 11-5. dfì—ì„œ ë°˜(index)ê³¼ ì„±ë³„(columns)ë¡œ ë‚˜ëˆ„ì–´ í‰ê·  ì ìˆ˜ì™€ ì¸ì›ìˆ˜ êµ¬í•˜ê¸°

#### 11.1.5. ì¸ìˆ˜ë¡œ í•¨ìˆ˜ë¥¼ ì…ë ¥í•˜ëŠ” ë°©ë²•

ğŸ“Œ **pivot_tableì˜ aggfuncì— ì§‘ê³„ í•¨ìˆ˜ë¥¼ ì…ë ¥í•˜ëŠ” ë°©ë²•**

- **ì‹œë¦¬ì¦ˆì— ì ìš©ì´ ê°€ëŠ¥í•œ í•¨ìˆ˜**ë§Œ ê°€ëŠ¥  
- ì¸ìˆ˜ë¡œ ë„£ì„ ë•ŒëŠ” **ë©”ì„œë“œê°€ ì•„ë‹Œ í•¨ìˆ˜ í˜•íƒœ**ë¡œ ì…ë ¥  
  - ì˜ˆ: `s.count()` X â†’ `pd.Series.count` O  
- ìì£¼ ì“°ëŠ” í•¨ìˆ˜ëŠ” **ë¬¸ìì—´ë¡œë„ í˜¸ì¶œ ê°€ëŠ¥**  
  - `'count'`, `'sum'`, `'max'` ë“±

#### 11.1.6. ê·¸ë£¹í™”ì—ë§Œ ì ìš©ë˜ëŠ” ì§‘ê³„ í•¨ìˆ˜(first, last)

ğŸ“Œ **first / last ì§‘ê³„ í•¨ìˆ˜ì˜ íŠ¹ì§•**

- **firstÂ·lastëŠ” ê·¸ë£¹ì„ ë‚˜ëˆŒ ë•Œë§Œ ì‚¬ìš© ê°€ëŠ¥í•œ íŠ¹ë³„í•œ ì§‘ê³„ í•¨ìˆ˜**

 - pivot_table, groupby, resample ë“± ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” í•¨ìˆ˜ì™€ í•¨ê»˜ ì‚¬ìš©í•  ë•Œë§Œ ë™ì‘

  - **first** â†’ ê° ê·¸ë£¹ì—ì„œ **nullì´ ì•„ë‹Œ ì²« ë²ˆì§¸ ê°’** ë°˜í™˜
  
  - **last** â†’ ê° ê·¸ë£¹ì—ì„œ **nullì´ ì•„ë‹Œ ë§ˆì§€ë§‰ ê°’** ë°˜í™˜

ì‹¤ìŠµì— ì“°ì¼ df1 í™•ì¸

|    | ì œí’ˆ   |   íŒë§¤ëŸ‰ |
|---:|:-------|---------:|
|  0 | A      |      NaN |
|  1 | B      |        2 |
|  2 | A      |        3 |
|  3 | B      |        4 |
|  4 | B      |      NaN |
|  5 | A      |        6 |

In [7]:
# ì½”ë“œ 11-6. df1ì—ì„œ ì œí’ˆë³„ë¡œ ì²« ë²ˆì§¸ íŒë§¤ëŸ‰ì„ ì§‘ê³„

In [8]:
# ì½”ë“œ 11-7. df1ì—ì„œ ì œí’ˆë³„ë¡œ ë§ˆì§€ë§‰ íŒë§¤ëŸ‰ì„ ì§‘ê³„

In [9]:
# ì½”ë“œ 11-8. dfì—ì„œ ë°˜(index)ê³¼ ì„±ë³„(columns)ë¡œ ë‚˜ëˆ„ì–´ 1ë“±ì˜ ëª…ë‹¨ ìƒì„±í•˜ê¸°

#### 11.1.7. ë¬¸ìì—´ í”¼ë²—(pivot)

<img src=https://i.postimg.cc/g0tYJwqV/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `pivot`

ì§‘ê³„ í•¨ìˆ˜ ì—†ì´ í”¼ë²— í…Œì´ë¸”ì„ ë§Œë“œëŠ” í•¨ìˆ˜. ì£¼ë¡œ ë¬¸ìì—´ í”¼ë²—ì— ì“°ì¸ë‹¤.

<br>

â­ `pivot` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.pivot(index=None, columns=None, values=None)
```


- **index**: í–‰ìœ¼ë¡œ êµ¬ë¶„í•  ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ ì—´ì„ ì§€ì •í•œë‹¤. ê·¸ë¦¼ì€ í–‰ì—ì„œ ë“±ìˆ˜ê°€ êµ¬ë¶„ëœë‹¤.

- **columns**: ì—´ë¡œ êµ¬ë¶„í•  ê·¸ë£¹ì„ ë‚˜ëˆ„ëŠ” ê¸°ì¤€ ì—´ì„ ì§€ì •í•œë‹¤. ê·¸ë¦¼ì€ ì—´ì—ì„œ ë°˜ì´ êµ¬ë¶„ëœë‹¤.

- **values**:í”¼ë²—í•  ëŒ€ìƒ ì—´ì„ ì§€ì •í•œë‹¤. ê·¸ë¦¼ì€ ì´ë¦„ ì—´ì„ í”¼ë²—í–ˆë‹¤.

<br>

In [10]:
# ì½”ë“œ 11-9. dfì—ì„œ pivot í•¨ìˆ˜ë¡œ ë°˜(index), ë°˜ë“±ìˆ˜(columns)ë¡œ ë‚˜ëˆ„ì–´ ì´ë¦„ì„ í”¼ë²—

#### 11.1.8. ë¹ˆë„ìˆ˜ë¥¼ ì§‘ê³„í•˜ëŠ” êµì°¨í‘œ ë§Œë“¤ê¸°(crosstab)

<img src=https://i.postimg.cc/t41kfwv1/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `crosstab`

ë¹ˆë„ìˆ˜ë¥¼ ì§‘ê³„í•´ êµì°¨í‘œë¥¼ ìƒì„±í•˜ëŠ” í•¨ìˆ˜ì´ë‹¤.

<br>

â­ `crosstab` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
pd.crosstab(index, columns)
```

- **index**: í–‰ìœ¼ë¡œ ê·¸ë£¹í™”í•  ê¸°ì¤€ ì—´ì„ ì…ë ¥í•œë‹¤.

- **columns**: ì—´ë¡œ ê·¸ë£¹í™”í•  ê¸°ì¤€ ì—´ì„ ì…ë ¥í•œë‹¤.

<br>

In [11]:
# ì½”ë“œ 11-10. crosstab í•¨ìˆ˜ ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
data = {'ë°˜': ['A', 'A', 'A', 'B', 'B', 'B'],
        'ì„±ë³„': ['ë‚¨', 'ì—¬', 'ì—¬', 'ì—¬', 'ë‚¨', 'ë‚¨']}
df = pd.DataFrame(data)
df

   ë°˜ ì„±ë³„
0  A  ë‚¨
1  A  ì—¬
2  A  ì—¬
3  B  ì—¬
4  B  ë‚¨
5  B  ë‚¨

In [12]:
# ì½”ë“œ 11-11. dfì—ì„œ ë°˜(index), ì„±ë³„(columns)ì„ ë‚˜ëˆ„ì–´ crosstab í•¨ìˆ˜ë¡œ ì¸ì›ìˆ˜ ì§‘ê³„

### ì—‘ì…€ ì˜ˆì œ 14. íƒ€ì´íƒ€ë‹‰ ì¹¨ëª° ì‚¬ê³ ì—ì„œ ê³¼ì—° ì—¬ì„±ê³¼ ì•„ì´ë¥¼ ë¨¼ì € êµ¬ì¡°í–ˆì„ê¹Œ?

In [13]:
# ì½”ë“œ 11-12. íƒ€ì´íƒ€ë‹‰ ì—‘ì…€ íŒŒì¼ì—ì„œ ë°ì´í„° í”„ë ˆì„ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
pd.options.display.max_rows = 6 # 6í–‰ê¹Œì§€ë§Œ ì¶œë ¥
pd.options.display.float_format = '{:.3f}'.format # ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ ì¶œë ¥
url1 = 'https://github.com/panda-kim/book1/blob/main/05titanic.xlsx?raw=true'
df_titanic = pd.read_excel(url1)
df_titanic

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000,1,0,A/5 21171,7.250,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000,1,0,PC 17599,71.283,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000,0,0,STON/O2. 3101282,7.925,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.000,0,0,370376,7.750,NaN,Q

In [14]:
# ì½”ë“œ 11-13. ì„±ë³„(index)ê³¼ ê°ì‹¤ ë“±ê¸‰(columns)ìœ¼ë¡œ ë‚˜ëˆ„ì–´ ìƒì¡´ìœ¨ êµ¬í•˜ê¸°
# df_titanicì„ ëŒ€ìƒìœ¼ë¡œ êµ¬í•´, ê²°ê³¼ëŠ” df_resultë¡œ ì§€ì •

In [15]:
# ì½”ë“œ 11-14. df_resultì˜ ì—´ ìˆœì„œë¥¼ male, femaleìœ¼ë¡œ ë³€ê²½í•˜ê³  ì¸ë±ìŠ¤ëª… ì‚­ì œ

In [16]:
# ì½”ë“œ 11-15. ê°ì‹¤ ë“±ê¸‰(columns)ìœ¼ë¡œ ë‚˜ëˆ„ì–´ 15ì„¸ ì´í•˜ì˜ ìƒì¡´ìœ¨ì„ êµ¬í•˜ê¸°
# df_titanicì—ì„œ 15ì„¸ ì´í•˜ì˜ ìƒì¡´ìœ¨ì„ êµ¬í•´ df_childë¡œ ì§€ì •

In [17]:
# ì½”ë“œ 11-16. df_resultì— 15ì„¸ ì´í•˜ì˜ ìƒì¡´ìœ¨ì„ ì—´ë¡œ ìƒì„±í•˜ê¸°

In [18]:
# ì½”ë“œ 11-17. df_resultë¥¼ ì‹œê°í™”
colors = ['#111558', '#3496c6', '#cce8c8'] # í—¥ìŠ¤ ì½”ë“œë¡œ ìƒ‰ìƒ ì„¤ì •

### 11.2. ì–¸í”¼ë²—

#### 11.2.1. ì–¸í”¼ë²—ì´ í•„ìš”í•œ ì´ìœ 

<img src=https://i.postimg.cc/5y6CZgr8/image.png, width=600>

ğŸ“Œ **ì–¸í”¼ë²—ì´ í•„ìš”í•œ ì´ìœ **

- í”¼ë²—ëœ ë°ì´í„°ë¥¼ **ì›ì‹œ ë°ì´í„° í˜•íƒœë¡œ ë³µì›**í•´ ê´€ë¦¬Â·ì¶”ê°€ê°€ ì‰¬ì›Œì§„ë‹¤  
- í”¼ë²— í…Œì´ë¸”ë§Œìœ¼ë¡œëŠ” **ë°ì´í„° ì¶”ê°€Â·í™•ì¥Â·ì¬êµ¬ì¡°í™”ê°€ ì–´ë µë‹¤**  
- í•œ ë°©í–¥ìœ¼ë¡œ ìš”ì•½ëœ í”¼ë²— í…Œì´ë¸”ì€ **ë‹¤ë¥¸ ë°©í–¥ìœ¼ë¡œ ë‹¤ì‹œ í”¼ë²—í•˜ê¸° ì–´ë ¤ì›€**  
- ì–¸í”¼ë²—ì„ í•˜ë©´ **í–‰ ë‹¨ìœ„ ì •ë³´ê°€ ì‚´ì•„ë‚˜** ì›í•˜ëŠ” í˜•íƒœë¡œ **ìƒˆë¡œìš´ í”¼ë²— í…Œì´ë¸” ìƒì„± ê°€ëŠ¥**  
- íŒë‹¤ìŠ¤ ì–¸í”¼ë²— ë°©ë²•
  - **stack + reset_index**
  - **melt**

#### 11.2.2. stack í•¨ìˆ˜ë¡œ ì–¸í”¼ë²—

- **stack + reset_index** ì´ë¯¸ í•™ìŠµí•œ ë‘ í•¨ìˆ˜ë¥¼ ì¡°í•©í•´ **ì–¸í”¼ë²—ì„ ìˆ˜í–‰í•œë‹¤.**

In [19]:
# ì½”ë“œ 11-18. stackê³¼ reset_indexë¡œ ì–¸í”¼ë²— ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
import pandas as pd
pd.options.display.max_rows = 10 # 10í–‰ê¹Œì§€ë§Œ ì¶œë ¥ ì½”ë“œ
data1 = {'1ë“±': {'1íšŒì°¨': 'ê¹€íŒë‹¤', '2íšŒì°¨': 'ë°•íš¨ì‹ ', '3íšŒì°¨': 'ê¹€íŒë‹¤'},
         '2ë“±': {'1íšŒì°¨': 'ê¶Œë³´ì•„', '2íšŒì°¨': 'ê¶Œë³´ì•„', '3íšŒì°¨': 'ë°•íš¨ì‹ '},
         '3ë“±': {'1íšŒì°¨': 'ë°•íš¨ì‹ ', '2íšŒì°¨': 'ê°•ìŠ¹ì£¼', '3íšŒì°¨': 'ê¹€ë²”ìˆ˜'}}
df = pd.DataFrame(data1)
df

      1ë“±   2ë“±   3ë“±
1íšŒì°¨  ê¹€íŒë‹¤  ê¶Œë³´ì•„  ë°•íš¨ì‹
2íšŒì°¨  ë°•íš¨ì‹   ê¶Œë³´ì•„  ê°•ìŠ¹ì£¼
3íšŒì°¨  ê¹€íŒë‹¤  ë°•íš¨ì‹   ê¹€ë²”ìˆ˜

In [20]:
# ì½”ë“œ 11-19. stackê³¼ reset_indexë¡œ ì–¸í”¼ë²—í•˜ê¸°
# dfë¥¼ ì–¸í”¼ë²—

In [21]:
# ì½”ë“œ 11-20. ì½”ë“œ 11-19ì˜ ê²°ê³¼ì—ì„œ ì—´ ì´ë¦„ì„ ì„¤ì •í•´ ë³€ìˆ˜ df1ìœ¼ë¡œ ì§€ì •

In [22]:
# ì½”ë“œ 11-21. df1ìœ¼ë¡œ ê° ì‚¬ëŒì˜ ì…ìƒ ë¹ˆë„ìˆ˜ë¥¼ ì§‘ê³„

#### 11.2.3. melt í•¨ìˆ˜ë¡œ ì–¸í”¼ë²—

<img src=https://i.postimg.cc/2jGDGcK4/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `melt`

ë°ì´í„° í”„ë ˆì„ì˜ ì–¸í”¼ë²—ì„ ìˆ˜í–‰í•˜ëŠ” í•¨ìˆ˜

<br>

â­ `melt` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.melt(id_vars=None, value_vars=None, var_name='variable', value_name='value')
```
- **id_vars**: ì¸ë±ìŠ¤ì²˜ëŸ¼ ì–¸í”¼ë²—í•˜ì§€ ì•Šê³  ë³„ë„ì˜ ì—´ë¡œ ì²˜ë¦¬ë  ì—´ì„ ì§€ì •í•œë‹¤.

- **value_vars**: ì–¸í”¼ë²—ì„ ìˆ˜í–‰í•  ì—´ì„ ì§€ì •í•œë‹¤. ê¸°ë³¸ê°’ìœ¼ë¡œ id_varsì— ì§€ì •ë˜ì§€ ì•Šì€ ëª¨ë“  ì—´ì„ ì–¸í”¼ë²—í•œë‹¤.

- **var_name**: ì–¸í”¼ë²— í›„ ìƒì„±ë˜ëŠ” variable ì—´ì˜ ì´ë¦„ì„ ë³€ê²½í•œë‹¤.

- **value_name**: ì–¸í”¼ë²— í›„ ìƒì„±ë˜ëŠ” value ì—´ì˜ ì´ë¦„ì„ ë³€ê²½í•œë‹¤.

<br>

In [23]:
# ì½”ë“œ 11-22. melt í•¨ìˆ˜ ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
import pandas as pd
data = {'ë°˜': ['A', 'B', 'C'], 'ë‚¨': [10, 20, 15], 'ì—¬': [30, 40, 35]}
df = pd.DataFrame(data)
df1 = df.set_index('ë°˜')
df

   ë°˜   ë‚¨   ì—¬
0  A  10  30
1  B  20  40
2  C  15  35

In [24]:
# ì½”ë“œ 11-23. dfì—ì„œ melt í•¨ìˆ˜ë¡œ ì–¸í”¼ë²—í•˜ê¸°

In [25]:
# ì½”ë“œ 11-24. value_varsë¥¼ ìƒëµí•´ë„ ì½”ë“œ 11-23ê³¼ ê°™ì€ ê²°ê³¼ë¥¼ ì–»ëŠ”ë‹¤.

In [26]:
# ì½”ë“œ 11-25. ì–¸í”¼ë²— ê²°ê³¼ì—ì„œ ì—´ ì´ë¦„ ì„¤ì •í•˜ê¸°

#### 11.2.4. stack í•¨ìˆ˜ì™€ melt í•¨ìˆ˜ì˜ ì–¸í”¼ë²— ìˆ˜í–‰ì˜ ì°¨ì´ì 

- **meltëŠ” ì¸ë±ìŠ¤ë¥¼ ë³´ì¡´í•˜ì§€ ì•ŠìŒ** â†’ ì¸ë±ìŠ¤ê°€ ì¤‘ìš”í•˜ë©´ **stack + reset_index**  
- ë‘ ê¸°ë²•ì€ **ì •ë ¬ ê²°ê³¼ê°€ ë‹¤ë¦„**  
- ë‘˜ ë‹¤ ì–¸í”¼ë²— ê°€ëŠ¥í•˜ë¯€ë¡œ **ìƒí™©Â·ì·¨í–¥ì— ë”°ë¼ ì„ íƒ**

### ì—‘ì…€ ì˜ˆì œ 15. í”¼ë²— í…Œì´ë¸”ë¡œ ë³´ì¡´ëœ ë§ˆíŠ¸ì˜ ë§¤ì¶œ ë°ì´í„°ë¡œ ë‹¤ì–‘í•œ ì§‘ê³„í•˜ê¸°

In [27]:
# ì½”ë“œ 11-26. ì²«ë²ˆì§¸ ì‹œíŠ¸ë§Œ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
pd.options.display.float_format = '{:.2f}'.format # ì†Œìˆ˜ì  ë‘˜ì§¸ ìë¦¬ ì¶œë ¥
pd.options.display.max_rows = 6 # 6í–‰ê¹Œì§€ë§Œ ì¶œë ¥
url2 = 'https://github.com/panda-kim/book1/blob/main/17mart.xlsx?raw=true'
df1 = pd.read_excel(url2)
df1

,ì œí’ˆ,ê°•ë‚¨ì,ì„œì´ˆì,ì†¡íŒŒì,ë…¸ì›ì,ì€í‰ì,ê¸ˆì²œì,ì‹ ë„ë¦¼ì,ìš©ì¸ ì£½ì „ì,ìš©ì¸ ìˆ˜ì§€ì,ìˆ˜ì› ì˜í†µì,ì¸ì²œ ì£¼ì•ˆì,ì¸ì²œ ê²€ë‹¨ì,ë™ì¸ì²œì,ë¶„ë‹¹ì,ì¼ì‚°ì,ë¶€í‰ì,ë¶€ì²œ ì˜¥ê¸¸ì
0,ì¢…í•©ì–´ë¬µ (300g),1930000,1350000,630000,420000,1360000,1370000,1880000,1210000,710000,1130000,280000,1260000,1480000,960000,960000,710000,1220000
1,ìœ ê¸°ë†ë–¡íŠ€ë°¥ (40g),320000,380000,490000,1320000,1380000,1350000,1280000,860000,720000,1500000,1090000,1850000,420000,570000,720000,1680000,1020000
2,ì—¼ì¥ë‹¤ì‹œë§ˆ (400g),1310000,1700000,670000,640000,1180000,1840000,910000,1080000,240000,1510000,660000,1420000,260000,1440000,1880000,410000,780000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,ìƒì„ ê°€ìŠ¤ (300g),850000,1440000,200000,300000,410000,300000,1090000,1830000,610000,1690000,1390000,1210000,390000,940000,650000,1300000,1300000
198,ê²Œë§›ì‚´ (178g),1240000,380000,1680000,1500000,730000,550000,440000,1730000,300000,1700000,450000,1980000,330000,1430000,1620000,1780000,1610000
199,ë©¸ì¹˜ê°€ë£¨ (120g),250000,1170000,1980000,340000,1760000,550000,920000,280000,400000,1370000,1310000,1710000,980000,1370000,1890000,930000,1030000

In [28]:
# ì½”ë“œ 11-27. ì²« ë²ˆì§¸ ì‹œíŠ¸ ì–¸í”¼ë²—í•˜ê¸°
df1.melt('ì œí’ˆ', var_name='ì§€ì ', value_name='ë§¤ì¶œ')

                ì œí’ˆ      ì§€ì        ë§¤ì¶œ
0      ì¢…í•©ì–´ë¬µ (300g)     ê°•ë‚¨ì   1930000
1     ìœ ê¸°ë†ë–¡íŠ€ë°¥ (40g)     ê°•ë‚¨ì    320000
2     ì—¼ì¥ë‹¤ì‹œë§ˆ (400g)     ê°•ë‚¨ì   1310000
...            ...     ...      ...
3397   ìƒì„ ê°€ìŠ¤ (300g)  ë¶€ì²œ ì˜¥ê¸¸ì   1300000
3398    ê²Œë§›ì‚´ (178g)  ë¶€ì²œ ì˜¥ê¸¸ì   1610000
3399   ë©¸ì¹˜ê°€ë£¨ (120g)  ë¶€ì²œ ì˜¥ê¸¸ì   1030000

[3400 rows x 3 columns]

In [29]:
# ì½”ë“œ 11-28. ì²« ë²ˆì§¸ì™€ ë‘ ë²ˆì§¸ ì‹œíŠ¸ë¥¼ ì–¸í”¼ë²—í•˜ê³  ì—°ê²°
# ì²« ë²ˆì§¸ ì‹œíŠ¸ ì–¸í”¼ë²—
df1 = pd.read_excel(url2)
df1 = df1.melt('ì œí’ˆ', var_name='ì§€ì ', value_name='ë§¤ì¶œ')
df1['ë‚ ì§œ'] = '2023-08' # ê° ì‹œíŠ¸ì— ë§ê²Œ ë‚ ì§œ ë°ì´í„° ìƒì„±

# ë‘ ë²ˆì§¸ ì‹œíŠ¸ ì–¸í”¼ë²—
df2 = pd.read_excel(url2, sheet_name=1)
df2 = df2.melt('ì œí’ˆ', var_name='ì§€ì ', value_name='ë§¤ì¶œ')
df2['ë‚ ì§œ'] = '2023-09' # ê° ì‹œíŠ¸ì— ë§ê²Œ ë‚ ì§œ ë°ì´í„° ìƒì„±

# df1ê³¼ df2ë¥¼ concatë¡œ ì—°ê²°í•˜ê³ , ê²°ê³¼ë¥¼ ë³€ìˆ˜ df_martë¡œ ì§€ì •
df_mart = pd.concat([df1, df2]).reset_index(drop=True)
df_mart

                ì œí’ˆ      ì§€ì        ë§¤ì¶œ       ë‚ ì§œ
0      ì¢…í•©ì–´ë¬µ (300g)     ê°•ë‚¨ì   1930000  2023-08
1     ìœ ê¸°ë†ë–¡íŠ€ë°¥ (40g)     ê°•ë‚¨ì    320000  2023-08
2     ì—¼ì¥ë‹¤ì‹œë§ˆ (400g)     ê°•ë‚¨ì   1310000  2023-08
...            ...     ...      ...      ...
6797   ìƒì„ ê°€ìŠ¤ (300g)  ë¶€ì²œ ì˜¥ê¸¸ì   1490000  2023-09
6798    ê²Œë§›ì‚´ (178g)  ë¶€ì²œ ì˜¥ê¸¸ì   1740000  2023-09
6799   ë©¸ì¹˜ê°€ë£¨ (120g)  ë¶€ì²œ ì˜¥ê¸¸ì    410000  2023-09

[6800 rows x 4 columns]

In [30]:
# ì½”ë“œ 11-29. df_martì— ì§€ì êµ¬ë¶„ ì‹œíŠ¸ë¥¼ ë³‘í•©

In [31]:
# ì½”ë“œ 11-30. df_martì— ì œí’ˆêµ¬ë¶„ ì‹œíŠ¸ë¥¼ ë³‘í•©

In [32]:
# ì½”ë“œ 11-31. ì§€ì—­(index)ê³¼ ë‚ ì§œ(columns)ë¥¼ êµ¬ë¶„í•´ ë§¤ì¶œ í•©ê³„ êµ¬í•˜ê¸°

In [33]:
# ì½”ë“œ 11-32. ì²­ê³¼ ì œí’ˆêµ°ì˜ ì´ë§¤ì¶œëŸ‰ì„ ì›”ë³„ë¡œ ì§ì˜ì ê³¼ ë¹„ì§ì˜ì  ë¹„êµí•˜ê¸°