## Chapter 3. 데이터 프레임과 시리즈

### 3.1. 데이터 프레임

#### 3.1.1. 데이터 프레임이란?

#### 3.1.2. 데이터 프레임의 구조 확인하기

In [1]:
# 코드 3-1. 데이터 프레임 df를 생성하는 코드
import pandas as pd # 판다스 라이브러리 불러오기
df = pd.DataFrame([[63, 93, 97], [89, 83, 71], [83, 76, 92], [94, 88, 73]],
                  index=['김판다', '강승주', '송중기', '권보아'],
                  columns=['국어', '영어', '수학'])
df

     국어  영어  수학
김판다  63  93  97
강승주  89  83  71
송중기  83  76  92
권보아  94  88  73

In [2]:
# 코드 3-2. index 속성으로 데이터 프레임의 인덱스를 반환하기

In [3]:
# 코드 3-3. columns 속성으로 데이터 프레임의 컬럼즈를 반환하기

In [4]:
# 코드 3-4. T(transpose)속성으로 데이터 프레임의 행과 열을 맞교환하기

In [5]:
# 코드 3-5. values 속성으로 데이터 프레임의 밸류즈를 반환하기

In [6]:
# 코드 3-6. 비교 연산으로 불(bool) 데이터 프레임으로 변환하기(90보다 크다)

#### 3.1.3. 데이터 프레임 생성하기

In [7]:
# 코드 3-7. DataFrame 함수에 2차원 리스트를 입력해 데이터 프레임 생성
data1 = [[63, 93, 97], [89, 83, 71], [83, 76, 92], [94, 88, 73]]

In [8]:
# 코드 3-8. 매개변수 index에 설정하려는 인덱스 입력하기
idx = ['김판다', '강승주', '송중기', '권보아']

In [9]:
# 코드 3-9. 매개변수 columns에 설정하려는 컬럼즈 입력하기
cols = ['국어', '영어', '수학']

생성형 AI를 활용한 데이터 프레임 생성 코드 작성

```
pd.DataFrame으로 아래 데이터 프레임을 생성하는 코드를 제공하라.

        국어	영어	수학
김판다	63	93	97
강승주	89	83	71
송중기	83	76	92
권보아	94	88	73

```

In [10]:
# 실제 생성형 AI가 제공한 코드
import pandas as pd

data = {
    '국어': {'김판다': 63, '강승주': 89, '송중기': 83, '권보아': 94},
    '영어': {'김판다': 93, '강승주': 83, '송중기': 76, '권보아': 88},
    '수학': {'김판다': 97, '강승주': 71, '송중기': 92, '권보아': 73}
}

df_new = pd.DataFrame(data)
df_new

     국어  영어  수학
김판다  63  93  97
강승주  89  83  71
송중기  83  76  92
권보아  94  88  73

In [11]:
# 코드 3-10. 딕셔너리로 데이터 프레임 생성하기
data2 = {'국어': {'김판다': 63, '강승주': 89, '송중기': 83, '권보아': 94},
         '영어': {'김판다': 93, '강승주': 83, '송중기': 76, '권보아': 88},
         '수학': {'김판다': 97, '강승주': 71, '송중기': 92, '권보아': 73}}
df = pd.DataFrame(data2)
df

     국어  영어  수학
김판다  63  93  97
강승주  89  83  71
송중기  83  76  92
권보아  94  88  73

### 3.2. 시리즈

#### 3.2.1. 시리즈란?

#### 3.2.2. 시리즈 만들기

In [12]:
# 코드 3-11. Series 함수에 1차원 리스트를 데이터로 입력

In [13]:
# 코드 3-12. 매개변수 index에 원하는 인덱스 입력하기

In [14]:
# 코드 3-13. 데이터 프레임의 열에서 시리즈 추출하기(df의 영어 열)

#### 3.2.3. 시리즈의 구조 확인하기

In [15]:
# 코드 3-14. index 속성으로 시리즈 s의 인덱스를 반환하기

In [16]:
# 코드 3-15. values 속성으로 시리즈 s의 밸류즈를 반환하기

In [17]:
# 코드 3-16. 비교 연산으로 불(bool) 시리즈로 변환하기(90보다 크다)

### 3.3. 파일에서 데이터 프레임 불러오기

#### 3.3.1. 엑셀 파일에서 데이터 프레임 불러오기(read_excel)

In [18]:
# 코드 3-17. 엑셀 파일의 첫 번째 시트를 데이터 프레임으로 불러오기
import pandas as pd
url1 = 'https://github.com/panda-kim/book1/blob/main/01re.xlsx?raw=true'

In [19]:
# 코드 3-18. 엑셀 파일의 두 번째 시트를 데이터 프레임으로 불러오기

In [20]:
# 코드 3-19. 시트의 로케이션으로 두 번째 시트 불러오기

In [21]:
# 코드 3-20. 세 번째 행을 컬럼즈로 지정해 세 번째 시트 불러오기

In [22]:
# 코드 3-21. 맨 왼쪽 열을 인덱스로 지정해 네 번째 시트 불러오기

In [23]:
# 코드 3-22. 다섯 번째 시트를 불러 오면서 학생코드 열을 문자열로 지정

#### 3.3.2. CSV 파일에서 데이터 프레임 불러오기(read_csv)

In [24]:
# 코드 3-23. CSV 파일에서 데이터 프레임 불러오기
url1 = 'https://github.com/panda-kim/book1/blob/main/02read_csv1.csv?raw=true'

In [25]:
# 코드 3-24. 인코딩을 EUC-KR 방식로 지정해 데이터 프레임 불러오기
url2 = 'https://github.com/panda-kim/book1/blob/main/03read_csv2.csv?raw=true'

만약 인코딩 방식을 지정하지 않으면 다음과 같은 에러가 발생한다

```python
pd.read_csv(url2)
```

```python
UnicodeDecodeError:
'utf-8' codec can't decode byte 0xc0 in position 0: invalid start byte
```

### 3.4. 데이터 프레임 저장하기

#### 3.4.1. 딕셔너리로 변환하기(to_dict)

In [26]:
# 코드 3-25. 데이터 프레임 df를 딕셔너리로 변환하기

#### 3.4.2. 파일로 저장하기(to_excel, to_csv)

In [27]:
# 코드 3-26. 데이터 프레임을 엑셀파일로 저장하기
df.to_excel('1.xlsx')

In [28]:
# 코드 3-27. 인덱스를 제외하고 엑셀파일로 저장하기
df.to_excel('1.xlsx', index=False)

In [29]:
# 코드 3-28. 인덱스를 제외하고 CSV 파일로 저장하기
df.to_csv('2.csv', index=False)

#### 3.4.3. 함수와 메서드, 속성

### 3.5. 데이터 프레임 탐색하기

#### 3.5.1. 데이터 프레임의 간단한 정보 파악하기(info 등)

In [30]:
# 코드 3-29. 타이타닉 데이터를 데이터 프레임으로 불러오기
import pandas as pd
pd.options.display.max_rows = 6 # 6행까지만 출력 코드
url1 = 'https://github.com/panda-kim/book1/blob/main/04titanic.xlsx?raw=true'
df = pd.read_excel(url1)
df

     Survived Pclass  Gender   Age     Fare
0           0  Third    male  22.0   7.2500
1           1  First  female  38.0  71.2833
2           1  Third  female  26.0   7.9250
..        ...    ...     ...   ...      ...
888         0  Third  female   NaN  23.4500
889         1  First    male  26.0  30.0000
890         0  Third    male  32.0   7.7500

[891 rows x 5 columns]

In [31]:
# 코드 3-30. columns 속성으로 df의 컬럼즈 확인하기

In [32]:
# 코드 3-31. info 함수로 df의 대략적인 정보 파악하기

In [33]:
# 코드 3-32. shape 속성으로 df의 크기 확인하기

In [34]:
# 코드 3-33. dtypes 속성으로 각 열의 자료형 확인하기

#### 3.5.2. 데이터 프레임의 일부만 가져오기(head, tail)

In [35]:
# 코드 3-34. 상위 5행 가져오기

In [36]:
# 코드 3-35. 하위 6행 가져오기

#### 3.5.3. 데이터 프레임의 기술 통계 확인하기(describe)

In [37]:
# 코드 3-36. describe 함수로 기술 통계 확인하기
pd.options.display.max_rows = 8 # 8행까지만 출력 코드

#### 3.5.4. 각 열의 유일 값 확인하기(unique, nunique)

In [38]:
# 코드 3-37. unique 함수로 Survived 열의 유일 값 확인하기

In [39]:
# 코드 3-38. nunique 함수로 Survived 열의 유일 값의 개수 확인하기

#### 3.5.5. 유일 값의 빈도수 파악하기(value_counts)

In [40]:
# 코드 3-39. Survived 열의 유일 값의 빈도수 확인하기

In [41]:
# 코드 3-40. Pclass 열의 유일 값의 빈도수 확인하기

In [42]:
# 코드 3-41. Pclass 열의 유일 값의 비율 확인하기

#### 3.5.6. 히스토그램 그리기(hist)

In [43]:
# 코드 3-42. Age 열의 히스토그램 그리기

In [44]:
# 코드 3-43. Fare 열의 히스토그램 그리기

#### 3.5.7. 데이터 프레임과 시리즈 시각화하기(plot)

In [45]:
# 코드 3-44. Survived 열의 유일 값 빈도수를 막대그래프로 시각화하기

In [46]:
# 코드 3-45. 수치형 데이터인 나이와 요금의 산점도(scatter plot) 그리기