## Chapter 4. ì¸ë±ìŠ¤

In [1]:
# ë²„ì „ ì•ˆë‚´
import pandas as pd
print(f'êµì¬ ê¶Œì¥ ë²„ì „: Pandas 2.2.2')
print(f'í˜„ì¬ ì‹¤í–‰ ë²„ì „: Pandas {pd.__version__}')

êµì¬ ê¶Œì¥ ë²„ì „: Pandas 2.2.2
í˜„ì¬ ì‹¤í–‰ ë²„ì „: Pandas 2.2.2

### 4.1 ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±

ë°ì´í„°ì—ì„œ ì›í•˜ëŠ” ë¶€ë¶„ë§Œ ì¶”ì¶œí•˜ëŠ” ê¸°ë²•

---

ğŸ“Œ ì¸ë±ì‹± (Indexing)
- íŠ¹ì • ìœ„ì¹˜ë¥¼ ì§€ì •í•˜ì—¬ ë°ì´í„°ë¥¼ **ê°œë³„ì ìœ¼ë¡œ ì„ íƒ**í•˜ëŠ” ê¸°ë²•

ğŸ“Œ ìŠ¬ë¼ì´ì‹± (Slicing)
- ì‹œì‘ê³¼ ë ë²”ìœ„ë¥¼ ì„¤ì •í•˜ì—¬ ë°ì´í„°ë¥¼ **ì—°ì†ì ì¸ êµ¬ê°„ìœ¼ë¡œ ì¶”ì¶œ**í•˜ëŠ” ê¸°ë²•

---

íŒë‹¤ìŠ¤ì˜ ì¸ë±ì‹±/ìŠ¬ë¼ì´ì‹± ë°©ë²• (3ê°€ì§€)

1. **ëŒ€ê´„í˜¸ ì¸ë±ì„œ**  
2. **`loc` ì¸ë±ì„œ**  
3. **`iloc` ì¸ë±ì„œ**

[í‘œ 4-2] ëŒ€ê´„í˜¸, loc, iloc ì¸ë±ì„œ ë¹„êµ

| êµ¬ë¶„ | ëŒ€ê´„í˜¸ ì¸ë±ì„œ | loc ì¸ë±ì„œ | iloc ì¸ë±ì„œ |
| :--- | :--- | :--- | :--- |
| **ëŒ€ìƒ** | í‚¤(Key) | í‚¤(Key) | ë¡œì¼€ì´ì…˜(Location) |
| **í–‰ê³¼ ì—´ì„ ë™ì‹œì— ì¸ë±ì‹± ë° ìŠ¬ë¼ì´ì‹±** | ë¶ˆê°€ëŠ¥ | ê°€ëŠ¥ | ê°€ëŠ¥ |
| **í–‰** | ìŠ¬ë¼ì´ì‹±ë§Œ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ |
| **ì—´** | ì¸ë±ì‹±ë§Œ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ |
| **ìŠ¬ë¼ì´ì‹±ì˜ ê²½ê³„ ì¡°ê±´** | ì–‘ìª½ ê²½ê³„ ëª¨ë‘ í¬í•¨ | ì–‘ìª½ ê²½ê³„ ëª¨ë‘ í¬í•¨ | ì‹œì‘ì ë§Œ í¬í•¨í•˜ê³  ë ì§€ì ì€ ë¶ˆí¬í•¨ |

<br>

#### 4.1.1. ëŒ€ê´„í˜¸ ì¸ë±ì‹±

ğŸ“Œ ëŒ€ê´„í˜¸ ì¸ë±ì‹± (Bracket Indexing)

- `[]` ì•ˆì— ì—´ ì´ë¦„ â†’ ì‹œë¦¬ì¦ˆ/ë°ì´í„° í”„ë ˆì„ ì¶”ì¶œ  
- ë³µìˆ˜ ì—´ì€ ë¦¬ìŠ¤íŠ¸ë¡œ ì…ë ¥  
- **ì¥ì **: ì§ê´€ì , ê°„í¸í•¨  
- **í•œê³„**:  
  - ì—´ë§Œ ì¸ë±ì‹± ê°€ëŠ¥, í–‰ì€ ìŠ¬ë¼ì´ì‹±ë§Œ ê°€ëŠ¥
  - `loc`/`iloc` ëŒ€ë¹„ í™œìš© ì œí•œ  
- **ì£¼ìš” í™œìš©**: ì—´ ì¶”ì¶œ, ìƒˆë¡œìš´ ì—´ ìƒì„±

In [2]:
# ì½”ë“œ 4-1. ì‹¤ìŠµì„ ìœ„í•œ ë°ì´í„° í”„ë ˆì„ ìƒì„±
import pandas as pd
data1 = [[84, 74, 86, 83, 60, 78],
         [69, 60, 91, 60, 91, 76],
         [88, 89, 80, 62, 62, 60],
         [72, 87, 90, 61, 98, 99],
         [90, 88, 64, 62, 83, 69]]
df = pd.DataFrame(data1, index=['A', 'B', 'C', 'D', 'E'],
                  columns=['êµ­ì–´','ì˜ì–´','ìˆ˜í•™','ì‚¬íšŒ','ê³¼í•™','ë¶ˆì–´'])
# ì›ë³¸ì¸ dfëŠ” ë‘ê³  dfë¥¼ ë³µì œí•œ df1ë¥¼ ìƒì„± ì‹¤ìŠµí•œë‹¤.
df1 = df.copy()
df1

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´
A  84  74  86  83  60  78
B  69  60  91  60  91  76
C  88  89  80  62  62  60
D  72  87  90  61  98  99
E  90  88  64  62  83  69

In [3]:
# ì½”ë“œ 4-2. ëŒ€ê´„í˜¸ ì¸ë±ì‹±ìœ¼ë¡œ êµ­ì–´ ì—´ì„ ì‹œë¦¬ì¦ˆë¡œ ì¶”ì¶œ
df1['êµ­ì–´']

A    84
B    69
C    88
D    72
E    90
Name: êµ­ì–´, dtype: int64

In [4]:
# ì½”ë“œ 4-3. ëŒ€ê´„í˜¸ ì¸ë±ì‹±ìœ¼ë¡œ ë³µìˆ˜ì˜ ì—´ì„ ì¶”ì¶œí•˜ê¸°
df1[['ì˜ì–´', 'ê³¼í•™']]

   ì˜ì–´  ê³¼í•™
A  74  60
B  60  91
C  89  62
D  87  98
E  88  83

In [5]:
# ì½”ë“œ 4-4. ë™ì¼í•œ ì—´ì„ ì—¬ëŸ¬ ë²ˆ ì¸ë±ì‹±
df1[['ê³¼í•™', 'ì˜ì–´', 'ê³¼í•™']]

   ê³¼í•™  ì˜ì–´  ê³¼í•™
A  60  74  60
B  91  60  91
C  62  89  62
D  98  87  98
E  83  88  83

In [6]:
# ì½”ë“œ 4-5. ëŒ€ê´„í˜¸ ì¸ë±ì‹±ìœ¼ë¡œ ì—´ì˜ ìˆœì„œ ë³€ê²½í•˜ê¸°
df1[['ê³¼í•™', 'ì˜ì–´', 'ìˆ˜í•™', 'ì‚¬íšŒ', 'ë¶ˆì–´', 'êµ­ì–´']]

   ê³¼í•™  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ë¶ˆì–´  êµ­ì–´
A  60  74  86  83  78  84
B  91  60  91  60  76  69
C  62  89  80  62  60  88
D  98  87  90  61  99  72
E  83  88  64  62  69  90

ëŒ€ê´„í˜¸ì— ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì—´ ì´ë¦„ì„ ì…ë ¥í•´ ì¶œë ¥í•˜ë©´ KeyErrorê°€ ë°œìƒí•œë‹¤.

```python
df1['ì²´ìœ¡']
```
```python
KeyError: 'ì²´ìœ¡'
```
df1ì—ëŠ” ì²´ìœ¡ ì—´ì´ ì—†ìœ¼ë¯€ë¡œ KeyErrorê°€ ë°œìƒí•œë‹¤

#### 4.1.2. ëŒ€ê´„í˜¸ ì¸ë±ì‹±ìœ¼ë¡œ ì—´ ìƒì„±í•˜ê¸°

ğŸ“Œ ëŒ€ê´„í˜¸ ì¸ë±ì„œ: ìƒˆë¡œìš´ ì—´ ìƒì„±ê³¼ ìˆ˜ì •

- **ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì—´ ì¸ë±ì‹±** â†’ `KeyError` ë°œìƒ  
- **ì¡´ì¬í•˜ì§€ ì•ŠëŠ” ì—´ì— ê°’ í• ë‹¹** â†’ ìƒˆë¡œìš´ ì—´ ìƒì„±  
- **ì¡´ì¬í•˜ëŠ” ì—´ì— ê°’ í• ë‹¹** â†’ ì—´ ìˆ˜ì •  
- **ì›ë¦¬**: ë”•ì…”ë„ˆë¦¬ì™€ ë™ì¼í•œ ë°©ì‹

[í‘œ 4-1] ëŒ€ê´„í˜¸ ì¸ë±ì‹±ê³¼ ì—´ì˜ ìƒì„± ë° ìˆ˜ì •í•˜ê¸°

| êµ¬ë¶„ | ì—´ ì´ë¦„ì´ ì¡´ì¬í•  ë•Œ | ì—´ ì´ë¦„ì´ ì¡´ì¬í•˜ì§€ ì•Šì„ ë•Œ |
| :--- | :--- | :--- |
| **`df[ì—´ ì´ë¦„]`** | ì¸ë±ì‹± | KeyError ë°œìƒ |
| **`df[ì—´ ì´ë¦„] = ê°’`** | ì—´ì˜ ìˆ˜ì • | ì—´ì˜ ìƒì„± |

In [7]:
# ì½”ë“œ 4-6. ëŒ€ê´„í˜¸ ì¸ë±ì‹±ìœ¼ë¡œ ì—´ ìƒì„±í•˜ê¸°
df1['ì²´ìœ¡'] = 'pass'
df1

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´    ì²´ìœ¡
A  84  74  86  83  60  78  pass
B  69  60  91  60  91  76  pass
C  88  89  80  62  62  60  pass
D  72  87  90  61  98  99  pass
E  90  88  64  62  83  69  pass

In [8]:
# ì½”ë“œ 4-7. ì„œë¡œ ë‹¤ë¥¸ ê°’ì„ ë¶€ì—¬í•´ ì—´ ìƒì„±í•˜ê¸°
df1['ë„ë•'] = [95, 87, 83, 91, 77]
df1

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´    ì²´ìœ¡  ë„ë•
A  84  74  86  83  60  78  pass  95
B  69  60  91  60  91  76  pass  87
C  88  89  80  62  62  60  pass  83
D  72  87  90  61  98  99  pass  91
E  90  88  64  62  83  69  pass  77

In [9]:
# ì½”ë“œ 4-8. ë³µìˆ˜ì˜ ì—´ ìƒì„±í•˜ê¸°
df1[['ë¯¸ìˆ ', 'ìŒì•…']] = 90
df1

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´    ì²´ìœ¡  ë„ë•  ë¯¸ìˆ   ìŒì•…
A  84  74  86  83  60  78  pass  95  90  90
B  69  60  91  60  91  76  pass  87  90  90
C  88  89  80  62  62  60  pass  83  90  90
D  72  87  90  61  98  99  pass  91  90  90
E  90  88  64  62  83  69  pass  77  90  90

#### 4.1.3. ëŒ€ê´„í˜¸ ì¸ë±ì‹±ìœ¼ë¡œ ì—´ ìˆ˜ì •í•˜ê¸°

In [10]:
# ì½”ë“œ 4-9. ì—´ ìˆ˜ì •í•˜ê¸°
df1['êµ­ì–´'] = 99
df1

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´    ì²´ìœ¡  ë„ë•  ë¯¸ìˆ   ìŒì•…
A  99  74  86  83  60  78  pass  95  90  90
B  99  60  91  60  91  76  pass  87  90  90
C  99  89  80  62  62  60  pass  83  90  90
D  99  87  90  61  98  99  pass  91  90  90
E  99  88  64  62  83  69  pass  77  90  90

#### 4.1.4. ëŒ€ê´„í˜¸ ìŠ¬ë¼ì´ì‹±

ğŸ“Œ ëŒ€ê´„í˜¸ ìŠ¬ë¼ì´ì‹± (Bracket Slicing)

- **íŠ¹ì§•**: í–‰ì„ ìŠ¬ë¼ì´ì‹± (ì—´ì´ ì•„ë‹ˆë¼ëŠ” ì ì— ìœ ì˜)
- **í•œê³„**: í™œìš©ë„ê°€ ë‚®ì•„ ê±°ì˜ ì“°ì´ì§€ ì•ŠìŒ  
- **ì£¼ìš” í™œìš©**: ë¶ˆë¦¬ì–¸ ì¸ë±ì‹±ìœ¼ë¡œ í™œìš©

In [11]:
# ì½”ë“œ 4-10. dfì—ì„œ B í•™ìƒë¶€í„° D í•™ìƒê¹Œì§€ ì¶”ì¶œí•˜ê¸°
df['B':'D']

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´
B  69  60  91  60  91  76
C  88  89  80  62  62  60
D  72  87  90  61  98  99

#### 4.1.5. í‚¤ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±(loc ì¸ë±ì„œ)

ğŸ“Œ loc ì¸ë±ì„œ
- í–‰ê³¼ ì—´ì˜ **ì´ë¦„**(ë ˆì´ë¸”)ì„ ê¸°ì¤€ìœ¼ë¡œ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±
- í–‰ê³¼ ì—´ ëª¨ë‘ **ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±** ê°€ëŠ¥  
- í–‰ê³¼ ì—´ì„ **ë™ì‹œì— ì§€ì •** ê°€ëŠ¥

In [12]:
# ì½”ë“œ 4-11. dfë¥¼ ë³µì œí•œ df2ì—ì„œ A í•™ìƒì˜ êµ­ì–´ ì„±ì  ì¶”ì¶œí•˜ê¸°
df2 = df.copy()
df2.loc['A', 'êµ­ì–´']

np.int64(84)

In [13]:
# ì½”ë“œ 4-12. loc ì¸ë±ì„œë¡œ ë³µìˆ˜ì˜ í–‰ê³¼ ì—´ì„ ì¸ë±ì‹±
df2.loc[['A', 'C', 'D'], ['êµ­ì–´', 'ìˆ˜í•™']]

   êµ­ì–´  ìˆ˜í•™
A  84  86
C  88  80
D  72  90

In [14]:
# ì½”ë“œ 4-13. B í–‰ë¶€í„° D í–‰ì˜ ì˜ì–´ë¶€í„° ê³¼í•™ ì„±ì ê¹Œì§€ ì¶”ì¶œí•˜ê¸°
df2.loc['B':'D', 'ì˜ì–´':'ê³¼í•™']

   ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
B  60  91  60  91
C  89  80  62  62
D  87  90  61  98

In [15]:
# ì½”ë“œ 4-14. ì‹œì‘ì ì´ ì²˜ìŒì´ê±°ë‚˜ ë ì§€ì ì´ ë§ˆì§€ë§‰ì´ë©´ ìƒëµ ê°€ëŠ¥
df2.loc['A':'D', 'ìˆ˜í•™':'ë¶ˆì–´'] # ëª¨ë‘ ê¸°ì…í•œ ì½”ë“œ
df2.loc[:'D', 'ìˆ˜í•™':] # ìƒëµë„ ê°€ëŠ¥

   ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´
A  86  83  60  78
B  91  60  91  76
C  80  62  62  60
D  90  61  98  99

In [16]:
# ì½”ë“œ 4-15. ëª¨ë“  í–‰ì„ ê°€ì ¸ì˜¨ë‹¤ë©´ í–‰ì˜ ìŠ¬ë¼ì´ì‹±ì€ ì½œë¡ (:)ìœ¼ë¡œ ëŒ€ì²´ ê°€ëŠ¥
df2.loc['A':'E', 'ìˆ˜í•™':'ê³¼í•™'] # ëª¨ë‘ ê¸°ì…í•œ ì½”ë“œ
df2.loc[:, 'ìˆ˜í•™':'ê³¼í•™'] # ì½œë¡ ìœ¼ë¡œ ëŒ€ì²´ê³  ê°€ëŠ¥

   ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
A  86  83  60
B  91  60  91
C  80  62  62
D  90  61  98
E  64  62  83

In [17]:
# ì½”ë“œ 4-16. ëª¨ë“  ì—´ì„ ê°€ì ¸ì˜¨ë‹¤ë©´ ì—´ì˜ ìŠ¬ë¼ì´ì‹±ì€ ìƒëµ ê°€ëŠ¥
df2.loc[:'D', :] # ì—´ì˜ ìŠ¬ë¼ì´ì‹±ì„ ì½œë¡ ìœ¼ë¡œ ëŒ€ì²´ë„ ê°€ëŠ¥í•˜ì§€ë§Œ
df2.loc[:'D'] # ëª¨ë“  ì—´ì„ ê°€ì ¸ì˜¬ ë•Œ ì—´ì˜ ìŠ¬ë¼ì´ì‹± ì „ì²´ë¥¼ ìƒëµ ê°€ëŠ¥

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´
A  84  74  86  83  60  78
B  69  60  91  60  91  76
C  88  89  80  62  62  60
D  72  87  90  61  98  99

í–‰ì„ ì „ë¶€ ê°€ì ¸ì˜¬ ê²½ìš°ë¼ë„ í–‰ì˜ ìŠ¬ë¼ì´ì‹±ì€ ìƒëµë  ìˆ˜ ì—†ë‹¤.
ì½”ë“œ 4-15ì²˜ëŸ¼ ì‚¬ìš©í•´ì•¼ í•œë‹¤.

```python
df2.loc['ìˆ˜í•™':'ê³¼í•™'] # X
df2.loc[:, 'ìˆ˜í•™':'ê³¼í•™'] # O
```

In [18]:
# ì½”ë“œ 4-17. ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±ì€ í–‰ê³¼ ì—´ì— ê°ê° ì ìš© ê°€ëŠ¥
df2.loc[:'D', ['ê³¼í•™', 'ìˆ˜í•™']]

   ê³¼í•™  ìˆ˜í•™
A  60  86
B  91  91
C  62  80
D  98  90

#### 4.1.6. loc ì¸ë±ì„œë¡œ í–‰ê³¼ ì—´ ìƒì„±í•˜ê¸°

ğŸ“Œ loc ì¸ë±ì„œë¡œ ì—´ê³¼ í–‰ ìƒì„±
- **ì—´ ìƒì„± ê°€ëŠ¥**: ì¼ë¶€ í–‰ì—ë§Œ ê°’ ë¶€ì—¬ ì‹œ ì‚¬ìš© (ì¼ë°˜ ì—´ ìƒì„±ì€ ëŒ€ê´„í˜¸ ì¸ë±ì„œ)  
- **í–‰ ìƒì„± ê°€ëŠ¥**: ìƒˆë¡œìš´ í–‰ ì¶”ê°€ ê°€ëŠ¥ (ë¹…ë°ì´í„°ì—ì„œëŠ” ê±°ì˜ ì‚¬ìš©í•˜ì§€ ì•ŠìŒ)

In [19]:
# ì½”ë“œ 4-18. Bì™€ Dì—ê²Œë§Œ 80ì„ ë¶€ì—¬í•œ ì‹¤í—˜ ì—´ ìƒì„±í•˜ê¸°
df2.loc[['B', 'D'], 'ì‹¤í—˜'] = 80 # Bì™€ DëŠ” 80, ë‚˜ë¨¸ì§€ëŠ” NaNì¸ ì‹¤í—˜ ì—´ ìƒì„±
df2

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´    ì‹¤í—˜
A  84  74  86  83  60  78   NaN
B  69  60  91  60  91  76  80.0
C  88  89  80  62  62  60   NaN
D  72  87  90  61  98  99  80.0
E  90  88  64  62  83  69   NaN

In [20]:
# ì½”ë“œ 4-19. Aì˜ ê³¼í•™ ì ìˆ˜ë¥¼ 70ì ìœ¼ë¡œ ìˆ˜ì •í•˜ê¸°
df2.loc['A', 'ê³¼í•™'] = 70
df2

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´    ì‹¤í—˜
A  84  74  86  83  70  78   NaN
B  69  60  91  60  91  76  80.0
C  88  89  80  62  62  60   NaN
D  72  87  90  61  98  99  80.0
E  90  88  64  62  83  69   NaN

In [21]:
# ì½”ë“œ 4-20. ì „ ê³¼ëª© ì ìˆ˜ê°€ 60ì¸ Fí•™ìƒì˜ ë°ì´í„° ìƒì„±í•˜ê¸°
df2.loc['F'] = 60
df2

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´    ì‹¤í—˜
A  84  74  86  83  70  78   NaN
B  69  60  91  60  91  76  80.0
C  88  89  80  62  62  60   NaN
D  72  87  90  61  98  99  80.0
E  90  88  64  62  83  69   NaN
F  60  60  60  60  60  60  60.0

#### 4.1.7. ë¡œì¼€ì´ì…˜ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±(iloc ì¸ë±ì„œ)

ğŸ“Œ iloc ì¸ë±ì„œ
- í–‰ê³¼ ì—´ì˜ **ë¡œì¼€ì´ì…˜**(ì •ìˆ˜ ì¸ë±ìŠ¤, integer location index)ì„ ê¸°ì¤€ìœ¼ë¡œ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±
- **ê¸°ì´ˆ íŒŒì´ì¬ì˜ ì¸ë±ì‹±/ìŠ¬ë¼ì´ì‹±ê³¼ ë™ì¼í•œ ë°©ì‹**ìœ¼ë¡œ ë™ì‘ (ê·¸ë¦¼ 4-10 ì°¸ê³ )
- í–‰ê³¼ ì—´ ëª¨ë‘ **ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±** ê°€ëŠ¥  
- í–‰ê³¼ ì—´ì„ **ë™ì‹œì— ì§€ì •** ê°€ëŠ¥


[ê·¸ë¦¼ 4-10] ê¸°ì´ˆ íŒŒì´ì¬ì˜ ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±

<img src=https://i.postimg.cc/DwVH85Hw/2-6.jpg, width=600>

<img src=https://i.postimg.cc/4yNLkhjN/image.png, width=600>

<br>

In [22]:
# ì½”ë“œ 4-21. dfë¥¼ ë³µì œí•œ df3ë¡œ A í•™ìƒì˜ êµ­ì–´ ì ìˆ˜ ë¡œì¼€ì´ì…˜ ì¸ë±ì‹±
df3 = df.copy()
df3.iloc[0, 0]

np.int64(84)

In [23]:
# ì½”ë“œ 4-22. A, C, D í•™ìƒì˜ êµ­ì–´ì™€ ìˆ˜í•™ ì„±ì ì„ ê°€ì ¸ì˜¤ê¸°
df3.iloc[[0, 2, 3], [0, 2]]

   êµ­ì–´  ìˆ˜í•™
A  84  86
C  88  80
D  72  90

In [24]:
# ì½”ë“œ 4-23. í–‰ì„ 1:3, ì—´ì„ 1:4ë¡œ ìŠ¬ë¼ì´ì‹±
df3.iloc[1:3, 1:4]

   ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ
B  60  91  60
C  89  80  62

In [25]:
# ì½”ë“œ 4-24. í–‰ì€ Bë¶€í„° D, ì—´ì€ ì˜ì–´ë¶€í„° ê³¼í•™ê¹Œì§€ ë¡œì¼€ì´ì…˜ ìŠ¬ë¼ì´ì‹±
df3.iloc[1:4, 1:5]

   ì˜ì–´  ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™
B  60  91  60  91
C  89  80  62  62
D  87  90  61  98

In [26]:
# ì½”ë“œ 4-25. í–‰ì€ Aë¶€í„° D, ì—´ì€ ìˆ˜í•™ë¶€í„° ë¶ˆì–´ê¹Œì§€ ë¡œì¼€ì´ì…˜ ìŠ¬ë¼ì´ì‹±
df3.iloc[:4, 2:]

   ìˆ˜í•™  ì‚¬íšŒ  ê³¼í•™  ë¶ˆì–´
A  86  83  60  78
B  91  60  91  76
C  80  62  62  60
D  90  61  98  99

In [27]:
# ì½”ë“œ 4-26. ì²« í–‰ì„ ì‹œë¦¬ì¦ˆë¡œ ì¶”ì¶œí•˜ê¸°
df3.iloc[0]

êµ­ì–´    84
ì˜ì–´    74
ìˆ˜í•™    86
ì‚¬íšŒ    83
ê³¼í•™    60
ë¶ˆì–´    78
Name: A, dtype: int64

In [28]:
# ì½”ë“œ 4-27. ë§ˆì§€ë§‰ í–‰ì„ ì‹œë¦¬ì¦ˆë¡œ ì¶”ì¶œí•˜ê¸°
df3.iloc[-1] # ìŒì˜ ë¡œì¼€ì´ì…˜

êµ­ì–´    90
ì˜ì–´    88
ìˆ˜í•™    64
ì‚¬íšŒ    62
ê³¼í•™    83
ë¶ˆì–´    69
Name: E, dtype: int64

In [29]:
# ì½”ë“œ 4-28. ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±ì€ í–‰ê³¼ ì—´ì— ê°ê° ì ìš© ê°€ëŠ¥
df3.iloc[1:4, [-2, 3, -2]]

   ê³¼í•™  ì‚¬íšŒ  ê³¼í•™
B  91  60  91
C  62  62  62
D  98  61  98

#### 4.1.8. ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹± ì •ë¦¬

[í‘œ 4-2] ëŒ€ê´„í˜¸, loc, iloc ì¸ë±ì„œ ë¹„êµ

| êµ¬ë¶„ | ëŒ€ê´„í˜¸ ì¸ë±ì„œ | loc ì¸ë±ì„œ | iloc ì¸ë±ì„œ |
| :--- | :--- | :--- | :--- |
| **ëŒ€ìƒ** | í‚¤(Key) | í‚¤(Key) | ë¡œì¼€ì´ì…˜(Location) |
| **í–‰ê³¼ ì—´ì„ ë™ì‹œì— ì¸ë±ì‹± ë° ìŠ¬ë¼ì´ì‹±** | ë¶ˆê°€ëŠ¥ | ê°€ëŠ¥ | ê°€ëŠ¥ |
| **í–‰** | ìŠ¬ë¼ì´ì‹±ë§Œ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ |
| **ì—´** | ì¸ë±ì‹±ë§Œ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ | ì¸ë±ì‹±, ìŠ¬ë¼ì´ì‹± ëª¨ë‘ ê°€ëŠ¥ |
| **ìŠ¬ë¼ì´ì‹±ì˜ ê²½ê³„ ì¡°ê±´** | ì–‘ìª½ ê²½ê³„ ëª¨ë‘ í¬í•¨ | ì–‘ìª½ ê²½ê³„ ëª¨ë‘ í¬í•¨ | ì‹œì‘ì ë§Œ í¬í•¨í•˜ê³  ë ì§€ì ì€ ë¶ˆí¬í•¨ |

<br>

### 4.2. ë°ì´í„°ë¥¼ ì¶”ì¶œí•˜ëŠ” í•¨ìˆ˜ë“¤

#### 4.2.1. í–‰ê³¼ ì—´ ì‚­ì œí•˜ê¸°(drop)

<img src=https://i.postimg.cc/43LmhXkM/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `drop`

ë°ì´í„° í”„ë ˆì„ì˜ í–‰ì´ë‚˜ ì—´ì„ ì‚­ì œí•˜ëŠ” í•¨ìˆ˜

<br>

â­ `drop` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.drop(labels, axis=0, level=None))
```

â€¢ **labels**: ì‚­ì œí•  í–‰ ë˜ëŠ” ì—´ì„ ì§€ì •í•œë‹¤. ë³µìˆ˜ì˜ í–‰ì´ë‚˜ ì—´ì„ ì§€ì •í•˜ë ¤ë©´ ë¦¬ìŠ¤íŠ¸ë¡œ ë¬¶ì–´ì„œ ì…ë ¥í•œë‹¤.

â€¢ **axis**: í–‰ì„ ì‚­ì œí• ì§€ ì—´ì„ ì‚­ì œí• ì§€ ì§€ì •í•œë‹¤. ê¸°ë³¸ê°’ì€ 0ì´ê³  í–‰ì„ ì‚­ì œí•œë‹¤.

â€¢ **level**: ë©€í‹° ì¸ë±ìŠ¤ì¼ ë•Œ ì‚­ì œí•  ë ˆë²¨ì„ ì§€ì •í•œë‹¤.

<br>

In [30]:
# ì½”ë“œ 4-29. drop í•¨ìˆ˜ ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
import pandas as pd
data1 = [[95, 65, 82], [84, 83, 76], [91, 88, 69], [91, 67, 90]]
idx = ['A', 'B', 'C', 'D']
cols = columns=['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™']
df = pd.DataFrame(data1, index=idx, columns=cols)
df

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™
A  95  65  82
B  84  83  76
C  91  88  69
D  91  67  90

In [31]:
# ì½”ë“œ 4-30. ì˜ì–´ ì—´ ì‚­ì œ
df.drop('ì˜ì–´', axis=1)

   êµ­ì–´  ìˆ˜í•™
A  95  82
B  84  76
C  91  69
D  91  90

In [32]:
# ì½”ë“œ 4-31. ì˜ì–´ì™€ ìˆ˜í•™ ì—´ ì‚­ì œ
df.drop(['ì˜ì–´', 'ìˆ˜í•™'], axis=1)

   êµ­ì–´
A  95
B  84
C  91
D  91

In [33]:
# ì½”ë“œ 4-32. drop í•¨ìˆ˜ì™€ ì¸ë±ì‹± ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
data2 = {'ì´ë¦„': ['ê¹€íŒë‹¤', 'ê°•ìŠ¹ì£¼', 'ê¶Œë³´ì•„', 'ì„ì¬ë²”'],
         'êµ­ì–´ì ìˆ˜': [88, 81, 89, 79], 'ì˜ì–´ì ìˆ˜': [68, 82, 84, 80],
         'ìˆ˜í•™ì ìˆ˜': [75, 80, 84, 89], 'ê³¼í•™ì ìˆ˜': [75.5, 62, 82, 89],
         'ì„±ë³„': ['ë‚¨', 'ì—¬', 'ì—¬', 'ë‚¨'], 'ë°˜': ['A', 'B', 'A', 'B'],
         'ì „í˜•': ['ìˆ˜ì‹œ', 'ìˆ˜ì‹œ', 'ì •ì‹œ', 'ì •ì‹œ']}
df1 = pd.DataFrame(data2)
df1

    ì´ë¦„  êµ­ì–´ì ìˆ˜  ì˜ì–´ì ìˆ˜  ìˆ˜í•™ì ìˆ˜  ê³¼í•™ì ìˆ˜ ì„±ë³„  ë°˜  ì „í˜•
0  ê¹€íŒë‹¤    88    68    75  75.5  ë‚¨  A  ìˆ˜ì‹œ
1  ê°•ìŠ¹ì£¼    81    82    80  62.0  ì—¬  B  ìˆ˜ì‹œ
2  ê¶Œë³´ì•„    89    84    84  82.0  ì—¬  A  ì •ì‹œ
3  ì„ì¬ë²”    79    80    89  89.0  ë‚¨  B  ì •ì‹œ

In [34]:
# ì½”ë“œ 4-33. df1ì—ì„œ ì´ë¦„ê³¼ ì„±ë³„ ì—´ì„ ì œì™¸í•˜ê³  ì¸ë±ì‹±
df1.loc[:, ['êµ­ì–´ì ìˆ˜', 'ì˜ì–´ì ìˆ˜', 'ìˆ˜í•™ì ìˆ˜', 'ê³¼í•™ì ìˆ˜', 'ë°˜', 'ì „í˜•']]

   êµ­ì–´ì ìˆ˜  ì˜ì–´ì ìˆ˜  ìˆ˜í•™ì ìˆ˜  ê³¼í•™ì ìˆ˜  ë°˜  ì „í˜•
0    88    68    75  75.5  A  ìˆ˜ì‹œ
1    81    82    80  62.0  B  ìˆ˜ì‹œ
2    89    84    84  82.0  A  ì •ì‹œ
3    79    80    89  89.0  B  ì •ì‹œ

In [35]:
# ì½”ë“œ 4-34. ì´ë¦„ê³¼ ì„±ë³„ ì—´ ì‚­ì œí•˜ê¸°
df1.drop(['ì´ë¦„', 'ì„±ë³„'], axis=1)

   êµ­ì–´ì ìˆ˜  ì˜ì–´ì ìˆ˜  ìˆ˜í•™ì ìˆ˜  ê³¼í•™ì ìˆ˜  ë°˜  ì „í˜•
0    88    68    75  75.5  A  ìˆ˜ì‹œ
1    81    82    80  62.0  B  ìˆ˜ì‹œ
2    89    84    84  82.0  A  ì •ì‹œ
3    79    80    89  89.0  B  ì •ì‹œ

In [36]:
# ì½”ë“œ 4-35. ìŠ¬ë¼ì´ì‹± í›„ì— ê³¼í•™ì ìˆ˜ ì—´ ì‚­ì œí•˜ê¸°
df1.iloc[:, 1:7].drop('ê³¼í•™ì ìˆ˜', axis=1)

   êµ­ì–´ì ìˆ˜  ì˜ì–´ì ìˆ˜  ìˆ˜í•™ì ìˆ˜ ì„±ë³„  ë°˜
0    88    68    75  ë‚¨  A
1    81    82    80  ì—¬  B
2    89    84    84  ì—¬  A
3    79    80    89  ë‚¨  B

ğŸ“Œ íŒë‹¤ìŠ¤ì—ì„œ í‚¤ì™€ ë¡œì¼€ì´ì…˜ì„ ì ìš©í•˜ëŠ” ë°©ë²•

1. **í•˜ë‚˜ì˜ í•¨ìˆ˜/ê¸°ë²•ì—ì„œ ëª¨ë‘ ì ìš© ê°€ëŠ¥í•  ë•Œ**  
   - ì˜ˆ: `read_excel` í•¨ìˆ˜ì˜ ë§¤ê°œë³€ìˆ˜ `sheet_name`  
   - í‚¤ì™€ ë¡œì¼€ì´ì…˜ ëª¨ë‘ ì…ë ¥ ê°€ëŠ¥ â†’ **ê°„í¸í•œ ë°©ë²• ì„ íƒ**

2. **ì„œë¡œ ë‹¤ë¥¸ í•¨ìˆ˜/ê¸°ë²•ìœ¼ë¡œ ê°ê° ì ìš©í•  ë•Œ**  
   - ì˜ˆ: `loc` ì¸ë±ì„œì™€ `iloc` ì¸ë±ì„œ  
   - `loc`: **í‚¤**(ë ˆì´ë¸”)ë¡œ ì¸ë±ì‹±  
   - `iloc`: **ë¡œì¼€ì´ì…˜**(ì •ìˆ˜ ìœ„ì¹˜)ë¡œ ì¸ë±ì‹±  
   - ìƒí™©ì— ë”°ë¼ í¸í•œ ìª½ì„ ì„ íƒí•´ ì‚¬ìš©

3. **í‚¤ë§Œ ì ìš© ê°€ëŠ¥í•œ ê²½ìš°**  
   - ì˜ˆ: `drop` í•¨ìˆ˜  
   - ì‚­ì œí•  **í‚¤ë§Œ ì…ë ¥ ê°€ëŠ¥** â†’ ë¡œì¼€ì´ì…˜ ì§ì ‘ ì‚¬ìš© ë¶ˆê°€  
   - í•˜ì§€ë§Œ `df.columns`ë¥¼ í™œìš©í•˜ë©´ ë¡œì¼€ì´ì…˜ìœ¼ë¡œ ì—´ ì´ë¦„ ë°˜í™˜ ê°€ëŠ¥  
   - ì˜ˆì‹œ:  
     ```python
     df.drop(df.columns[0], axis=1)  # ì²« ë²ˆì§¸ ì—´ ì‚­ì œ
     ```

#### 4.2.2. ì—´ ì´ë¦„ìœ¼ë¡œ í•„í„°ë§(filter)

<img src=https://i.postimg.cc/NFyT05yF/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `filter`

ì—´ ì´ë¦„ìœ¼ë¡œ ë°ì´í„° í”„ë ˆì„ì„ í•„í„°ë§í•˜ëŠ” í•¨ìˆ˜

<br>

â­ `filter` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.filter(items=None, like=None, regex=None)
```

- **items**: ì •í™•í•˜ê²Œ ì¼ì¹˜í•˜ëŠ” ë¬¸ìì—´ì„ ê¸°ì¤€ìœ¼ë¡œ í•„í„°ë§í•  ë•Œ ì‚¬ìš©í•œë‹¤.
- **like**: í¬í•¨í•˜ëŠ” ë¬¸ìì—´ì„ ê¸°ì¤€ìœ¼ë¡œ í•„í„°ë§í•  ë•Œ ì‚¬ìš©í•œë‹¤.
<br>

In [37]:
# ì½”ë“œ 4-36. filter í•¨ìˆ˜ ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
data1 = [[81, 80, 65, 62], [62, 88, 87, 78],
         [73, 71, 87, 66], [61, 63, 75, 78]]
df = pd.DataFrame(data1, columns=['êµ­ì–´', 'ì˜ì–´', 'ìˆ˜í•™', 'ê³ ì „êµ­ì–´'])
df

   êµ­ì–´  ì˜ì–´  ìˆ˜í•™  ê³ ì „êµ­ì–´
0  81  80  65    62
1  62  88  87    78
2  73  71  87    66
3  61  63  75    78

In [38]:
# ì½”ë“œ 4-37. ì—´ ì´ë¦„ì— êµ­ì–´ë¥¼ í¬í•¨í•˜ëŠ” ì—´ë§Œ í•„í„°ë§
df.filter(like='êµ­ì–´')

   êµ­ì–´  ê³ ì „êµ­ì–´
0  81    62
1  62    78
2  73    66
3  61    78

In [39]:
# ì½”ë“œ 4-38. ì½”ë“œ 4-32ì˜ df1ì—ì„œ ì—´ ì´ë¦„ì— ì ìˆ˜ê°€ í¬í•¨ëœ ì—´ë§Œ í•„í„°ë§í•˜ê¸°
df1.filter(like='ì ìˆ˜')

   êµ­ì–´ì ìˆ˜  ì˜ì–´ì ìˆ˜  ìˆ˜í•™ì ìˆ˜  ê³¼í•™ì ìˆ˜
0    88    68    75  75.5
1    81    82    80  62.0
2    89    84    84  82.0
3    79    80    89  89.0

#### 4.2.3. ìë£Œí˜•ìœ¼ë¡œ ì—´ ì„ íƒí•˜ê¸°(select_dtypes)

<img src=https://i.postimg.cc/Y98KSC5V/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `select_dtypes`

ì—´ì˜ ìë£Œí˜•ì— ê¸°ë°˜í•˜ì—¬ ë°ì´í„° í”„ë ˆì„ì„ í•„í„°ë§í•˜ëŠ” í•¨ìˆ˜

<br>

â­ `select_dtypes` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.select_dtypes(include=None, exclude=None)
```

- **include**: í¬í•¨í•  ìë£Œí˜•ì„ ì§€ì •í•œë‹¤. ë‹¨ì¼ ê°’ ë˜ëŠ” ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì§€ì •ì´ ê°€ëŠ¥í•˜ë‹¤.


- **exclude**: ì œì™¸í•  ìë£Œí˜•ì„ ì§€ì •í•œë‹¤. ë‹¨ì¼ ê°’ ë˜ëŠ” ë¦¬ìŠ¤íŠ¸ í˜•íƒœë¡œ ì§€ì •ì´ ê°€ëŠ¥í•˜ë‹¤.

<br>

In [40]:
# ì½”ë“œ 4-39. select_dtypes í•¨ìˆ˜ ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
data1 = {'ì´ë¦„': ['ê¹€íŒë‹¤', 'ê°•ìŠ¹ì£¼', 'ê¶Œë³´ì•„', 'ì„ì¬ë²”'],
         'êµ­ì–´': [81, 80, 65, 62], 'ì˜ì–´': [62, 88.5, 87, 78],
         'ì„±ë³„': ['ë‚¨', 'ì—¬', 'ì—¬', 'ë‚¨']}
df = pd.DataFrame(data1)
df

    ì´ë¦„  êµ­ì–´    ì˜ì–´ ì„±ë³„
0  ê¹€íŒë‹¤  81  62.0  ë‚¨
1  ê°•ìŠ¹ì£¼  80  88.5  ì—¬
2  ê¶Œë³´ì•„  65  87.0  ì—¬
3  ì„ì¬ë²”  62  78.0  ë‚¨

In [41]:
# ì½”ë“œ 4-40. dfì˜ ìë£Œí˜• í™•ì¸í•˜ê¸°
df.dtypes

ì´ë¦„     object
êµ­ì–´      int64
ì˜ì–´    float64
ì„±ë³„     object
dtype: object

In [42]:
# ì½”ë“œ 4-41. ì •ìˆ˜ì¸ ì—´ê³¼ ì‹¤ìˆ˜ì¸ ì—´ë§Œ ì¶”ì¶œ
df.select_dtypes('int') # ìë£Œí˜•ì´ ì •ìˆ˜ì¸ êµ­ì–´ ì—´ë§Œ ì¶”ì¶œ
df.select_dtypes('float') # ìë£Œí˜•ì´ ì‹¤ìˆ˜ì¸ ì˜ì–´ ì—´ë§Œ ì¶”ì¶œ

     ì˜ì–´
0  62.0
1  88.5
2  87.0
3  78.0

In [43]:
# ì½”ë“œ 4-42. ì •ìˆ˜ì™€ ì‹¤ìˆ˜ ë“± ìˆ˜ì¹˜í˜• ë°ì´í„°ì¸ ì—´ë§Œ ì¶”ì¶œí•˜ê¸°
df.select_dtypes('number')

   êµ­ì–´    ì˜ì–´
0  81  62.0
1  80  88.5
2  65  87.0
3  62  78.0

In [44]:
# ì½”ë“œ 4-43. ì‹¤ìˆ˜ ìë£Œí˜•ì¸ ì—´ ì œì™¸í•˜ê¸°
df.select_dtypes(exclude='float')

    ì´ë¦„  êµ­ì–´ ì„±ë³„
0  ê¹€íŒë‹¤  81  ë‚¨
1  ê°•ìŠ¹ì£¼  80  ì—¬
2  ê¶Œë³´ì•„  65  ì—¬
3  ì„ì¬ë²”  62  ë‚¨

#### 4.2.4. íŒë‹¤ìŠ¤ì˜ í•¨ìˆ˜ì™€ ì›ë³¸ ë³€ê²½í•˜ê¸°

ğŸ“Œ íŒë‹¤ìŠ¤ í•¨ìˆ˜ì™€ ì›ë³¸ ë³€ê²½
- ëŒ€ë¶€ë¶„ í•¨ìˆ˜ëŠ” **ì›ë³¸ì„ ë³€ê²½í•˜ì§€ ì•ŠìŒ** â†’ ìƒˆë¡œìš´ ë°ì´í„°í”„ë ˆì„ ë°˜í™˜  
- ì›ë³¸ì„ ë³€ê²½í•˜ë ¤ë©´ **ë“±í˜¸(=)ë¡œ ì¬ì§€ì •** í•„ìš” (ë°°ì •)
- ì›ë³¸ ìœ ì§€ ë•ë¶„ì— **ë³‘ë ¬ ì²˜ë¦¬Â·ì²´ì¸ ë©”ì„œë“œ** í™œìš© ê°€ëŠ¥  
- **ì˜ˆì™¸**: `insert`, `update` ë“±ì€ ì›ë³¸ì„ ì¦‰ì‹œ ë³€ê²½

In [45]:
# ì½”ë“œ 4-44. ì½”ë“œ 4-42ì˜ í•¨ìˆ˜ ì ìš© ê²°ê³¼ë¡œ ì›ë³¸ dfë¥¼ ë³€ê²½í•˜ê¸°
df = df.select_dtypes('number')
df

   êµ­ì–´    ì˜ì–´
0  81  62.0
1  80  88.5
2  65  87.0
3  62  78.0

### ì—‘ì…€ ì˜ˆì œ 1. íƒ€ì´íƒ€ë‹‰ ì¹¨ëª° ì‚¬ê³  ìŠ¹ê° ë°ì´í„° ì¸ë±ì‹±ê³¼ ìŠ¬ë¼ì´ì‹±

<img src=https://i.postimg.cc/rwFLvW7c/image.png, width=600>

- PassengerId: ìŠ¹ê°ì˜ ê³ ìœ  ID
- Survived: ìƒì¡´ ì—¬ë¶€, 0ì€ ì‚¬ë§, 1ì€ ìƒì¡´ì„ ì˜ë¯¸
- Pclass: ê°ì‹¤ ë“±ê¸‰, 1ë“±ì„, 2ë“±ì„, 3ë“±ì„ìœ¼ë¡œ êµ¬ë¶„
- Name: ìŠ¹ê°ì˜ ì´ë¦„
- Gender: ìŠ¹ê°ì˜ ì„±ë³„. male, femaleë¡œ êµ¬ë¶„
- Age: ìŠ¹ê°ì˜ ë‚˜ì´
- SibSp: Siblings/Spousesì˜ ì•½ì. ìŠ¹ê°ì´ ë™ë°˜í•œ í˜•ì œë‚˜ ë°°ìš°ìì˜ ìˆ˜
- Parch: Parents/Childrenì˜ ì•½ì. ìŠ¹ê°ì´ ì—¬ê°ì„ ì— ë™ë°˜í•œ ë¶€ëª¨, ìë…€ì˜ ìˆ˜
- Ticket: ìŠ¹ê°ì´ êµ¬ë§¤í•œ í‹°ì¼“ ë²ˆí˜¸
- Fare: ìŠ¹ê°ì´ í‹°ì¼“ì„ êµ¬ë§¤í•  ë•Œ ì§€ë¶ˆí•œ ìš”ê¸ˆ
- Cabin: ìŠ¹ê°ì´ íƒ‘ìŠ¹í•œ ê°ì‹¤ ë²ˆí˜¸
- Embarked: ìŠ¹ê°ì´ íƒ‘ìŠ¹í•œ í•­êµ¬. ì‚¬ìš°ìƒ˜í”„í„´(S), ì…¸ë¶€ë¥´í¬(C), í€¸ìŠ¤íƒ€ìš´(Q)

In [46]:
# ì½”ë“œ 4-45. íƒ€ì´íƒ€ë‹‰ ì—‘ì…€íŒŒì¼ì—ì„œ ë°ì´í„° í”„ë ˆì„ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
pd.options.display.max_rows = 6 # 6í–‰ê¹Œì§€ë§Œ ì¶œë ¥ ì½”ë“œ
url1 = 'https://github.com/panda-kim/book1/blob/main/05titanic.xlsx?raw=true'
df_titanic = pd.read_excel(url1)
df_titanic

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [47]:
# ì½”ë“œ 4-46. df_titanicì˜ ì»¬ëŸ¼ì¦ˆ í™•ì¸í•˜ê¸°
df_titanic.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Gender', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [48]:
# ì½”ë“œ 4-47. ìƒì¡´ì—¬ë¶€, ê°ì‹¤ë“±ê¸‰, ì„±ë³„, ë‚˜ì´, ìš”ê¸ˆ ì—´ë§Œ ê°€ì ¸ì˜¤ê¸°
cols = ['Survived', 'Pclass', 'Gender', 'Age', 'Fare']
df_titanic[cols]

     Survived  Pclass  Gender   Age     Fare
0           0       3    male  22.0   7.2500
1           1       1  female  38.0  71.2833
2           1       3  female  26.0   7.9250
..        ...     ...     ...   ...      ...
888         0       3  female   NaN  23.4500
889         1       1    male  26.0  30.0000
890         0       3    male  32.0   7.7500

[891 rows x 5 columns]

In [49]:
# ì½”ë“œ 4-48. ìˆ˜ì¹˜í˜• ë°ì´í„°ì˜ ìƒìœ„ 100í–‰ë§Œ ê°€ì ¸ì˜¤ê¸°
df_titanic.select_dtypes('number').iloc[:100]

    PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0             1         0       3  22.0      1      0   7.2500
1             2         1       1  38.0      1      0  71.2833
2             3         1       3  26.0      0      0   7.9250
..          ...       ...     ...   ...    ...    ...      ...
97           98         1       1  23.0      0      1  63.3583
98           99         1       2  34.0      0      1  23.0000
99          100         0       2  34.0      1      0  26.0000

[100 rows x 7 columns]

### 4.3. ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ì¦ˆë¥¼ ë‹¤ë£¨ëŠ” í•¨ìˆ˜ë“¤

#### 4.3.1. ì¸ë±ìŠ¤ ì„¤ì •í•˜ê¸°(set_index)

<img src=https://i.postimg.cc/jSpr350v/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `set_index`

ë°ì´í„° í”„ë ˆì„ì˜ ì¸ë±ìŠ¤ë¥¼ ì„¤ì •í•˜ëŠ” í•¨ìˆ˜ (ì»¬ëŸ¼ì¦ˆë¥¼ ì„¤ì •í•  ìˆ˜ëŠ” ì—†ë‹¤.)

<br>

â­ `set_index` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.set_index(keys, axis=0)
```
- **keys**: ì¸ë±ìŠ¤ë¡œ ì„¤ì •ë  ì—´ì„ ì§€ì •í•œë‹¤.

<br>

In [50]:
# ì½”ë“œ 4-49. ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
import pandas as pd
data = [['ì†¡ì¤‘ê¸°', 70, 'A'], ['ê°•ìŠ¹ì£¼', 80, 'A'],
        ['ê¹€íŒë‹¤', 93, 'B'], ['ì´ì˜ˆì¤€', 92, 'B']]
df = pd.DataFrame(data, columns=['ì´ë¦„', 'ì ìˆ˜', 'ë°˜'])
df1 = df.set_index('ì´ë¦„')
df2 = df.copy() # dfë¥¼ ë³µì œí•œ df2
df

    ì´ë¦„  ì ìˆ˜  ë°˜
0  ì†¡ì¤‘ê¸°  70  A
1  ê°•ìŠ¹ì£¼  80  A
2  ê¹€íŒë‹¤  93  B
3  ì´ì˜ˆì¤€  92  B

In [51]:
# ì½”ë“œ 4-50. dfì˜ ì´ë¦„ ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•˜ê¸°
df.set_index('ì´ë¦„')

     ì ìˆ˜  ë°˜
ì´ë¦„
ì†¡ì¤‘ê¸°  70  A
ê°•ìŠ¹ì£¼  80  A
ê¹€íŒë‹¤  93  B
ì´ì˜ˆì¤€  92  B

In [52]:
# ì½”ë“œ 4-51. ë³µìˆ˜ì˜ ì—´ì„ ì¸ë±ìŠ¤ë¡œ ì„¤ì •í•˜ê¸°
df.set_index(['ë°˜', 'ì´ë¦„'])

       ì ìˆ˜
ë°˜ ì´ë¦„
A ì†¡ì¤‘ê¸°  70
  ê°•ìŠ¹ì£¼  80
B ê¹€íŒë‹¤  93
  ì´ì˜ˆì¤€  92

#### 4.3.2. ì¸ë±ìŠ¤ ë¦¬ì…‹í•˜ê¸°(reset_index)

<img src=https://i.postimg.cc/jSmJ8zSc/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `reset_index`

ì¸ë±ìŠ¤ì—ì„œ ë°ì´í„°ë¥¼ ì œê±°í•˜ëŠ” í•¨ìˆ˜ (ì»¬ëŸ¼ì¦ˆë¥¼ ëŒ€ìƒìœ¼ë¡œëŠ” ì‚¬ìš©í•  ìˆ˜ ì—†ë‹¤.)

ì¸ë±ìŠ¤ì—ì„œë§Œ ë°ì´í„°ë¥¼ ì œê±°í•´ ë°ì´í„° í”„ë ˆì„ì˜ ì—´ì´ ë˜ê±°ë‚˜, ë°ì´í„°ë¥¼ ì™„ì „íˆ ì‚­ì œí•  ìˆ˜ ìˆë‹¤. ì¸ë±ìŠ¤ê°€ ëª¨ë‘ ì œê±°ë˜ë©´ ìƒˆ
ë¡œìš´ RangeIndexê°€ ìƒì„±ëœë‹¤.

<br>

â­ `reset_index` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.reset_index(level=None, drop=False)
```

- **level**: ë©€í‹° ì¸ë±ìŠ¤ì—ì„œ ë¦¬ì…‹í•  ì¸ë±ìŠ¤ì˜ ë ˆë²¨ì„ ì§€ì •í•œë‹¤.
- **drop**: ì¸ë±ìŠ¤ì—ì„œë§Œ ì œê±°í• ì§€ ì™„ì „íˆ ë°ì´í„°ë¥¼ ì‚­ì œí• ì§€ ì§€ì •í•œë‹¤. ê¸°ë³¸ê°’ì€ ì¸ë±ìŠ¤ì˜ ë°ì´í„°ê°€ ì—´ì´ ëœë‹¤.

<br>

In [53]:
# ì½”ë“œ 4-52. ì½”ë“œ 4-49ì˜ df1ì˜ ì¸ë±ìŠ¤ë¥¼ ì¼ë°˜ ì—´ë¡œ ë³€í™˜í•˜ê¸°
df1.reset_index()

    ì´ë¦„  ì ìˆ˜  ë°˜
0  ì†¡ì¤‘ê¸°  70  A
1  ê°•ìŠ¹ì£¼  80  A
2  ê¹€íŒë‹¤  93  B
3  ì´ì˜ˆì¤€  92  B

In [54]:
# ì½”ë“œ 4-53. ì¸ë±ìŠ¤ì˜ ë°ì´í„°ë¥¼ ì™„ì „íˆ ì‚­ì œí•˜ê¸°
df1.reset_index(drop=True)

   ì ìˆ˜  ë°˜
0  70  A
1  80  A
2  93  B
3  92  B

#### 4.3.3. ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ì¦ˆ ë³€ê²½í•˜ê¸°(ë°°ì •)

ğŸ“Œ ì¸ë±ìŠ¤Â·ì»¬ëŸ¼ì¦ˆ ë³€ê²½ (ë°°ì • ë°©ì‹)
- `index` / `columns` ì†ì„±ì— ìƒˆ ë°°ì—´ì„ **ë“±í˜¸(=)ë¡œ ë°°ì •** â†’ ì›ë³¸ ì¦‰ì‹œ ë³€ê²½  
- ë°°ì—´ ê¸¸ì´ëŠ” ê¸°ì¡´ê³¼ ë°˜ë“œì‹œ ë™ì¼í•´ì•¼ í•¨  
- ì£¼ë¡œ **ì»¬ëŸ¼ì¦ˆ ì´ë¦„ ë³€ê²½**ì— í™œìš©

In [55]:
# ì½”ë“œ 4-54. df2ì˜ ì»¬ëŸ¼ì¦ˆë¥¼ ë°°ì • ë°©ì‹ìœ¼ë¡œ ë³€ê²½í•˜ê¸°
df2.columns = ['Name', 'Score', 'Class']
df2

  Name  Score Class
0  ì†¡ì¤‘ê¸°     70     A
1  ê°•ìŠ¹ì£¼     80     A
2  ê¹€íŒë‹¤     93     B
3  ì´ì˜ˆì¤€     92     B

#### 4.3.4. ì¸ë±ìŠ¤ì™€ ì»¬ëŸ¼ì¦ˆ ë³€ê²½í•˜ê¸°(set_axis)

<img src=https://i.postimg.cc/x8NKjt8b/image.png, width=600>


â­ íŒë‹¤ìŠ¤ `set_axis`

ì¸ë±ìŠ¤ë‚˜ ì»¬ëŸ¼ì¦ˆë¥¼ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜. ì¸ë±ìŠ¤ë‚˜ ì»¬ëŸ¼ì¦ˆë¥¼ ë°°ì •í•´ ë³€ê²½í•˜ëŠ” ë°©ì‹ê³¼ ê²°ê³¼ëŠ” ë™ì¼í•˜ì§€ë§Œ ì›ë³¸ì„ ë³€ê²½í•˜
ì§€ ì•ŠëŠ”ë‹¤.

<br>

â­ `set_axis` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.set_axis(labels, axis=0)
```

- **labels**: ìƒˆë¡œìš´ ì¸ë±ìŠ¤ë‚˜ ì»¬ëŸ¼ì¦ˆë¥¼ ì§€ì •í•œë‹¤.
- **axis**: ì¸ë±ìŠ¤ë¥¼ ë³€ê²½í• ì§€ ì»¬ëŸ¼ì¦ˆë¥¼ ë³€ê²½í• ì§€ ì§€ì •í•œë‹¤.

<br>

In [56]:
# ì½”ë“œ 4-55. dfì˜ ì»¬ëŸ¼ì¦ˆë¥¼ set_axis í•¨ìˆ˜ë¡œ ë³€ê²½í•˜ê¸°
df.set_axis(['Name', 'Score', 'Class'], axis=1)

  Name  Score Class
0  ì†¡ì¤‘ê¸°     70     A
1  ê°•ìŠ¹ì£¼     80     A
2  ê¹€íŒë‹¤     93     B
3  ì´ì˜ˆì¤€     92     B

#### 4.3.5. ì—´ ì´ë¦„ ë³€ê²½í•˜ê¸°(rename)

<img src=https://i.postimg.cc/tghRbP9g/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `rename`

í–‰ ì´ë¦„ì´ë‚˜ ì—´ ì´ë¦„ì„ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜. ì£¼ë¡œ ì—´ ì´ë¦„ì„ ë³€ê²½í•  ë•Œ ì‚¬ìš©í•œë‹¤.

<br>


â­ `rename` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.rename(mapper=None, axis=0, level=None)
```
- **mapper**: ì´ì „ ì´ë¦„ê³¼ ìƒˆë¡­ê²Œ ë¶€ì—¬í•  ì´ë¦„ì„ ë§¤í¼(mapper)ë¡œ ì…ë ¥í•œë‹¤.
- **axis**: í–‰ ì´ë¦„ì„ ë³€ê²½í• ì§€ ì—´ ì´ë¦„ì„ ë³€ê²½í• ì§€ ì§€ì •í•œë‹¤.

- **level**: ë©€í‹° ì¸ë±ìŠ¤ì¼ ë•Œ ì ìš©í•  ë ˆë²¨ì„ ì§€ì •í•œë‹¤.

<br>

In [57]:
# ì½”ë“œ 4-56. ì ìˆ˜ ì—´ì˜ ì´ë¦„ì„ ì„±ì ìœ¼ë¡œ ë³€ê²½í•˜ê¸°
df.rename({'ì ìˆ˜':'ì„±ì '}, axis=1)

    ì´ë¦„  ì„±ì   ë°˜
0  ì†¡ì¤‘ê¸°  70  A
1  ê°•ìŠ¹ì£¼  80  A
2  ê¹€íŒë‹¤  93  B
3  ì´ì˜ˆì¤€  92  B

In [58]:
# ì½”ë“œ 4-57. ì ìˆ˜ ì—´ì„ ì„±ì ìœ¼ë¡œ, ë°˜ ì—´ì„ ì†Œì†ìœ¼ë¡œ ë³€ê²½í•˜ê¸°
df.rename({'ì ìˆ˜':'ì„±ì ', 'ë°˜':'ì†Œì†'}, axis=1)

    ì´ë¦„  ì„±ì  ì†Œì†
0  ì†¡ì¤‘ê¸°  70  A
1  ê°•ìŠ¹ì£¼  80  A
2  ê¹€íŒë‹¤  93  B
3  ì´ì˜ˆì¤€  92  B

#### 4.3.6. ë§¤í•‘ê³¼ ë§¤í¼

<img src=https://i.postimg.cc/wvmGZczr/image.png, width=600>

#### 4.3.7. ë°ì´í„° ì¬ë°°ì—´í•˜ê¸°(reindex)

<img src=https://i.postimg.cc/Pf8CVLwL/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `reindex`

ì¸ë±ìŠ¤ë‚˜ ì»¬ëŸ¼ì¦ˆì˜ ìˆœì„œë¥¼ ì¬ë°°ì—´í•´ì„œ ë°ì´í„°ë¥¼ ì¬ë°°ì—´í•˜ëŠ” í•¨ìˆ˜

<br>

â­ `reindex` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.reindex(labels, axis=0)
```

- **labels**: ì¬ë°°ì—´í•  ìƒˆë¡œìš´ ìˆœì„œë¥¼ ì…ë ¥í•œë‹¤.
- **axis**: ì¸ë±ìŠ¤ë¥¼ ì¬ë°°ì—´í• ì§€ ì»¬ëŸ¼ì¦ˆë¥¼ ì¬ë°°ì—´í• ì§€ ì§€ì •í•œë‹¤.

<br>

In [59]:
# ì½”ë“œ 4-58. dfì˜ ì—´ì„ ì´ë¦„, ë°˜, ì„±ë³„ ìˆœìœ¼ë¡œ ì¬ë°°ì—´
df.reindex(['ì´ë¦„', 'ë°˜', 'ì„±ë³„'], axis=1)

    ì´ë¦„  ë°˜  ì„±ë³„
0  ì†¡ì¤‘ê¸°  A NaN
1  ê°•ìŠ¹ì£¼  A NaN
2  ê¹€íŒë‹¤  B NaN
3  ì´ì˜ˆì¤€  B NaN

#### 4.3.8. ì¸ë±ìŠ¤ëª… ë³€ê²½í•˜ê¸°(rename_axis)

<img src=https://i.postimg.cc/j2GN9PsQ/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `rename_axis`

ì¸ë±ìŠ¤ëª…ì„ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜

<br>

â­ `rename_axis` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.rename_axis(mapper=None, axis=0)
```

- **mapper**: ë³€ê²½í•  ì¸ë±ìŠ¤ëª…ì„ ì…ë ¥í•œë‹¤.
- **axis**: ì¸ë±ìŠ¤ì˜ ì¸ë±ìŠ¤ëª…ì„ ë³€ê²½í• ì§€ ì»¬ëŸ¼ì¦ˆì˜ ì¸ë±ìŠ¤ëª…ì„ ë³€ê²½í• ì§€ ì§€ì •í•œë‹¤.

<br>

In [60]:
# ì½”ë“œ 4-59. df1ì—ì„œ ì¸ë±ìŠ¤ì˜ ì¸ë±ìŠ¤ëª… ì œê±°í•˜ê¸°
df1.rename_axis(None)

     ì ìˆ˜  ë°˜
ì†¡ì¤‘ê¸°  70  A
ê°•ìŠ¹ì£¼  80  A
ê¹€íŒë‹¤  93  B
ì´ì˜ˆì¤€  92  B

#### 4.3.9. ì¸ë±ìŠ¤ í´ë˜ìŠ¤ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜í•˜ê¸°(tolist)

ğŸ“Œ ì¸ë±ìŠ¤Â·ì»¬ëŸ¼ì¦ˆë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜í•˜ê¸°
- ê¸°ì´ˆ íŒŒì´ì¬ ìˆ™ë ¨ìëŠ” ì¸ë±ìŠ¤ í´ë˜ìŠ¤ë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜í•´ ë‹¤ë£¬ ë’¤ ë‹¤ì‹œ **ë°°ì •**í•˜ê¸°ë„ í•¨
- `tolist` í•¨ìˆ˜ â†’ ì¸ë±ìŠ¤/ì»¬ëŸ¼ì¦ˆë¥¼ **ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜**
- ë°ì´í„° í”„ë ˆì„ì´ ì•„ë‹Œ **ì¸ë±ìŠ¤ í´ë˜ìŠ¤ì— ì ìš©**

In [61]:
# ì½”ë“œ 4-60. dfì˜ ì»¬ëŸ¼ì¦ˆë¥¼ ë¦¬ìŠ¤íŠ¸ë¡œ ë³€í™˜í•˜ê¸°
df.columns.tolist()

['ì´ë¦„', 'ì ìˆ˜', 'ë°˜']

### 4.4. ë©€í‹° ì¸ë±ìŠ¤ ì†Œê°œ

ğŸ“Œ ë©€í‹° ì¸ë±ìŠ¤
- **ë³µìˆ˜ ì¸ë±ìŠ¤/ì»¬ëŸ¼ì¦ˆ** â†’ ë©€í‹° ì¸ë±ìŠ¤  
- **êµ¬ì¡°**: íŠœí”Œë¡œ êµ¬ì„±
- í•µì‹¬ í•¨ìˆ˜: `stack`, `unstack`

#### 4.4.1. ë©€í‹° ì¸ë±ìŠ¤ì™€ ë ˆë²¨

<img src=https://i.postimg.cc/HnjR3Dx2/image.png, width=600>

In [62]:
# ì½”ë“œ 4-61. ë©€í‹° ì¸ë±ìŠ¤ ì‹¤ìŠµ ì˜ˆì œ ì½”ë“œ
import pandas as pd
data1 = {('êµ­ì–´', 'ë‚¨'): {'1ë°˜': 10, '2ë°˜': 20},
         ('êµ­ì–´', 'ì—¬'): {'1ë°˜': 30, '2ë°˜': 40},
         ('ì˜ì–´', 'ë‚¨'): {'1ë°˜': 15, '2ë°˜': 25},
         ('ì˜ì–´', 'ì—¬'): {'1ë°˜': 35, '2ë°˜': 45}}
df = pd.DataFrame(data1)
df

    êµ­ì–´      ì˜ì–´
     ë‚¨   ì—¬   ë‚¨   ì—¬
1ë°˜  10  30  15  35
2ë°˜  20  40  25  45

In [63]:
# ì½”ë“œ 4-62. dfì˜ ë©€í‹° ì¸ë±ìŠ¤ í™•ì¸
df.columns

MultiIndex([('êµ­ì–´', 'ë‚¨'),
            ('êµ­ì–´', 'ì—¬'),
            ('ì˜ì–´', 'ë‚¨'),
            ('ì˜ì–´', 'ì—¬')],
           )

In [64]:
# ì½”ë“œ 4-63. dfì˜ ë©€í‹° ì¸ë±ìŠ¤ë¥¼ ë‹¨ì¼ ì¸ë±ìŠ¤ë¡œ ë³€ê²½í•˜ê¸°
df.set_axis(['êµ­ì–´_ë‚¨', 'êµ­ì–´_ì—¬', 'ì˜ì–´_ë‚¨', 'ì˜ì–´_ì—¬'], axis=1)

    êµ­ì–´_ë‚¨  êµ­ì–´_ì—¬  ì˜ì–´_ë‚¨  ì˜ì–´_ì—¬
1ë°˜    10    30    15    35
2ë°˜    20    40    25    45

#### 4.4.2. ë©€í‹° ì¸ë±ìŠ¤ì˜ êµ¬ì¡° ë³€ê²½í•˜ê¸°(stack, unstack)

<img src=https://i.postimg.cc/2yKJtz9P/image.png, width=600>

â­ íŒë‹¤ìŠ¤ `stack`ê³¼ `unstack`

ì¸ë±ìŠ¤ë‚˜ ì»¬ëŸ¼ì¦ˆì˜ ë°ì´í„°ë¥¼ ìƒí˜¸ ì´ë™í•´ ë°ì´í„°ì˜ êµ¬ì¡°ë¥¼ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜. `stack`ì€ ì»¬ëŸ¼ì¦ˆë¥¼ ì¸ë±ìŠ¤ë¡œ ì´ë™ì‹œí‚¤
ê³  `unstack`ì€ ì¸ë±ìŠ¤ë¥¼ ì»¬ëŸ¼ì¦ˆë¡œ ì´ë™ì‹œí‚¨ë‹¤.

<br>

â­ `stack` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.stack(level=-1, dropna=True)
```
- **level**: ì¸ë±ìŠ¤ë¡œ ì´ë™í•  ì»¬ëŸ¼ì¦ˆì˜ ë ˆë²¨ì„ ì§€ì •í•œë‹¤.
- **dropna**: `stack` í•¨ìˆ˜ë¥¼ ì ìš©í•œ í›„ì— ê°’ì´ NaNì¸ í–‰ì´ ìƒì„±ë  ìˆ˜ ìˆëŠ”ë° ê°’ì´ NaNì¸ í–‰ì„ ìƒì„±í• ì§€ ì‚­ì œí• ì§€
ì§€ì •í•œë‹¤.
- **future_stack**: Pandas 3.0ë¶€í„° í‘œì¤€ì´ ë  ì‹ ê·œ êµ¬í˜„ ë°©ì‹ì„ í™œì„±í™”í•˜ëŠ” ì˜µì…˜ì´ë‹¤. `True` ì„¤ì • ì‹œ ì°¨ê¸° ë²„ì „ê³¼ì˜ í˜¸í™˜ì„±ì´ í™•ë³´ë˜ì§€ë§Œ, ì´ ê²½ìš° `dropna`ì™€ `sort` ì¸ìëŠ” ì‚¬ìš©í•  ìˆ˜ ì—†ìœ¼ë¯€ë¡œ ì£¼ì˜í•´ì•¼ í•œë‹¤. (Pandas 2.1+ ë„ì…)

<br>

â­ `unstack` í•¨ìˆ˜ì˜ ì£¼ìš” ë§¤ê°œë³€ìˆ˜ì™€ ì¸ìˆ˜, ê¸°ë³¸ê°’

```python
df.unstack(labels, axis=0, level=None)
```

- **level**: ì»¬ëŸ¼ì¦ˆë¡œ ì´ë™í•  ì¸ë±ìŠ¤ì˜ ë ˆë²¨ì„ ì§€ì •í•œë‹¤.
- **fill_value**: NaNì„ ëŒ€ì²´í•  ê°’ì„ ì§€ì •í•œë‹¤.

<br>

In [65]:
# ì½”ë“œ 4-64. stack í•¨ìˆ˜ë¡œ dfì˜ êµ¬ì¡° ë³€ê²½í•˜ê¸°(ë³€ê²½ëœ ì½”ë“œ)
df.stack(future_stack=True)

      êµ­ì–´  ì˜ì–´
1ë°˜ ë‚¨  10  15
   ì—¬  30  35
2ë°˜ ë‚¨  20  25
   ì—¬  40  45

ğŸš¨  Pandas 2.1+ `stack` ë³€ê²½ ì‚¬í•­

- ê¸°ì¡´ `df.stack()` â†’ **FutureWarning** ë°œìƒ (í–¥í›„ ì‚­ì œ ì˜ˆì •)
- ê¶Œì¥ ë°©ì‹: `df.stack(future_stack=True)` ëª…ì‹œì  ì‚¬ìš©
- ìµœì‹  ë²„ì „ì—ì„œëŠ” **future_stack ì˜µì…˜ í•„ìˆ˜**