## Chapter 6. Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†úÌïòÍ∏∞

In [1]:
# Î≤ÑÏ†Ñ ÏïàÎÇ¥
import pandas as pd
print(f'ÍµêÏû¨ Í∂åÏû• Î≤ÑÏ†Ñ: Pandas 2.2.2')
print(f'ÌòÑÏû¨ Ïã§Ìñâ Î≤ÑÏ†Ñ: Pandas {pd.__version__}')

ÍµêÏû¨ Í∂åÏû• Î≤ÑÏ†Ñ: Pandas 2.2.2
ÌòÑÏû¨ Ïã§Ìñâ Î≤ÑÏ†Ñ: Pandas 2.2.2

### 6.1. Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†úÌïòÍ∏∞ ÏûÖÎ¨∏

####6.1.1. Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Í≥ºÏ†ï ÏÜåÍ∞ú

<img src=https://i.postimg.cc/MT2jy40f/06-01-deiteo-bunseog-gwajeong.jpg, width=600>

#### 6.1.2. Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†úÌïòÍ∏∞ÎûÄ?

üìå Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†úÌïòÍ∏∞

  - Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ï†ÑÏóê **Îç∞Ïù¥ÌÑ∞ ÌíàÏßàÏùÑ Í∞úÏÑ†ÌïòÎäî Í≥ºÏ†ï**
  - Î∂ÑÏÑù Í≤∞Í≥ºÏùò **Ï†ïÌôïÎèÑÏôÄ Ïã†Î¢∞ÎèÑ**Î•º ÎÜíÏù¥Îäî ÌïÑÏàò Îã®Í≥Ñ
  
üìå Ï£ºÏöî ÏûëÏóÖ

  - **ÌïÑÌÑ∞ÎßÅ**: ÌäπÏ†ï Ï°∞Í±¥ÏùÑ ÎßåÏ°±ÌïòÎäî Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂ú ‚Üí ÌïÑÏöîÌïú Î≤îÏúÑÎ°ú Ï¢ÅÌòÄ Ìö®Ïú®ÏÑ± Ìñ•ÏÉÅ
  - **Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨**: ÎàÑÎùΩÎêú Í∞í Ï†úÍ±∞ ÎòêÎäî ÎåÄÏ≤¥
  - **Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨**: ÏùºÎ∞òÏ†Å Í≤ΩÌñ•ÏóêÏÑú Î≤óÏñ¥ÎÇú Í∞í Ï†úÍ±∞ ÎòêÎäî ÏàòÏ†ï
  - **Ï§ëÎ≥µ Ï†úÍ±∞**: ÎèôÏùº Îç∞Ïù¥ÌÑ∞Í∞Ä Ïó¨Îü¨ Î≤à Í∏∞Î°ùÎêú Í≤ΩÏö∞ Ï†úÍ±∞
  - **ÏûêÎ£åÌòï Î≥ÄÌôò**: ÏûòÎ™ª ÏßÄÏ†ïÎêú ÏûêÎ£åÌòïÏùÑ Ïò¨Î∞îÎ•¥Í≤å Î≥ÄÌôò - Ïòà: ÏàòÏπòÌòï Îç∞Ïù¥ÌÑ∞Í∞Ä Î¨∏ÏûêÏó¥Î°ú Ï†ÄÏû•Îêú Í≤ΩÏö∞ ‚Üí Ïó∞ÏÇ∞ Î∂àÍ∞Ä ‚Üí ÏûêÎ£åÌòï Î≥ÄÌôò ÌïÑÏöî

### 6.2. Ï†ïÎ†¨

#### 6.2.1. Îã®Ïùº Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ÌïòÍ∏∞(sort_values)

<img src=https://i.postimg.cc/vTvqR5HF/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `sort_values`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏù¥ÎÇò ÏãúÎ¶¨Ï¶àÏùò Ï†ïÎ†¨ÏùÑ ÏàòÌñâÌïòÎäî Ìï®Ïàò

<br>


‚≠ê `sort_values` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.sort_values(by, ascending=True)
```

- **by**: Ï†ïÎ†¨Ïùò Í∏∞Ï§ÄÏù¥ Îê† Ïó¥ÏùÑ ÏßÄÏ†ïÌïúÎã§. Î≥µÏàòÎùºÎ©¥ Î¶¨Ïä§Ìä∏Î°ú Î¨∂Ïñ¥ ÏûÖÎ†•ÌïúÎã§.
- **ascending**: Ï†ïÎ†¨ Î∞©ÏãùÏùÑ Ïò§Î¶ÑÏ∞®Ïàú ÎòêÎäî ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú ÏßÄÏ†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ Ïò§Î¶ÑÏ∞®ÏàúÏù¥Îã§.

<br>

In [2]:
# ÏΩîÎìú 6-1. Ï†ïÎ†¨ Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = [[60, 84, 80, 19], [77, 62, 95, 17], [61, 84, 72, 15], [75, 65, 95, 18]]
cols = ['Íµ≠Ïñ¥', 'ÏòÅÏñ¥', 'ÏàòÌïô', 'ÎÇòÏù¥']
df1 = pd.DataFrame(data1, index=list('ABCD'), columns=cols)
df1

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
A  60  84  80  19
B  77  62  95  17
C  61  84  72  15
D  75  65  95  18

In [3]:
# ÏΩîÎìú 6-2. Íµ≠Ïñ¥ Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÍ∏∞
df1.sort_values('Íµ≠Ïñ¥')

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
A  60  84  80  19
C  61  84  72  15
D  75  65  95  18
B  77  62  95  17

In [4]:
# ÏΩîÎìú 6-3. Ìï®ÏàòÎ•º Ï†ÅÏö©Ìï¥ÎèÑ ÏõêÎ≥∏ df1Ïù¥ Î≥ÄÍ≤ΩÎêòÎäî Í≤ÉÏùÄ ÏïÑÎãàÎã§.
df1

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
A  60  84  80  19
B  77  62  95  17
C  61  84  72  15
D  75  65  95  18

#### 6.2.2. Ïò§Î¶ÑÏ∞®ÏàúÍ≥º ÎÇ¥Î¶ºÏ∞®Ïàú

üìå Îß§Í∞úÎ≥ÄÏàò `ascending`ÏúºÎ°ú Î∞©Ìñ• ÏßÄÏ†ï
- `True` ‚Üí Ïò§Î¶ÑÏ∞®Ïàú (Í∏∞Î≥∏Í∞í)
- `False` ‚Üí ÎÇ¥Î¶ºÏ∞®Ïàú
- **Tip**: ascendingÏùò ÎúªÏù¥ Ïò§Î¶ÑÏ∞®Ïàú, ÏïåÌååÎ≤≥ AÎ∂ÄÌÑ∞ ÏãúÏûëÌïòÎäî Ï†ïÎ†¨Î°ú ÏâΩÍ≤å Ïó∞ÏÉÅ

In [5]:
# ÏΩîÎìú 6-4. Íµ≠Ïñ¥ Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÍ∏∞
df1.sort_values('Íµ≠Ïñ¥', ascending=False)

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
B  77  62  95  17
D  75  65  95  18
C  61  84  72  15
A  60  84  80  19

#### 6.2.3. Î≥µÏàòÏùò Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ÌïòÍ∏∞

- `by`Ïóê Î¶¨Ïä§Ìä∏ ÏûÖÎ†• ‚Üí Î≥µÏàòÏùò Ïó¥ÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨
- `ascending`ÎèÑ Î¶¨Ïä§Ìä∏ ÏûÖÎ†• ‚Üí Í∞Å Ïó¥ÎßàÎã§ Î∞©Ìñ• ÏßÄÏ†ï

In [6]:
# ÏΩîÎìú 6-5. ÏòÅÏñ¥ Ïó¥Î°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨ÌïòÎêò, ÎèôÏ†êÏùº ÎïåÎäî ÎÇòÏù¥ Ïó¥Î°ú Ïò§Î¶ÑÏ∞®Ïàú Ï†ïÎ†¨
df1.sort_values(['ÏòÅÏñ¥', 'ÎÇòÏù¥'])

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
B  77  62  95  17
D  75  65  95  18
C  61  84  72  15
A  60  84  80  19

In [7]:
# ÏΩîÎìú 6-6. ÏòÅÏñ¥ Ïó¥Î°ú ÎÇ¥Î¶ºÏ∞®Ïàú Ï†ïÎ†¨ÌïòÎêò, ÎèôÏ†êÏùº ÎïåÎäî ÎÇòÏù¥ Ïó¥Î°ú Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨
df1.sort_values(['ÏòÅÏñ¥', 'ÎÇòÏù¥'], ascending=[False, True])

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
C  61  84  72  15
A  60  84  80  19
D  75  65  95  18
B  77  62  95  17

#### 6.2.4. Ïù∏Îç±Ïä§ÎÇò Ïª¨ÎüºÏ¶àÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ÌïòÍ∏∞(sort_index)

<img src=https://i.postimg.cc/ht892Kjd/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `sort_index`

Ïù∏Îç±Ïä§ÎÇò Ïª¨ÎüºÏ¶àÎ•º Í∏∞Ï§ÄÏúºÎ°ú Ï†ïÎ†¨ÏùÑ ÏàòÌñâÌïòÎäî Ìï®Ïàò

<br>

‚≠ê sort_index Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.sort_index(axis=0, level=None, ascending=True)
```
- **axis**: Ïù∏Îç±Ïä§Í∞Ä Í∏∞Ï§ÄÏù∏ÏßÄ Ïª¨ÎüºÏ¶àÍ∞Ä Í∏∞Ï§ÄÏù∏ÏßÄ ÏßÄÏ†ïÌïúÎã§.

- **level**: Î©ÄÌã∞ Ïù∏Îç±Ïä§Î•º Î≥¥Ïú†Ìï† Îïå Ï†ïÎ†¨Ïùò Í∏∞Ï§ÄÏù¥ ÎêòÎäî Î†àÎ≤®ÏùÑ ÏßÄÏ†ïÌïúÎã§.
- **ascending**: Ï†ïÎ†¨ Î∞©ÏãùÏùÑ Ïò§Î¶ÑÏ∞®Ïàú ÎòêÎäî ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú ÏßÄÏ†ïÌïúÎã§.

<br>

In [8]:
# ÏΩîÎìú 6-7. Ïù∏Îç±Ïä§Î•º Í∏∞Ï§ÄÏúºÎ°ú ÏïåÌååÎ≤≥ Ïó≠ÏàúÏúºÎ°ú Ï†ïÎ†¨
df1.sort_index(ascending=False)

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
D  75  65  95  18
C  61  84  72  15
B  77  62  95  17
A  60  84  80  19

### 6.3. ÌïÑÌÑ∞ÎßÅ

#### 6.3.1. Î∂àÎ¶¨Ïñ∏ Ïù∏Îç±Ïã±Ïù¥ÎûÄ?

üìå Î∂àÎ¶¨Ïñ∏ Ïù∏Îç±Ïã±Ïùò ÏõêÎ¶¨

<img src=https://i.postimg.cc/Rhr7Phcs/image.png, width=600>

üìå Ïã§ÏßàÏ†Å ÌôúÏö©

- ÎπÑÍµê Ïó∞ÏÇ∞ Í≤∞Í≥ºÏù∏ **Î∂à ÏãúÎ¶¨Ï¶à**Î•º Ïù∏Îç±Ïã±Ïóê ÏÇ¨Ïö©  

- ÏõêÌïòÎäî Ï°∞Í±¥Ïóê ÎßûÎäî ÌñâÎßå ÏÑ†ÌÉù ‚Üí **ÌïÑÌÑ∞ÎßÅ Í≤∞Í≥º**Î•º ÏñªÏùå  

  ```python
  df1[df1['Íµ≠Ïñ¥'] < 70]   # Íµ≠Ïñ¥ ÏÑ±Ï†ÅÏù¥ 70 ÎØ∏ÎßåÏù∏ ÌñâÎßå ÏÑ†ÌÉù
  ```

#### 6.3.2. Îã®Ïùº ÏöîÍ±¥ Î∂àÎ¶¨Ïñ∏ Ïù∏Îç±Ïã±

[Ìëú 6-1] Î∂àÎ¶¨Ïñ∏ Ïù∏Îç±Ïã±ÏùÑ ÏàòÌñâÌïòÎäî Ïù∏Îç±ÏÑú

| ÎåÄÏÉÅ            | ÏÇ¨Ïö© Í∞ÄÎä•Ìïú Ïù∏Îç±ÏÑú        |
|-----------------|---------------------------|
| Ìñâ              | `[]`, `loc`               |
| Ïó¥              | `loc`                     |
| Ìñâ + Ïó¥ ÎèôÏãúÏóê    | `loc`                     |

In [9]:
# ÏΩîÎìú 6-8. Íµ≠Ïñ¥ Ï†êÏàòÍ∞Ä 70Ï†êÎ≥¥Îã§ ÎÇÆÏùÄ ÌñâÏùÑ ÌïÑÌÑ∞ÎßÅ
df1.loc[df1['Íµ≠Ïñ¥'] < 70]
df1[df1['Íµ≠Ïñ¥'] < 70]

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
A  60  84  80  19
C  61  84  72  15

In [10]:
# ÏΩîÎìú 6-9. Ï°∞Í±¥Î¨∏ÎèÑ Î∂à ÏãúÎ¶¨Ï¶àÏù¥Í∏∞ ÎïåÎ¨∏Ïóê Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌï† Ïàò ÏûàÎã§.
cond1 = df1['Íµ≠Ïñ¥'] < 70
df1[cond1]

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
A  60  84  80  19
C  61  84  72  15

In [11]:
# ÏΩîÎìú 6-10. Íµ≠Ïñ¥ Ï†êÏàòÍ∞Ä 70Ï†êÎ≥¥Îã§ ÎÇÆÏùÄ ÌñâÏùò Íµ≠Ïñ¥, ÏàòÌïô Ïó¥Îßå ÌïÑÌÑ∞ÎßÅ
df1.loc[df1['Íµ≠Ïñ¥'] < 70, ['Íµ≠Ïñ¥', 'ÏàòÌïô']]

   Íµ≠Ïñ¥  ÏàòÌïô
A  60  80
C  61  72

In [12]:
# ÏΩîÎìú 6-11. AÍ∞Ä 80Ï†ê Ïù¥ÏÉÅ Î∞õÏùÄ Í≥ºÎ™©Ïùò Ï†ÑÏ≤¥ ÏÑ±Ï†ÅÎßå ÌïÑÌÑ∞ÎßÅ
df1.loc[:, df1.loc['A'] >= 80]

   ÏòÅÏñ¥  ÏàòÌïô
A  84  80
B  62  95
C  84  72
D  65  95

#### 6.3.3. Îã§Ï§ë ÏöîÍ±¥ Î∂àÎ¶¨Ïñ∏ Ïù∏Îç±Ïã±

- Ïó¨Îü¨ Ï°∞Í±¥ÏùÑ ÎèôÏãúÏóê Ï†ÅÏö©Ìï† ÎïåÎäî **Î∞òÎìúÏãú ÎπÑÌä∏ Ïó∞ÏÇ∞Ïûê `&`, `|`, `~`** ÏÇ¨Ïö©

- Í∞Å Ï°∞Í±¥ÏùÄ Í¥ÑÌò∏ `( )`Î°ú Î¨∂Ïñ¥Ïïº Ï†ïÌôïÌïòÍ≤å ÎèôÏûë

In [13]:
# ÏΩîÎìú 6-12. Íµ≠Ïñ¥ Ï†êÏàòÍ∞Ä 70Ï†êÎ≥¥Îã§ ÎÇÆÏúºÎ©¥ÏÑú ÏàòÌïô Ï†êÏàòÍ∞Ä 75Ï†êÎ≥¥Îã§ ÎÜíÏùÄ Ìñâ ÌïÑÌÑ∞ÎßÅ
df1[(df1['Íµ≠Ïñ¥'] < 70) & (df1['ÏàòÌïô'] > 75) ]

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
A  60  84  80  19

In [14]:
# ÏΩîÎìú 6-13. ÏΩîÎìú 6-12Ïùò Ï°∞Í±¥Î¨∏ÏùÑ Î≥ÄÏàòÎ°ú ÏßÄÏ†ïÌïòÎ©¥ Í∞ÄÎèÖÏÑ±Ïù¥ Ìñ•ÏÉÅÎêúÎã§.
cond1 = df1['Íµ≠Ïñ¥'] < 70
cond2 = df1['ÏàòÌïô'] > 75
df1[cond1 & cond2]

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô  ÎÇòÏù¥
A  60  84  80  19

#### 6.3.4. Î∂à(bool) ÏûêÎ£åÌòï Í∞ùÏ≤¥Î•º ÏÉùÏÑ±ÌïòÎäî Ìï®Ïàò

[Ìëú 6-2] Î∂à ÏûêÎ£åÌòï Í∞ùÏ≤¥Î•º ÏÉùÏÑ±ÌïòÎäî Îã§ÏñëÌïú Ìï®Ïàò

| Ìï®Ïàò | Í∏∞Îä• |
| :--- | :--- |
| **`isna`**, **`isnull`** | Í∞íÏù¥ `NaN`Ïù¥Î©¥ `True`, ÏïÑÎãàÎ©¥ `False`Î•º Î∞òÌôò |
| **`notna`**, **`notnull`** | Í∞íÏù¥ `NaN`Ïù¥Î©¥ `False`, ÏïÑÎãàÎ©¥ `True`Î•º Î∞òÌôò |
| **`isin`** | ÏßÄÏ†ïÌïú Î¶¨Ïä§Ìä∏ÎÇò Í∞íÏóê Ìè¨Ìï®ÎêòÎ©¥ `True`, ÏïÑÎãàÎ©¥ `False`Î•º Î∞òÌôò |
| **`between`** | Îëê Í∞í ÏÇ¨Ïù¥(Í≤ΩÍ≥Ñ Ìè¨Ìï®)Ïóê Ï°¥Ïû¨ÌïòÎ©¥ `True`, ÏïÑÎãàÎ©¥ `False`Î•º Î∞òÌôò |
| **`duplicated`** | Îç∞Ïù¥ÌÑ∞Í∞Ä Ï§ëÎ≥µÏù¥Î©¥ `True`, ÏïÑÎãàÎ©¥ `False`Î•º Î∞òÌôò |


<br>

<img src=https://i.postimg.cc/xTGdN8q1/image.png, width=600>


‚≠ê ÌåêÎã§Ïä§ `isna`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏù¥ÎÇò ÏãúÎ¶¨Ï¶àÏùò Í≤∞Ï∏°Í∞í(null)ÏùÑ ÌôïÏù∏ÌïòÎäî Ìï®Ïàò

<br>

üìå NaNÏùò ÌÉêÏßÄ

- NaNÏùÄ ÏûêÍ∏∞ ÏûêÏã†Í≥ºÎèÑ Í∞ôÏßÄ ÏïäÏúºÎØÄÎ°ú `==` ÎπÑÍµê Î∂àÍ∞Ä  
- Î∞òÎìúÏãú `isna()` / `isnull()`Î°ú ÌÉêÏßÄÌï¥Ïïº Ìï®

In [15]:
# ÏΩîÎìú 6-14. NaNÏùÄ NaNÍ≥º Í∞ôÏßÄ ÏïäÎã§.
float('nan') == float('nan')

False

In [16]:
# ÏΩîÎìú 6-15. Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data2 = {'Î∞ò': ['1Î∞ò', '4Î∞ò', '5Î∞ò', '2Î∞ò', '1Î∞ò', '3Î∞ò'],
         'Íµ≠Ïñ¥': [60, 77, 61, 75, 92, 90],
         'ÏòÅÏñ¥': [84, 62, 84, 65, 81, 90],
         'ÏàòÌïô': [80, float('nan'), 72, 95, float('nan'), 81]}
df2 = pd.DataFrame(data2)
df2

    Î∞ò  Íµ≠Ïñ¥  ÏòÅÏñ¥    ÏàòÌïô
0  1Î∞ò  60  84  80.0
1  4Î∞ò  77  62   NaN
2  5Î∞ò  61  84  72.0
3  2Î∞ò  75  65  95.0
4  1Î∞ò  92  81   NaN
5  3Î∞ò  90  90  81.0

In [17]:
# ÏΩîÎìú 6-16. ÏàòÌïô Ïó¥ÏóêÏÑú NaNÏùÑ ÌôïÏù∏
df2['ÏàòÌïô'].isna()

0    False
1     True
2    False
3    False
4     True
5    False
Name: ÏàòÌïô, dtype: bool

In [18]:
# ÏΩîÎìú 6-17. ÏàòÌïô Ïó¥ÏóêÏÑú NaNÏùò Í∞úÏàòÎ•º ÌôïÏù∏
df2['ÏàòÌïô'].isna().sum()

np.int64(2)

In [19]:
# ÏΩîÎìú 6-18. ÏàòÌïô Ïó¥Ïù¥ NaNÏù¥ ÏïÑÎãàÍ±∞ÎÇò Íµ≠Ïñ¥Í∞Ä 90Ï†êÏù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞Î•º ÌïÑÌÑ∞ÎßÅ
cond3 = ~df2['ÏàòÌïô'].isna() # ÏàòÌïô Ïó¥Ïù¥ NaNÏù¥ ÏïÑÎãàÎã§.
cond4 = df2['Íµ≠Ïñ¥'] >= 90 # Íµ≠Ïñ¥ Ïó¥Ïù¥ 90 Ïù¥ÏÉÅÏù¥Îã§.
df2[cond3 | cond4]

    Î∞ò  Íµ≠Ïñ¥  ÏòÅÏñ¥    ÏàòÌïô
0  1Î∞ò  60  84  80.0
2  5Î∞ò  61  84  72.0
3  2Î∞ò  75  65  95.0
4  1Î∞ò  92  81   NaN
5  3Î∞ò  90  90  81.0

<img src=https://i.postimg.cc/NjMKHXVx/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `isin`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏù¥ÎÇò ÏãúÎ¶¨Ï¶àÏùò Í∞Å ÏÖÄÏùò Í∞íÏù¥ ÌäπÏ†ï Î∞∞Ïó¥Ïóê Ìè¨Ìï®ÎêòÎäîÏßÄ Ïó¨Î∂Ä ÌôïÏù∏ÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `isin` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í
```python
df.isin(values)
```

- **values**: Ìè¨Ìï® Ïó¨Î∂ÄÎ•º ÌôïÏù∏Ìï† Í∏∞Ï§Ä Î∞∞Ïó¥ÏùÑ ÏûÖÎ†•ÌïúÎã§.

<br>

In [20]:
# ÏΩîÎìú 6-19. 1Î∞ò, 2Î∞ò, 3Î∞ò Ï§ë ÌïòÎÇòÏóê ÏÜçÌïòÎäî Îç∞Ïù¥ÌÑ∞Îßå ÌïÑÌÑ∞ÎßÅ
cond5 = df2['Î∞ò'].isin(['1Î∞ò', '2Î∞ò', '3Î∞ò'])
df2[cond5]

    Î∞ò  Íµ≠Ïñ¥  ÏòÅÏñ¥    ÏàòÌïô
0  1Î∞ò  60  84  80.0
3  2Î∞ò  75  65  95.0
4  1Î∞ò  92  81   NaN
5  3Î∞ò  90  90  81.0

<img src=https://i.postimg.cc/pTpNQWvq/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `between`

ÏãúÎ¶¨Ï¶àÏùò Í∞Å ÏÖÄÏù¥ Ï£ºÏñ¥ÏßÑ Îëê Í∞í ÏÇ¨Ïù¥Ïóê Ï°¥Ïû¨ÌïòÎäîÏßÄ ÌôïÏù∏ÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `between` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
s.between(left, right, inclusive='both')
```

- **left**, **right**: Ï¢åÏ∏° Í≤ΩÍ≥ÑÏôÄ Ïö∞Ï∏° Í≤ΩÍ≥ÑÎ•º Í∞ÅÍ∞Å ÏûÖÎ†•ÌïúÎã§.
- **inclusive**: Í≤ΩÍ≥ÑÏùò Ìè¨Ìï® Ïó¨Î∂ÄÎ•º ÏßÄÏ†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ 'both'Ïù¥Í≥† ÏñëÏ™Ω Í≤ΩÍ≥ÑÍ∞Ä Î™®Îëê Ìè¨Ìï®ÎêúÎã§.

<br>

#### 6.3.5. ÌäπÏ†ï Ïó¥Ïùò Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Ïùò ÏùºÎ∂ÄÎßå Í∞ÄÏ†∏Ïò§Í∏∞(nlargest, nsmallest)

<img src=https://i.postimg.cc/x8B9Nkb5/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `nlargest`, `nsmallest` Ìï®Ïàò

ÌäπÏ†ï Ïó¥Ïùò Í∞íÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Îç∞Ïù¥ÌÑ∞Ïùò ÏùºÎ∂ÄÎßå Í∞ÄÏ†∏Ïò§Îäî Ìï®Ïàò.

`nlargest` Ìï®ÏàòÎäî Í∏∞Ï§Ä Ïó¥Ïùò Í∞íÏù¥ ÎÜíÏùÄ ÏàúÏúºÎ°ú ÏöîÍµ¨ÌïòÎäî
ÌñâÎßåÌÅº Í∞ÄÏ†∏Ïò§Í≥†, `nsmallest` Ìï®ÏàòÎäî Í∏∞Ï§Ä Ïó¥Ïùò Í∞íÏù¥ ÎÇÆÏùÄ ÏàúÏúºÎ°ú ÏöîÍµ¨ÌïòÎäî ÌñâÎßåÌÅº Í∞ÄÏ†∏Ïò®Îã§.

<br>

‚≠ê `nlargest` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.nlargest(n, columns, keep='first')
```

- **n**: ÏÉÅÏúÑ Î™á Í∞úÏùò ÌñâÏùÑ Í∞ÄÏ†∏Ïò¨ÏßÄ Ï†ïÏàòÎ°ú ÏßÄÏ†ïÌïúÎã§.
- **columns**: Ï†ïÎ†¨ Í∏∞Ï§ÄÏù¥ ÎêòÎäî Ïó¥ÏùÑ ÏßÄÏ†ïÌïúÎã§.
- **keep**: ÎèôÏ†êÏù¥ Ï°¥Ïû¨Ìï† Îïå, Ïñ¥Îñ§ ÌñâÏùÑ Í∞ÄÏ†∏Ïò¨ÏßÄ Í≤∞Ï†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ Ï≤´ ÌñâÎßå Í∞ÄÏ†∏Ïò§Îäî 'first'Ïù¥Î©∞, 'last' ÎòêÎäî 'all'
ÎèÑ ÏßÄÏ†ïÏù¥ Í∞ÄÎä•ÌïòÎã§.

‚≠ê `nsmallest` Ìï®ÏàòÏùò Îß§Í∞úÎ≥ÄÏàòÎèÑ ÎèôÏùºÌïòÎã§.

<br>

[Ìëú 6-3] `nsmallest`ÏôÄ `nlargest`Ïùò Îß§Í∞úÎ≥ÄÏàò `keep`

| keep | Í∏∞Îä• |
| :--- | :--- |
| **`'first'`** | ÎèôÏ†êÏù∏ Ìñâ Ï§ëÏóê Í∞ÄÏû• Ï≤´ ÌñâÏùÑ Í∞ÄÏ†∏Ïò®Îã§. (Í∏∞Î≥∏Í∞í) |
| **`'last'`** | ÎèôÏ†êÏù∏ Ìñâ Ï§ëÏóê Í∞ÄÏû• ÎßàÏßÄÎßâ ÌñâÏùÑ Í∞ÄÏ†∏Ïò®Îã§. |
| **`'all'`** | ÎèôÏ†êÏù∏ ÌñâÏùÄ Î™®Îëê Í∞ÄÏ†∏Ïò®Îã§. |

<br>

In [21]:
# ÏΩîÎìú 6-20. Íµ≠Ïñ¥ Ï†êÏàòÍ∞Ä ÌïòÏúÑÏù∏ 4Î™ÖÏùò Îç∞Ïù¥ÌÑ∞Îßå ÌïÑÌÑ∞ÎßÅ
df2.nsmallest(4, columns='Íµ≠Ïñ¥')

    Î∞ò  Íµ≠Ïñ¥  ÏòÅÏñ¥    ÏàòÌïô
0  1Î∞ò  60  84  80.0
2  5Î∞ò  61  84  72.0
3  2Î∞ò  75  65  95.0
1  4Î∞ò  77  62   NaN

In [22]:
# ÏΩîÎìú 6-21. ÏòÅÏñ¥ Ï†êÏàòÍ∞Ä ÏÉÅÏúÑÏù∏ 2Î™ÖÏùò Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú(ÎèôÏ†êÏûêÎäî Î™®Îëê Ï∂îÏ∂ú)
df2.nlargest(2, columns='ÏòÅÏñ¥', keep='all')

    Î∞ò  Íµ≠Ïñ¥  ÏòÅÏñ¥    ÏàòÌïô
5  3Î∞ò  90  90  81.0
0  1Î∞ò  60  84  80.0
2  5Î∞ò  61  84  72.0

#### 6.3.6. Î¨¥ÏûëÏúÑÎ°ú Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂úÌïòÍ∏∞(sample)

‚≠ê ÌåêÎã§Ïä§ `sample` Ìï®Ïàò

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóêÏÑú Î¨¥ÏûëÏúÑÎ°ú ÌñâÏùÑ Ï∂îÏ∂úÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `sample` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.sample(n=None, frac=None, random_state=None)
```

- **n**: Ï∂îÏ∂úÌï† ÌñâÏùò Í∞úÏàòÎ•º Ï†ïÏàòÎ°ú ÏßÄÏ†ïÌïúÎã§. Îß§Í∞úÎ≥ÄÏàò `frac`Í≥º ÎèôÏãú ÏÇ¨Ïö©Ìï† Ïàò ÏóÜÎã§.
- **frac**: Ï∂îÏ∂úÌï† ÎπÑÏú®ÏùÑ 0Í≥º 1 ÏÇ¨Ïù¥Ïùò Ïã§ÏàòÎ°ú ÏßÄÏ†ïÌïúÎã§. Îß§Í∞úÎ≥ÄÏàò `n`Í≥º ÎèôÏãúÏóê ÏÇ¨Ïö©Ìï† Ïàò ÏóÜÎã§.
- **random_state**: ÎÇúÏàò Í≥†Ï†ïÏùÑ ÏúÑÌï¥ ÏãúÎìúÎ•º ÏßÄÏ†ïÌïúÎã§.

<br>

In [23]:
# ÏΩîÎìú 6-22. df2ÏóêÏÑú Î¨¥ÏûëÏúÑÎ°ú 3Î™ÖÏùò Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú
df2.sample(3) # ÏãúÌñâÎßàÎã§ Îã§Î•∏ Í≤∞Í≥ºÍ∞Ä Î∞òÌôòÎêúÎã§.

    Î∞ò  Íµ≠Ïñ¥  ÏòÅÏñ¥    ÏàòÌïô
5  3Î∞ò  90  90  81.0
0  1Î∞ò  60  84  80.0
1  4Î∞ò  77  62   NaN

In [24]:
# ÏΩîÎìú 6-23. df2 Ï†ÑÏ≤¥Î•º ÎûúÎç§ÌïòÍ≤å Ïû¨Î∞∞Ïó¥(ÎÇúÏàò Í≥†Ï†ï)
df2.sample(frac=1, random_state=20)

    Î∞ò  Íµ≠Ïñ¥  ÏòÅÏñ¥    ÏàòÌïô
1  4Î∞ò  77  62   NaN
4  1Î∞ò  92  81   NaN
0  1Î∞ò  60  84  80.0
5  3Î∞ò  90  90  81.0
2  5Î∞ò  61  84  72.0
3  2Î∞ò  75  65  95.0

### ÏóëÏÖÄ ÏòàÏ†ú 4. OECD Íµ≠Í∞Ä GDP Îç∞Ïù¥ÌÑ∞ÏóêÏÑú ÏõêÌïòÎäî Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂úÌïòÍ∏∞

In [25]:
# ÏΩîÎìú 6-24. OECD Íµ≠Í∞Ä GDP ÌÜµÍ≥Ñ ÏóëÏÖÄ ÌååÏùºÏóêÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
pd.options.display.max_rows = 6 # 6ÌñâÍπåÏßÄÎßå Ï∂úÎ†• ÏΩîÎìú
url1 = 'https://github.com/panda-kim/book1/blob/main/08GDP.xlsx?raw=true'
df_gdp = pd.read_excel(url1)
df_gdp

      Íµ≠Í∞Ä     ÎåÄÎ•ô    Ïû•ÎûòÏù∏Íµ¨  GDP(10Ïñµ$)  1Ïù∏Îãπ GDP($)  ÏÑ±Ïû•Î•†(%)     ÏàòÏ∂ú     ÏàòÏûÖ
0     ÌïúÍµ≠    ÏïÑÏãúÏïÑ   51709     1651.0       31929     2.2  542.2  503.3
1   Ïù¥Ïä§ÎùºÏóò    ÏïÑÏãúÏïÑ    8519      394.7       43589     3.5   51.9   75.7
2     ÏùºÎ≥∏    ÏïÑÏãúÏïÑ  126860     5064.9       40113     0.3  705.7  721.1
..   ...    ...     ...        ...         ...     ...    ...    ...
35    ÏòÅÍµ≠     Ïú†ÎüΩ   67530     2830.8       42354     1.4  443.7  622.6
36    Ìò∏Ï£º  Ïò§ÏÑ∏ÏïÑÎãàÏïÑ   25203     1396.6       55057     2.2  271.0  154.0
37  Îâ¥ÏßàÎûúÎìú  Ïò§ÏÑ∏ÏïÑÎãàÏïÑ    4783      209.1       41999     1.6   39.5   42.4

[38 rows x 8 columns]

In [26]:
# ÏΩîÎìú 6-25. 1Ïù∏Îãπ GPDÍ∞Ä 8Îßå Îã¨Îü¨ Ïù¥ÏÉÅÏù∏ Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú
cond1 = df_gdp['1Ïù∏Îãπ GDP($)'] > 80000
df_gdp[cond1]

       Íµ≠Í∞Ä  ÎåÄÎ•ô  Ïû•ÎûòÏù∏Íµ¨  GDP(10Ïñµ$)  1Ïù∏Îãπ GDP($)  ÏÑ±Ïû•Î•†(%)     ÏàòÏ∂ú     ÏàòÏûÖ
21   ÏïÑÏùºÎûúÎìú  Ïú†ÎüΩ  4882      398.6       80779     5.6  169.6  100.8
25  Î£©ÏÖàÎ∂ÄÎ•¥ÌÅ¨  Ïú†ÎüΩ   616       71.1      114685     2.3   14.8   23.0
34    Ïä§ÏúÑÏä§  Ïú†ÎüΩ  8591      731.5       85300     1.1  313.9  277.8

In [27]:
# ÏΩîÎìú 6-26. ÏïÑÏãúÏïÑ, ÎÇ®ÎØ∏, Ïò§ÏÑ∏ÏïÑÎãàÏïÑÏùò Îç∞Ïù¥ÌÑ∞Îßå Ï∂îÏ∂ú
cond2 = df_gdp['ÎåÄÎ•ô'].isin(['ÏïÑÏãúÏïÑ', 'ÎÇ®ÎØ∏', 'Ïò§ÏÑ∏ÏïÑÎãàÏïÑ'])
df_gdp[cond2]

       Íµ≠Í∞Ä     ÎåÄÎ•ô    Ïû•ÎûòÏù∏Íµ¨  GDP(10Ïñµ$)  1Ïù∏Îãπ GDP($)  ÏÑ±Ïû•Î•†(%)     ÏàòÏ∂ú     ÏàòÏûÖ
0      ÌïúÍµ≠    ÏïÑÏãúÏïÑ   51709     1651.0       31929     2.2  542.2  503.3
1    Ïù¥Ïä§ÎùºÏóò    ÏïÑÏãúÏïÑ    8519      394.7       43589     3.5   51.9   75.7
2      ÏùºÎ≥∏    ÏïÑÏãúÏïÑ  126860     5064.9       40113     0.3  705.7  721.1
..    ...    ...     ...        ...         ...     ...    ...    ...
9   ÏΩîÏä§ÌÉÄÎ¶¨Ïπ¥     ÎÇ®ÎØ∏    5048       64.0       12670     2.2   11.9   17.6
36     Ìò∏Ï£º  Ïò§ÏÑ∏ÏïÑÎãàÏïÑ   25203     1396.6       55057     2.2  271.0  154.0
37   Îâ¥ÏßàÎûúÎìú  Ïò§ÏÑ∏ÏïÑÎãàÏïÑ    4783      209.1       41999     1.6   39.5   42.4

[9 rows x 8 columns]

In [28]:
# ÏΩîÎìú 6-27. GDP ÏÉÅÏúÑ 3Í∞ú Íµ≠Í∞Ä Îç∞Ïù¥ÌÑ∞ Ï∂îÏ∂ú
df_gdp.nlargest(3, columns='GDP(10Ïñµ$)')

    Íµ≠Í∞Ä   ÎåÄÎ•ô    Ïû•ÎûòÏù∏Íµ¨  GDP(10Ïñµ$)  1Ïù∏Îãπ GDP($)  ÏÑ±Ïû•Î•†(%)      ÏàòÏ∂ú      ÏàòÏûÖ
6   ÎØ∏Íµ≠  Î∂ÅÏ§ëÎØ∏  329065    21433.2       65280     2.2  1643.1  2497.5
2   ÏùºÎ≥∏  ÏïÑÏãúÏïÑ  126860     5064.9       40113     0.3   705.7   721.1
17  ÎèÖÏùº   Ïú†ÎüΩ   83517     3861.1       46468     0.6  1489.4  1234.0

### 6.4. Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨ÌïòÍ∏∞ 1

üìå **Í≤∞Ï∏°Í∞í(Missing Value)**

- Îç∞Ïù¥ÌÑ∞ÏÖãÏóêÏÑú Í∞íÏù¥ **ÎàÑÎùΩ**ÎêòÍ±∞ÎÇò **Ï°¥Ïû¨ÌïòÏßÄ ÏïäÎäî ÏÉÅÌÉú**

- ÌåêÎã§Ïä§ÏóêÏÑúÎäî Ï£ºÎ°ú **NaN(Not a Number)** ÏúºÎ°ú ÌëúÌòÑ

- Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨
  - **ÌÉêÏßÄ**: `isna`, `isnull`  
  - **ÏÇ≠Ï†ú**: `dropna`  
  - **ÎåÄÏ≤¥**: `fillna`

#### 6.4.1. Í≤∞Ï∏°Í∞í ÌôïÏù∏ÌïòÍ∏∞(isna)

<img src=https://i.postimg.cc/xTGdN8q1/image.png, width=600>


‚≠ê ÌåêÎã§Ïä§ `isna`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏù¥ÎÇò ÏãúÎ¶¨Ï¶àÏùò Í≤∞Ï∏°Í∞í(null)ÏùÑ ÌôïÏù∏ÌïòÎäî Ìï®Ïàò

<br>

üìå NaNÏùò ÌÉêÏßÄ

- NaNÏùÄ ÏûêÍ∏∞ ÏûêÏã†Í≥ºÎèÑ Í∞ôÏßÄ ÏïäÏúºÎØÄÎ°ú `==` ÎπÑÍµê Î∂àÍ∞Ä  
- Î∞òÎìúÏãú `isna()` / `isnull()`Î°ú ÌÉêÏßÄÌï¥Ïïº Ìï®

In [29]:
# ÏΩîÎìú 6-28. Í≤∞Ï∏°Í∞í Ï≤òÎ¶¨ Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data = [[88, 66, None], [None, None, 69], [69, 82, None], [71, 89, 98]]
df = pd.DataFrame(data, index=list('ABCD'), columns=['Íµ≠Ïñ¥', 'ÏòÅÏñ¥', 'ÏàòÌïô'])
df

     Íµ≠Ïñ¥    ÏòÅÏñ¥    ÏàòÌïô
A  88.0  66.0   NaN
B   NaN   NaN  69.0
C  69.0  82.0   NaN
D  71.0  89.0  98.0

In [30]:
# ÏΩîÎìú 6-29. dfÏùò Í∞Å Ïó¥Ïóê Í≤∞Ï∏°Í∞íÏù¥ ÏñºÎßàÎÇò Ï°¥Ïû¨ÌïòÎäîÏßÄ ÌôïÏù∏
df.isna().sum()

Íµ≠Ïñ¥    1
ÏòÅÏñ¥    1
ÏàòÌïô    2
dtype: int64

#### 6.4.2. Í≤∞Ï∏°Í∞íÏùÑ Ìè¨Ìï®Ìïú Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†úÌïòÍ∏∞(dropna)

<img src=https://i.postimg.cc/PJ5Bfd3S/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `dropna`

Í≤∞Ï∏°Í∞í(null)Ïù¥ ÏûàÎäî Ïó¥Ïù¥ÎÇò ÌñâÏùÑ ÏÇ≠Ï†úÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `dropna` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.dropna(axis=0, how='any', subset=None)
```

- **axis**: ÌñâÏùÑ ÏÇ≠Ï†úÌïòÎäîÏßÄ Ïó¥ÏùÑ ÏÇ≠Ï†úÌïòÎäîÏßÄ ÏßÄÏ†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ 0Ïù¥Í≥† Í≤∞Ï∏°Í∞íÏù¥ Ï°¥Ïû¨ÌïòÎäî ÌñâÏùÑ ÏÇ≠Ï†úÌïúÎã§.
- **how**: Ïñ¥Îñ§ Í∏∞Ï§ÄÏúºÎ°ú NaNÏùÑ Î≥¥Ïú†Ìïú Ïó¥Ïù¥ÎÇò ÌñâÏùÑ Ïñ¥ÎñªÍ≤å ÏÇ≠Ï†úÌï†ÏßÄ ÏßÄÏ†ïÌïúÎã§. 'any'Îäî ÌïòÎÇòÎùºÎèÑ NaNÏù¥ Ï°¥Ïû¨Ìïò
Î©¥ ÏÇ≠Ï†úÌïòÍ≥†, 'all'ÏùÄ Î™®Îëê NaNÏùº Îïå ÏÇ≠Ï†úÌïúÎã§.
- **subset**: ÏßÄÏ†ïÎêú Ïó¥Ïóê NaNÏù¥ Ï°¥Ïû¨Ìï† ÎïåÎßå ÏÇ≠Ï†úÌïúÎã§.
<br>

In [31]:
# ÏΩîÎìú 6-30. NaNÏù¥ Ï°¥Ïû¨ÌïòÎäî ÌñâÏùÑ Î™®Îëê ÏÇ≠Ï†ú
df.dropna()

     Íµ≠Ïñ¥    ÏòÅÏñ¥    ÏàòÌïô
D  71.0  89.0  98.0

In [32]:
# ÏΩîÎìú 6-31. ÏàòÌïô Ïó¥Ïóê NaNÏù¥ Ï°¥Ïû¨ÌïòÎäî ÌñâÎßå ÏÇ≠Ï†ú
df.dropna(subset='ÏàòÌïô')

     Íµ≠Ïñ¥    ÏòÅÏñ¥    ÏàòÌïô
B   NaN   NaN  69.0
D  71.0  89.0  98.0

#### 6.4.3. Í≤∞Ï∏°Í∞í ÎåÄÏ≤¥ÌïòÍ∏∞(fillna)

<img src=https://i.postimg.cc/B6LmmtVY/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `fillna`

Í≤∞Ï∏°Í∞íÏùÑ ÏßÄÏ†ïÌïú Í∞íÏúºÎ°ú ÎåÄÏ≤¥ÌïòÎäî Ìï®Ïàò

‚≠ê `fillna` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.fillna(value=None)
```

- **value**: NaNÏùÑ ÎåÄÏ≤¥Ìï† Í∞íÏùÑ ÏßÄÏ†ïÌïúÎã§. ÏûÖÎ†•ÌïòÎäî Í∞íÏùò Ï¢ÖÎ•òÏôÄ Ìï®ÏàòÎ•º Ï†ÅÏö©ÌïòÎäî Í∞ùÏ≤¥Ïóê Îî∞Îùº Îã§ÏñëÌïú Î∞©ÏãùÏúºÎ°ú ÎåÄ
Ï≤¥ÎêúÎã§.

<br>

[Ìëú 6-4] fillna Ìï®ÏàòÏóê ÏûÖÎ†•ÎêòÎäî ÎåÄÏÉÅÏóê Îî∞Î•∏ ÎåÄÏ≤¥ Î∞©Ïãù

| value ÏûÖÎ†• ÎåÄÏÉÅ | ÏãúÎ¶¨Ï¶à(Series)Ïóê Ï†ÅÏö© Ïãú | Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ(DataFrame)Ïóê Ï†ÅÏö© Ïãú |
| :--- | :--- | :--- |
| **Îã®Ïùº Í∞í (Ïä§ÏπºÎùº)** | Îã®Ïùº Í∞íÏúºÎ°ú Î™®Îì† `NaN`ÏùÑ ÎåÄÏ≤¥ | Îã®Ïùº Í∞íÏúºÎ°ú Î™®Îì† `NaN`ÏùÑ ÎåÄÏ≤¥ |
| **ÏãúÎ¶¨Ï¶à (ÌòπÏùÄ ÎîïÏÖîÎÑàÎ¶¨)** | Ïù∏Îç±Ïä§Í∞Ä ÎèôÏùºÌïú Í∞íÏúºÎ°ú `NaN`ÏùÑ ÎåÄÏ≤¥ | Î∏åÎ°úÎìú Ï∫êÏä§ÌåÖ|
| **Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑ** | **Î∂àÍ∞ÄÎä•** | Ïù∏Îç±Ïä§ÏôÄ Ïª¨ÎüºÏ¶àÍ∞Ä Î™®Îëê ÎèôÏùºÌïú ÏúÑÏπòÏùò Í∞íÏúºÎ°ú `NaN`ÏùÑ ÎåÄÏ≤¥ |

<br>

In [33]:
# ÏΩîÎìú 6-32. dfÏùò NaNÏùÑ 0ÏúºÎ°ú ÎåÄÏ≤¥
df.fillna(0)

     Íµ≠Ïñ¥    ÏòÅÏñ¥    ÏàòÌïô
A  88.0  66.0   0.0
B   0.0   0.0  69.0
C  69.0  82.0   0.0
D  71.0  89.0  98.0

In [34]:
# ÏΩîÎìú 6-33. ÏàòÌïô Ïó¥Ïùò Í≤∞Ï∏°Í∞íÏùÑ Íµ≠Ïñ¥ Ïó¥Î°ú ÎåÄÏ≤¥
df['ÏàòÌïô'].fillna(df['Íµ≠Ïñ¥'])

A    88.0
B    69.0
C    69.0
D    98.0
Name: ÏàòÌïô, dtype: float64

In [35]:
# ÏΩîÎìú 6-34. ÏòÅÏñ¥ Ïó¥ÏùÄ 0, ÏàòÌïô Ïó¥ÏùÄ 30ÏúºÎ°ú Í≤∞Ï∏°Í∞í ÎåÄÏ≤¥
df.fillna({'ÏòÅÏñ¥': 0, 'ÏàòÌïô': 30})

     Íµ≠Ïñ¥    ÏòÅÏñ¥    ÏàòÌïô
A  88.0  66.0  30.0
B   NaN   0.0  69.0
C  69.0  82.0  30.0
D  71.0  89.0  98.0

In [36]:
# ÏΩîÎìú 6-35. Í≥ºÎ™©Î≥Ñ ÏµúÏ†ÄÏ†êÏúºÎ°ú NaNÏùÑ ÎåÄÏ≤¥
df.fillna(df.min())

     Íµ≠Ïñ¥    ÏòÅÏñ¥    ÏàòÌïô
A  88.0  66.0  69.0
B  69.0  66.0  69.0
C  69.0  82.0  69.0
D  71.0  89.0  98.0

### 6.5. Ïù¥ÏÉÅÏπòÏôÄ Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨

#### 6.5.1. Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨ÌïòÍ∏∞(clip)

<img src=https://i.postimg.cc/23pMQnjd/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `clip`

ÏÉÅÌïúÏÑ†Ïù¥ÎÇò ÌïòÌïúÏÑ†ÏúºÎ°ú ÏûÑÍ≥óÍ∞íÏùÑ Ï†ÅÏö©Ìï¥ Ïù¥ÏÉÅÏπò(outlier)Î•º Ï≤òÎ¶¨ÌïòÎäî Ìï®Ïàò


‚≠ê `clip` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.clip(lower=None, upper=None)
```

- **lower**: ÏµúÏÜüÍ∞íÏúºÎ°ú Ï†ÅÏö©Ìï† ÏûÑÍ≥óÍ∞íÏùÑ ÏûÖÎ†•ÌïúÎã§. Î∞∞Ïó¥ÏùÑ ÏûÖÎ†•ÌïòÎ©¥ Ïó¥ÎßàÎã§ Îã§Î•¥Í≤å Ï†ÅÏö©ÌïúÎã§.
- **upper**: ÏµúÎåìÍ∞íÏúºÎ°ú Ï†ÅÏö©Ìï† ÏûÑÍ≥óÍ∞íÏùÑ ÏûÖÎ†•ÌïúÎã§. Î∞∞Ïó¥ÏùÑ ÏûÖÎ†•ÌïòÎ©¥ Ïó¥ÎßàÎã§ Îã§Î•¥Í≤å Ï†ÅÏö©ÌïúÎã§.

<br>

In [37]:
# ÏΩîÎìú 6-36. clip Ìï®Ïàò Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = [[89, 4, 74], [29, 46, 83], [40, 19, 60], [29, 91, 76]]
df1 = pd.DataFrame(data1, index=list('ABCD'), columns=['Íµ≠Ïñ¥', 'ÏòÅÏñ¥', 'ÏàòÌïô'])
df1

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô
A  89   4  74
B  29  46  83
C  40  19  60
D  29  91  76

In [38]:
# ÏΩîÎìú 6-37. ÏÉÅÌïúÏÑ†Í≥º ÌïòÌïúÏÑ†ÏúºÎ°ú ÏûÑÍ≥óÍ∞íÏùÑ Í∞ÅÍ∞Å 20Í≥º 80ÏúºÎ°ú Ï†ÅÏö©
df1.clip(lower=20, upper=80)

   Íµ≠Ïñ¥  ÏòÅÏñ¥  ÏàòÌïô
A  80  20  74
B  29  46  80
C  40  20  60
D  29  80  76

#### 6.5.2. Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ Î∞è Ï†úÍ±∞(duplicated, drop_duplicates)

<img src=https://i.postimg.cc/2jJ1pyXF/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `duplicated` Ìï®ÏàòÏôÄ `drop_duplicates` Ìï®Ïàò

Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞Î•º ÌôïÏù∏ÌïòÍ±∞ÎÇò ÏÇ≠Ï†úÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `drop_duplicates` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.drop_duplicates(subset=None, keep='first')
```

- **subset**: Ï§ëÎ≥µÏùÑ ÌôïÏù∏Ìï† Ïó¥ÏùÑ ÏßÄÏ†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ Î™®Îì† Ïó¥Ïùò Í∞íÏù¥ ÎèôÏùºÌï† Îïå Ï§ëÎ≥µÏúºÎ°ú Ï≤òÎ¶¨ÎêúÎã§.
- **keep**: Ï§ëÎ≥µÏùº Îïå Ïñ¥Îñ§ ÌñâÏùÑ Ïú†ÏßÄÌï†ÏßÄ ÏßÄÏ†ïÌïúÎã§. 'first'Í∞Ä Í∏∞Î≥∏Í∞íÏù¥Î©∞, ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞Í∞Ä Ï°¥Ïû¨ÌïòÎçîÎùºÎèÑ Ï≤´ Î≤àÏß∏ ÌñâÏùÄ Ïú†ÏßÄÌïòÍ≥† Îëê Î≤àÏß∏ ÌñâÎ∂ÄÌÑ∞ Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞Î°ú Ï≤òÎ¶¨ÌïúÎã§.
<br>



‚≠ê `duplicated` Ìï®ÏàòÏùò Îß§Í∞úÎ≥ÄÏàòÎèÑ `drop_duplicates` Ìï®ÏàòÏôÄ ÎèôÏùºÌïòÎã§.

<br>

[Ìëú 6-5] Îß§Í∞úÎ≥ÄÏàò keepÍ≥º Ï§ëÎ≥µ Ï≤òÎ¶¨ Î∞©Ïãù

| Îß§Í∞úÎ≥ÄÏàò ÏÑ§Ï†ï | Ï§ëÎ≥µ Ï≤òÎ¶¨ Î∞©Ïãù |
| :--- | :--- |
| **`keep='first'`** | ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú Ï≤´ Î≤àÏß∏ Îç∞Ïù¥ÌÑ∞Î•º Ï†úÏô∏ÌïòÍ≥† Î™®Îëê Ï§ëÎ≥µÏúºÎ°ú Ï≤òÎ¶¨ÌïúÎã§. (Í∏∞Î≥∏Í∞í) |
| **`keep='last'`** | ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞ Ï§ëÏóêÏÑú ÎßàÏßÄÎßâ Îç∞Ïù¥ÌÑ∞Î•º Ï†úÏô∏ÌïòÍ≥† Î™®Îëê Ï§ëÎ≥µÏúºÎ°ú Ï≤òÎ¶¨ÌïúÎã§. |
| **`keep=False`** | ÎèôÏùºÌïú Îç∞Ïù¥ÌÑ∞Îäî Î™®Îëê Ï§ëÎ≥µÏúºÎ°ú Ï≤òÎ¶¨ÌïúÎã§. (Ïú†ÏùºÌïú Í∞íÎßå ÎÇ®ÍπÄ) |

<br>

In [39]:
# ÏΩîÎìú 6-38. Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨ Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data = {'ÌöåÏ∞®': [1, 1, 1, 2, 2],
        'Ïù¥Î¶Ñ': ['ÍπÄÌåêÎã§', 'ÍπÄÌåêÎã§', 'Í∞ïÏäπÏ£º', 'Ï°∞ÎØºÏòÅ', 'ÍπÄÌåêÎã§'],
        'Ï†êÏàò': [680, 680, 880, 620, 750]}
df = pd.DataFrame(data)
df

   ÌöåÏ∞®   Ïù¥Î¶Ñ   Ï†êÏàò
0   1  ÍπÄÌåêÎã§  680
1   1  ÍπÄÌåêÎã§  680
2   1  Í∞ïÏäπÏ£º  880
3   2  Ï°∞ÎØºÏòÅ  620
4   2  ÍπÄÌåêÎã§  750

In [40]:
# ÏΩîÎìú 6-39. Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [41]:
# ÏΩîÎìú 6-40. Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú
df.drop_duplicates()

   ÌöåÏ∞®   Ïù¥Î¶Ñ   Ï†êÏàò
0   1  ÍπÄÌåêÎã§  680
2   1  Í∞ïÏäπÏ£º  880
3   2  Ï°∞ÎØºÏòÅ  620
4   2  ÍπÄÌåêÎã§  750

#### 6.5.3 Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ Ï≤òÎ¶¨ Ìï®ÏàòÏùò ÌôúÏö©

üìå `drop_duplicates` Ìï®ÏàòÏùò Îã§ÏñëÌïú ÌôúÏö©
- `subset` Îß§Í∞úÎ≥ÄÏàòÎ°ú **Í∏∞Ï§Ä Ïó¥ ÏßÄÏ†ï** ‚Üí Îã§ÏñëÌïú ÌïÑÌÑ∞ÎßÅ Í∞ÄÎä•

In [42]:
# ÏΩîÎìú 6-41. dfÏùò Ïù¥Î¶Ñ Ïó¥Î°úÎßå Ï§ëÎ≥µÏùÑ Í≤∞Ï†ïÌï¥ Ï§ëÎ≥µ Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú
df.drop_duplicates('Ïù¥Î¶Ñ')

   ÌöåÏ∞®   Ïù¥Î¶Ñ   Ï†êÏàò
0   1  ÍπÄÌåêÎã§  680
2   1  Í∞ïÏäπÏ£º  880
3   2  Ï°∞ÎØºÏòÅ  620

In [43]:
# ÏΩîÎìú 6-42. keepÏùÑ ÌôúÏö©Ìï¥ Í∞Å ÏÇ¨ÎûåÏùò ÎßàÏßÄÎßâ ÏÑ±Ï†ÅÏùÑ ÌïÑÌÑ∞ÎßÅ
df.drop_duplicates('Ïù¥Î¶Ñ', keep='last')

   ÌöåÏ∞®   Ïù¥Î¶Ñ   Ï†êÏàò
2   1  Í∞ïÏäπÏ£º  880
3   2  Ï°∞ÎØºÏòÅ  620
4   2  ÍπÄÌåêÎã§  750

In [44]:
# ÏΩîÎìú 6-43. keepÏùÑ ÌôúÏö©Ìï¥ ÏãúÌóòÏóê Ìïú Î≤àÎßå ÏùëÏãúÌïú ÏÇ¨ÎûåÏùò ÏÑ±Ï†ÅÎßå ÌïÑÌÑ∞ÎßÅ
df.drop_duplicates('Ïù¥Î¶Ñ', keep=False)

   ÌöåÏ∞®   Ïù¥Î¶Ñ   Ï†êÏàò
2   1  Í∞ïÏäπÏ£º  880
3   2  Ï°∞ÎØºÏòÅ  620

### 6.6. ÏûêÎ£åÌòï Î≥ÄÌôòÍ≥º ÏÜåÏàòÏ†ê Ï≤òÎ¶¨

[Ìëú 6-6] Ïó¨Îü¨ Í∞ÄÏßÄ ÏûêÎ£åÌòï

| ÏûêÎ£åÌòï | Îúª |
| :--- | :--- |
| **`float`** | Ïã§Ïàò (Î∂ÄÎèô ÏÜåÏàòÏ†ê) |
| **`int`** | Ï†ïÏàò |
| **`str`** | Î¨∏ÏûêÏó¥ |
| **`bool`** | Î∂à (True ÎòêÎäî False) |
| **`datetime`** | ÏãúÍ≥ÑÏó¥ (ÎÇ†ÏßúÏôÄ ÏãúÍ∞Ñ) |
| **`category`** | Î≤îÏ£ºÌòï |

<br>

#### 6.6.1. Ïó¨Îü¨ Í∞ÄÏßÄ ÏûêÎ£åÌòïÏúºÎ°ú Î≥ÄÌôòÌïòÍ∏∞(astype)

‚≠ê ÌåêÎã§Ïä§ `astype`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏù¥ÎÇò ÏãúÎ¶¨Ï¶àÏùò ÏûêÎ£åÌòïÏùÑ Î≥ÄÌôòÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `astype` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.astype(dtype)
```

- **dtype**: Î≥ÄÌôòÌï† ÏûêÎ£åÌòïÏùÑ ÏßÄÏ†ïÌïúÎã§. Îß§ÌçºÎ•º ÏûÖÎ†•ÌïòÎ©¥ Ïó¥ÎßàÎã§ ÏÑúÎ°ú Îã§Î•∏ ÏûêÎ£åÌòïÏúºÎ°ú Î≥ÄÌôòÌïúÎã§.

<br>

In [45]:
# ÏΩîÎìú 6-44. ÏûêÎ£åÌòï Î≥ÄÌôò Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = [[8.2, 9, '17', '1'], [7.1, 9, '18', '2'],
         [9.3, 7, '18', '3'], [7.8, 7, '19', '-']]
df1 = pd.DataFrame(data1, columns=['Ïã§Ïàò', 'Ï†ïÏàò', 'Î¨∏ÏûêÏó¥1', 'Î¨∏ÏûêÏó¥2'])
df1

    Ïã§Ïàò  Ï†ïÏàò Î¨∏ÏûêÏó¥1 Î¨∏ÏûêÏó¥2
0  8.2   9   17    1
1  7.1   9   18    2
2  9.3   7   18    3
3  7.8   7   19    -

In [46]:
# ÏΩîÎìú 6-45. df1Ïùò ÏûêÎ£åÌòïÏùÑ dtypes ÏÜçÏÑ±ÏúºÎ°ú ÌååÏïÖÌïòÍ∏∞
df1.dtypes

Ïã§Ïàò      float64
Ï†ïÏàò        int64
Î¨∏ÏûêÏó¥1     object
Î¨∏ÏûêÏó¥2     object
dtype: object

In [47]:
# ÏΩîÎìú 6-46. df1Ïùò ÏûêÎ£åÌòïÏùÑ Î¨∏ÏûêÏó¥(str)Î°ú Î≥ÄÌôòÌïòÍ∏∞
df1.astype('str')

    Ïã§Ïàò Ï†ïÏàò Î¨∏ÏûêÏó¥1 Î¨∏ÏûêÏó¥2
0  8.2  9   17    1
1  7.1  9   18    2
2  9.3  7   18    3
3  7.8  7   19    -

In [48]:
# ÏΩîÎìú 6-47. ÏΩîÎìú 6-46Ïùò Í≤∞Í≥º ÏûêÎ£åÌòï ÌôïÏù∏ÌïòÍ∏∞
df1.astype('str').dtypes

Ïã§Ïàò      object
Ï†ïÏàò      object
Î¨∏ÏûêÏó¥1    object
Î¨∏ÏûêÏó¥2    object
dtype: object

In [49]:
# ÏΩîÎìú 6-48. Îß§ÌçºÎ•º ÏûÖÎ†•Ìï¥ Ïó¥ÎßàÎã§ Îã§Î•∏ ÏûêÎ£åÌòïÏúºÎ°ú Î≥ÄÌôòÌïú Îí§ ÏûêÎ£åÌòï ÌôïÏù∏ÌïòÍ∏∞
df1.astype({'Ïã§Ïàò': 'int', 'Ï†ïÏàò': 'str'}).dtypes

Ïã§Ïàò       int64
Ï†ïÏàò      object
Î¨∏ÏûêÏó¥1    object
Î¨∏ÏûêÏó¥2    object
dtype: object

In [50]:
# ÏΩîÎìú 6-49. Ïã§Ïàò Ïó¥ÏùÑ Ï†ïÏàò ÏûêÎ£åÌòïÏúºÎ°ú Î≥ÄÌôòÌïòÍ∏∞
df1['Ïã§Ïàò'].astype('int')

0    8
1    7
2    9
3    7
Name: Ïã§Ïàò, dtype: int64

#### 6.6.2. ÏàòÏπòÌòïÏúºÎ°ú Î≥ÄÌôòÌïòÍ∏∞(to_numeric)

<img src=https://i.postimg.cc/KcM7ydPL/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `to_numeric`

Îã®Ïùº Í∞í ÎòêÎäî 1Ï∞®Ïõê Î∞∞Ïó¥Ïùò ÏûêÎ£åÌòïÏùÑ ÏàòÏπòÌòïÏúºÎ°ú Î≥ÄÌôòÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `to_numeric` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
pd.to_numeric(arg, errors='raise')
```

- **arg**: Î≥ÄÌôòÌï† ÎåÄÏÉÅÏùÑ ÏßÄÏ†ïÌïúÎã§. Ïä§ÏπºÎùº ÎòêÎäî 1Ï∞®Ïõê Î∞∞Ïó¥ÏùÑ ÏûÖÎ†•ÌïúÎã§.
- **errors**: Ïù¥ Ìï®ÏàòÎ•º ÏÇ¨Ïö©ÌïòÎäî Í∞ÄÏû• ÌÅ∞ Ïù¥Ïú†Ïù¥Î©∞ Î≥ÄÌôòÌï† Ïàò ÏóÜÎäî Îç∞Ïù¥ÌÑ∞Î•º Ï≤òÎ¶¨ÌïòÎäî Î∞©Î≤ïÏùÑ ÏßÄÏ†ïÌïúÎã§. Î≥ÄÌôòÌï† Ïàò
ÏóÜÎäî Îç∞Ïù¥ÌÑ∞Î•º ÎßåÎÇ¨ÏùÑ Îïå Í∏∞Î≥∏Í∞íÏù∏ 'raise'Îäî ÏóêÎü¨Í∞Ä Î∞úÏÉùÌïúÎã§. 'coerce'Îäî Î≥ÄÌôòÌï† Ïàò ÏóÜÎäî Îç∞Ïù¥ÌÑ∞Î•º NaNÏúºÎ°ú
Î≥ÄÌôòÌïòÍ≥† Î≥ÄÌôòÏùÑ ÏôÑÎ£åÌïúÎã§. 'ignore'Îäî Î≥ÄÌôòÌïòÏßÄ ÏïäÍ≥† ÏõêÎ≥∏ÏùÑ Ïú†ÏßÄÌïòÎ©∞, Î≥ÄÌôòÌïòÎäî Îã§Î•∏ Îç∞Ïù¥ÌÑ∞ÎèÑ Ï†ÑÌòÄ Î≥ÄÌôòÌïòÏßÄ
ÏïäÎäîÎã§. ÎåÄÎ∂ÄÎ∂ÑÏùÄ 'coerce'Î•º ÏÇ¨Ïö©ÌïúÎã§

<br>

In [51]:
# ÏΩîÎìú 6-50. ÏàòÏπòÌòïÏúºÎ°ú Î∞îÍøÄ Ïàò ÏóÜÎäî Î¨∏ÏûêÏó¥Ïù¥ Ìè¨Ìï®ÎêòÏóàÏùÑ Îïå ÏàòÏπòÌòïÏúºÎ°ú Î≥ÄÌôò
pd.to_numeric(df1['Î¨∏ÏûêÏó¥2'], errors='coerce')

0    1.0
1    2.0
2    3.0
3    NaN
Name: Î¨∏ÏûêÏó¥2, dtype: float64

In [52]:
# ÏΩîÎìú 6-51. Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ï†ÑÏ≤¥Ïóê to_numeric Ìï®Ïàò Ï†ÅÏö©ÌïòÍ∏∞
df1.apply(pd.to_numeric, errors='coerce')

    Ïã§Ïàò  Ï†ïÏàò  Î¨∏ÏûêÏó¥1  Î¨∏ÏûêÏó¥2
0  8.2   9    17   1.0
1  7.1   9    18   2.0
2  9.3   7    18   3.0
3  7.8   7    19   NaN

#### 6.6.3. ÏÜåÏàòÏ†ê Ï≤òÎ¶¨ÌïòÍ∏∞

<img src=https://i.postimg.cc/mgFLQSbm/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `round`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏù¥ÎÇò ÏãúÎ¶¨Ï¶àÎ•º Î∞òÏò¨Î¶ºÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `round` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.round(decimals=0)
```

- **decimals**: ÏÜåÏàòÏ†ê ÏûêÎ¶øÏàòÎ•º ÏßÄÏ†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ 0Ïù¥Í≥† ÏÜåÏàòÏ†ê Ï≤´Ïß∏ ÏûêÎ¶¨ÏóêÏÑú Î∞òÏò¨Î¶ºÏùÑ ÏàòÌñâÌïúÎã§.

<br>

In [53]:
# ÏΩîÎìú 6-52. Î∞òÏò¨Î¶º Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data2 = [[1.025, 2.249], [3.923, 4.035], [5.418, 6.736]]
df2 = pd.DataFrame(data2, index=list('ABC'), columns=['col1', 'col2'])
df2

    col1   col2
A  1.025  2.249
B  3.923  4.035
C  5.418  6.736

In [54]:
# ÏΩîÎìú 6-53. df2Î•º ÏÜåÏàòÏ†ê ÏÖãÏß∏ ÏûêÎ¶¨ÏóêÏÑú Î∞òÏò¨Î¶º
df2.round(2)

   col1  col2
A  1.02  2.25
B  3.92  4.04
C  5.42  6.74

In [55]:
# ÏΩîÎìú 6-54. Ï∂úÎ†• ÏòµÏÖòÏúºÎ°ú ÏÜåÏàòÏ†ê ÎëòÏß∏ ÏûêÎ¶¨ÍπåÏßÄ ÌëúÏãú
pd.options.display.float_format = '{:.2f}'.format
df2

   col1  col2
A  1.02  2.25
B  3.92  4.04
C  5.42  6.74

### 6.7. Îç∞Ïù¥ÌÑ∞ ÏπòÌôòÍ≥º Îß§Ìïë

#### 6.7.1. Îç∞Ïù¥ÌÑ∞ ÏπòÌôò(replace)

<img src=https://i.postimg.cc/yNpCtgYS/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `replace`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏù¥ÎÇò ÏãúÎ¶¨Ï¶àÏùò Í∞Å ÏÖÄÏùÑ ÏπòÌôòÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `replace` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.replace(to_replace=None, value=None, regex=False)
```

- **to_replace**: Ïù¥Ï†Ñ Í∞íÏùÑ ÏûÖÎ†•ÌïúÎã§. Ïù¥Ï†Ñ Í∞íÍ≥º ÏÉàÎ°úÏö¥ Í∞íÏùò Îß§ÌçºÎèÑ ÏûÖÎ†• Í∞ÄÎä•ÌïòÎã§.
- **value**: ÏÉàÎ°úÏö¥ Í∞íÏùÑ ÏûÖÎ†•ÌïúÎã§.
- **regex**: Ï†ïÍ∑ú ÌëúÌòÑÏãù ÏÇ¨Ïö© Ïó¨Î∂ÄÎ•º ÏßÄÏ†ïÌïúÎã§.

<br>

In [56]:
# ÏΩîÎìú 6-55. ÏπòÌôò Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
data = {'ÌôàÌåÄ': ['ÏÑúÎèÖ', 'ÎåÄÌïúÎØºÍµ≠', 'Î∏åÎùºÏßà', 'ÏÜåÎ†®', 'ÎåÄÌïúÎØºÍµ≠'],
         'ÏõêÏ†ïÌåÄ': ['ÎåÄÌïúÎØºÍµ≠', 'ÏÑúÎèÖ', 'ÏÜåÎ†®', 'Î∏åÎùºÏßà', 'Î∏åÎùºÏßà'],
         'ÌôàÌåÄÍ≥®': [3, 1, 4, 2, 0], 'ÏõêÏ†ïÌåÄÍ≥®': [0, 2, 1, 2, 2]}
data1 = {'old': ['ÏÑúÎèÖ', 'ÏÜåÎ†®'], 'new': ['ÎèÖÏùº', 'Îü¨ÏãúÏïÑ']}

df = pd.DataFrame(data)
df1 = pd.DataFrame(data1)
df

     ÌôàÌåÄ   ÏõêÏ†ïÌåÄ  ÌôàÌåÄÍ≥®  ÏõêÏ†ïÌåÄÍ≥®
0    ÏÑúÎèÖ  ÎåÄÌïúÎØºÍµ≠    3     0
1  ÎåÄÌïúÎØºÍµ≠    ÏÑúÎèÖ    1     2
2   Î∏åÎùºÏßà    ÏÜåÎ†®    4     1
3    ÏÜåÎ†®   Î∏åÎùºÏßà    2     2
4  ÎåÄÌïúÎØºÍµ≠   Î∏åÎùºÏßà    0     2

In [57]:
# ÏΩîÎìú 6-56. ÏÑúÎèÖÏùÑ ÎèÖÏùºÎ°ú ÏπòÌôò
df.replace('ÏÑúÎèÖ', 'ÎèÖÏùº')

     ÌôàÌåÄ   ÏõêÏ†ïÌåÄ  ÌôàÌåÄÍ≥®  ÏõêÏ†ïÌåÄÍ≥®
0    ÎèÖÏùº  ÎåÄÌïúÎØºÍµ≠    3     0
1  ÎåÄÌïúÎØºÍµ≠    ÎèÖÏùº    1     2
2   Î∏åÎùºÏßà    ÏÜåÎ†®    4     1
3    ÏÜåÎ†®   Î∏åÎùºÏßà    2     2
4  ÎåÄÌïúÎØºÍµ≠   Î∏åÎùºÏßà    0     2

In [58]:
# ÏΩîÎìú 6-57. regex=TrueÎ°ú ÏÖÄÏùò ÏùºÎ∂ÄÎ•º ÏπòÌôò
df.replace('ÎåÄÌïúÎØº', 'Ìïú', regex=True)

    ÌôàÌåÄ  ÏõêÏ†ïÌåÄ  ÌôàÌåÄÍ≥®  ÏõêÏ†ïÌåÄÍ≥®
0   ÏÑúÎèÖ   ÌïúÍµ≠    3     0
1   ÌïúÍµ≠   ÏÑúÎèÖ    1     2
2  Î∏åÎùºÏßà   ÏÜåÎ†®    4     1
3   ÏÜåÎ†®  Î∏åÎùºÏßà    2     2
4   ÌïúÍµ≠  Î∏åÎùºÏßà    0     2

In [59]:
# ÏΩîÎìú 6-58. ÏÑúÎèÖÍ≥º ÏÜåÎ†®ÏùÑ EUÎ°ú ÏπòÌôò
df.replace(['ÏÑúÎèÖ', 'ÏÜåÎ†®'], 'EU')

     ÌôàÌåÄ   ÏõêÏ†ïÌåÄ  ÌôàÌåÄÍ≥®  ÏõêÏ†ïÌåÄÍ≥®
0    EU  ÎåÄÌïúÎØºÍµ≠    3     0
1  ÎåÄÌïúÎØºÍµ≠    EU    1     2
2   Î∏åÎùºÏßà    EU    4     1
3    EU   Î∏åÎùºÏßà    2     2
4  ÎåÄÌïúÎØºÍµ≠   Î∏åÎùºÏßà    0     2

In [60]:
# ÏΩîÎìú 6-59. ÏÑúÎèÖÏùÑ ÎèÖÏùºÎ°ú ÏπòÌôòÌïòÍ≥† ÏÜåÎ†®ÏùÑ Îü¨ÏãúÏïÑÎ°ú ÏπòÌôò
df.replace({'ÏÑúÎèÖ': 'ÎèÖÏùº', 'ÏÜåÎ†®': 'Îü¨ÏãúÏïÑ'})

     ÌôàÌåÄ   ÏõêÏ†ïÌåÄ  ÌôàÌåÄÍ≥®  ÏõêÏ†ïÌåÄÍ≥®
0    ÎèÖÏùº  ÎåÄÌïúÎØºÍµ≠    3     0
1  ÎåÄÌïúÎØºÍµ≠    ÎèÖÏùº    1     2
2   Î∏åÎùºÏßà   Îü¨ÏãúÏïÑ    4     1
3   Îü¨ÏãúÏïÑ   Î∏åÎùºÏßà    2     2
4  ÎåÄÌïúÎØºÍµ≠   Î∏åÎùºÏßà    0     2

In [61]:
# ÏΩîÎìú 6-60. Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Îß§Ìçº(ÏãúÎ¶¨Ï¶à)Î•º ÎßåÎì§Ïñ¥ ÏπòÌôòÌïòÍ∏∞
m = df1.set_index('old')['new']
df.replace(m)

     ÌôàÌåÄ   ÏõêÏ†ïÌåÄ  ÌôàÌåÄÍ≥®  ÏõêÏ†ïÌåÄÍ≥®
0    ÎèÖÏùº  ÎåÄÌïúÎØºÍµ≠    3     0
1  ÎåÄÌïúÎØºÍµ≠    ÎèÖÏùº    1     2
2   Î∏åÎùºÏßà   Îü¨ÏãúÏïÑ    4     1
3   Îü¨ÏãúÏïÑ   Î∏åÎùºÏßà    2     2
4  ÎåÄÌïúÎØºÍµ≠   Î∏åÎùºÏßà    0     2

#### 6.7.2. Îß§ÌïëÌïòÍ∏∞(map)

<img src=https://i.postimg.cc/zBNTmBtX/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `map`

ÏãúÎ¶¨Ï¶àÎÇò Ïù∏Îç±Ïä§ ÌÅ¥ÎûòÏä§Ïùò Îß§ÌïëÏùÑ ÏàòÌñâÌïòÎäî Ìï®Ïàò

<br>


‚≠ê `map` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
s.map(func)
```

- **func**: Ìï®Ïàò, ÏãúÎ¶¨Ï¶à, ÎîïÏÖîÎÑàÎ¶¨ Îì±Ïùò Îß§ÌçºÎ•º ÏûÖÎ†•ÌïúÎã§.

<br>

In [62]:
# ÏΩîÎìú 6-61. Îß§Ìïë Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
s = pd.Series(['ÏÇ¨Í≥º', 'Î∞îÎÇòÎÇò', 'Î∞îÎÇòÎÇò', 'Ìè¨ÎèÑ', 'ÏÇ¨Í≥º'])
s

0     ÏÇ¨Í≥º
1    Î∞îÎÇòÎÇò
2    Î∞îÎÇòÎÇò
3     Ìè¨ÎèÑ
4     ÏÇ¨Í≥º
dtype: object

In [63]:
# ÏΩîÎìú 6-62. ÏÇ¨Í≥ºÎäî '0', Î∞îÎÇòÎÇòÎäî '1', Ìè¨ÎèÑÎäî '2'Î°ú Îß§ÌïëÌïòÍ∏∞
dict1 = {'ÏÇ¨Í≥º': '0', 'Î∞îÎÇòÎÇò': '1', 'Ìè¨ÎèÑ': '2'}
s.map(dict1)

0    0
1    1
2    1
3    2
4    0
dtype: object

#### 6.7.3. replace Ìï®ÏàòÏôÄ map Ìï®ÏàòÏùò Ï∞®Ïù¥

In [64]:
# ÏΩîÎìú 6-63. replace Ìï®ÏàòÎ°ú ÏΩîÎìú 6-62 ÏàòÌñâÌïòÍ∏∞
s.replace(dict1)

0    0
1    1
2    1
3    2
4    0
dtype: object

In [65]:
# ÏΩîÎìú 6-64. ÏÇ¨Í≥ºÎßå '0'ÏúºÎ°ú Îß§ÌïëÌïòÍ∏∞
dict2 = {'ÏÇ¨Í≥º': '0'}
s.map(dict2)

0      0
1    NaN
2    NaN
3    NaN
4      0
dtype: object

In [66]:
# ÏΩîÎìú 6-65. ÏΩîÎìú 6-64Î•º replace Ìï®ÏàòÎ°ú ÏàòÌñâÌï¥ map Ìï®ÏàòÏôÄÏùò Ï∞®Ïù¥ ÌôïÏù∏ÌïòÍ∏∞
s.replace(dict2)

0      0
1    Î∞îÎÇòÎÇò
2    Î∞îÎÇòÎÇò
3     Ìè¨ÎèÑ
4      0
dtype: object

In [67]:
# ÏΩîÎìú 6-66. ÏÇ¨Í≥ºÎäî '0' ÎÇòÎ®∏ÏßÄÎäî Ï†ÑÎ∂Ä '1'Î°ú Îß§ÌïëÌïòÍ∏∞
s.map(dict2).fillna('1')

0    0
1    1
2    1
3    1
4    0
dtype: object

### ÏóëÏÖÄ ÏòàÏ†ú 5.  ÎØ∏Íµ≠ Î†àÏä§ÌÜ†Îûë Í≥†Í∞ùÏùò ÌåÅ Îç∞Ïù¥ÌÑ∞ Ï†ïÏ†úÌïòÍ∏∞

In [68]:
# ÏΩîÎìú 6-67. ÎØ∏Íµ≠ Î†àÏä§ÌÜ†Îûë Í≥†Í∞ùÏùò ÌåÅ ÏóëÏÖÄ ÌååÏùºÏóêÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
pd.options.display.max_rows = 6 # 6ÌñâÍπåÏßÄÎßå Ï∂úÎ†•
url2 = 'https://github.com/panda-kim/book1/blob/main/09tips.xlsx?raw=true'
df_tips = pd.read_excel(url2)
df_tips

     total_bill  tip  gender smoker   day    time  size
0         16.99    -  Female     No   Sun   Lunch     2
1         10.34 1.66    Male     No   Sun  Dinner     3
2         21.01 3.50    Male    NaN   Sun  Dinner     3
..          ...  ...     ...    ...   ...     ...   ...
241       22.67    2    Male    NaN   Sat  Dinner     2
242       17.82 1.75    Male     No   Sat  Dinner     2
243       18.78    3  Female    NaN  Thur  Dinner     2

[244 rows x 7 columns]

In [69]:
# ÏΩîÎìú 6-68. info Ìï®ÏàòÎ°ú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌôïÏù∏ÌïòÍ∏∞
df_tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    object
 2   gender      244 non-null    object
 3   smoker      231 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(1), int64(1), object(5)
memory usage: 13.5+ KB

In [70]:
# ÏΩîÎìú 6-69. tip Ïó¥ÏùÑ Ïã§Ïàò ÏûêÎ£åÌòïÏúºÎ°ú Î≥ÄÌôòÌïòÍ∏∞
df_tips['tip'] = pd.to_numeric(df_tips['tip'], errors='coerce')
df_tips

     total_bill  tip  gender smoker   day    time  size
0         16.99  NaN  Female     No   Sun   Lunch     2
1         10.34 1.66    Male     No   Sun  Dinner     3
2         21.01 3.50    Male    NaN   Sun  Dinner     3
..          ...  ...     ...    ...   ...     ...   ...
241       22.67 2.00    Male    NaN   Sat  Dinner     2
242       17.82 1.75    Male     No   Sat  Dinner     2
243       18.78 3.00  Female    NaN  Thur  Dinner     2

[244 rows x 7 columns]

In [71]:
# ÏΩîÎìú 6-70. time Ïó¥Ïùò LunchÎ•º 0, DinnerÎ•º 1Î°ú Îß§ÌïëÌïòÍ∏∞
m1 = {'Lunch': 0, 'Dinner': 1}
df_tips['time'] = df_tips['time'].map(m1)
df_tips

     total_bill  tip  gender smoker   day  time  size
0         16.99  NaN  Female     No   Sun     0     2
1         10.34 1.66    Male     No   Sun     1     3
2         21.01 3.50    Male    NaN   Sun     1     3
..          ...  ...     ...    ...   ...   ...   ...
241       22.67 2.00    Male    NaN   Sat     1     2
242       17.82 1.75    Male     No   Sat     1     2
243       18.78 3.00  Female    NaN  Thur     1     2

[244 rows x 7 columns]

In [72]:
# ÏΩîÎìú 6-71. smoker Ïó¥Ïùò Í≤∞Ï∏°Í∞íÏùÑ Ïó¨ÏûêÏùºÎïå No, ÎÇ®ÏûêÏùºÎïåÎäî YesÎ°ú ÎåÄÏ≤¥ÌïòÍ∏∞
m2 = {'Female': 'No', 'Male': 'Yes'}
df_tips['smoker'] = df_tips['smoker'].fillna(df_tips['gender'].map(m2))
df_tips

     total_bill  tip  gender smoker   day  time  size
0         16.99  NaN  Female     No   Sun     0     2
1         10.34 1.66    Male     No   Sun     1     3
2         21.01 3.50    Male    Yes   Sun     1     3
..          ...  ...     ...    ...   ...   ...   ...
241       22.67 2.00    Male    Yes   Sat     1     2
242       17.82 1.75    Male     No   Sat     1     2
243       18.78 3.00  Female     No  Thur     1     2

[244 rows x 7 columns]

In [73]:
# ÏΩîÎìú 6-72. info Ìï®ÏàòÎ°ú df_tipsÏùò ÏûêÎ£åÌòï ÌôïÏù∏
df_tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         218 non-null    float64
 2   gender      244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    int64
 6   size        244 non-null    int64
dtypes: float64(2), int64(2), object(3)
memory usage: 13.5+ KB

In [74]:
# ÏΩîÎìú 6-73. Í≤∞Í≥ºÎ•º ÏóëÏÖÄ ÌååÏùºÎ°ú Ï†ÄÏû•
df_tips.to_excel('ch06_tips.xlsx', index=False)