## Chapter 7. Îç∞Ïù¥ÌÑ∞ Í≤∞Ìï©ÌïòÍ∏∞

In [1]:
# Î≤ÑÏ†Ñ ÏïàÎÇ¥
import pandas as pd
print(f'ÍµêÏû¨ Í∂åÏû• Î≤ÑÏ†Ñ: Pandas 2.2.2')
print(f'ÌòÑÏû¨ Ïã§Ìñâ Î≤ÑÏ†Ñ: Pandas {pd.__version__}')

ÍµêÏû¨ Í∂åÏû• Î≤ÑÏ†Ñ: Pandas 2.2.2
ÌòÑÏû¨ Ïã§Ìñâ Î≤ÑÏ†Ñ: Pandas 2.2.2

### 7.1. Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ïó∞Í≤∞ÌïòÍ∏∞

üìå Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ïó∞Í≤∞ÌïòÍ∏∞

- Ïó∞Í≤∞ : Íµ¨Ï°∞Í∞Ä Í∞ôÏùÄ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ÌïòÎÇòÎ°ú Ìï©Ïπ®. Ïòà) ÏõîÎ≥Ñ Îß§Ï∂ú ÏãúÌä∏ Ìï©ÏπòÍ∏∞  

- ÌåêÎã§Ïä§Îäî `concat` Ìï®ÏàòÎ•º ÏÇ¨Ïö©

#### 7.1.1. Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Ïó∞Í≤∞ÌïòÍ∏∞(concat)

<img src=https://i.postimg.cc/NMBnncWf/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `concat`

Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Ïó∞Í≤∞ÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `concat` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
pd.concat(objs, axis=0, join='outer')
```

- **objs**: Ïó∞Í≤∞Ìï† ÏãúÎ¶¨Ï¶àÎÇò Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÎì§ÏùÑ Î¶¨Ïä§Ìä∏Î°ú Î¨∂Ïñ¥ ÏûÖÎ†•ÌïúÎã§.

- **axis**: Ïó∞Í≤∞Ìï† Ï∂ï Î∞©Ìñ•ÏùÑ ÏßÄÏ†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ ÏÑ∏Î°ú Î∞©Ìñ•ÏúºÎ°ú Ïó∞Í≤∞ÌïúÎã§.

- **join**: Í≤∞Ìï© Î∞©ÏãùÏùÑ ÏßÄÏ†ïÌïúÎã§.

<br>

In [2]:
# ÏΩîÎìú 7-1. concat Ìï®Ïàò Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = [[80, 69, 83, 98], [71, 90, 69, 66], [74, 72, 72, 95]]
data2 = [[68, 70, 84, 70], [65, 91, 90, 66], [78, 94, 96, 64]]
data3 = [[65, 82], [85, 60], [75, 78]]
data4 = [[79, 99, 95, 90], [99, 76, 81, 97], [95, 80, 62, 84]]
col1 = ['Íµ≠Ïñ¥', 'ÏàòÌïô', 'ÏòÅÏñ¥', 'Í≥ºÌïô']
col2 = ['ÏÇ¨Ìöå', 'ÏùºÏñ¥']
col3 = ['Íµ≠Ïñ¥', 'ÏàòÌïô', 'ÏòÅÏñ¥', 'ÏÇ¨Ìöå']

df1 = pd.DataFrame(data1, index=list('ABC'), columns=col1)
df2 = pd.DataFrame(data2, index=list('DEF'), columns=col1)
df3 = pd.DataFrame(data3, index=list('ABC'), columns=col2)
df4 = df2[['ÏòÅÏñ¥', 'Í≥ºÌïô', 'ÏàòÌïô', 'Íµ≠Ïñ¥']]
df5 = pd.DataFrame(data4, index=list('GHI'), columns=col3)

In [3]:
# ÏΩîÎìú 7-2. df1Í≥º df2Î•º Ïó∞Í≤∞
pd.concat([df1, df2])

   Íµ≠Ïñ¥  ÏàòÌïô  ÏòÅÏñ¥  Í≥ºÌïô
A  80  69  83  98
B  71  90  69  66
C  74  72  72  95
D  68  70  84  70
E  65  91  90  66
F  78  94  96  64

In [4]:
# ÏΩîÎìú 7-3. df1Í≥º df3Î•º Í∞ÄÎ°ú Î∞©Ìñ•ÏúºÎ°ú Ïó∞Í≤∞
pd.concat([df1, df3], axis=1)

   Íµ≠Ïñ¥  ÏàòÌïô  ÏòÅÏñ¥  Í≥ºÌïô  ÏÇ¨Ìöå  ÏùºÏñ¥
A  80  69  83  98  65  82
B  71  90  69  66  85  60
C  74  72  72  95  75  78

In [5]:
# ÏΩîÎìú 7-4. Ïó¥Ïùò ÏàúÏÑúÍ∞Ä ÏÑúÎ°ú Îã§Î•∏ df1Í≥º df4Î•º ÏÑ∏Î°ú Î∞©Ìñ•ÏúºÎ°ú Ïó∞Í≤∞
pd.concat([df1, df4])

   Íµ≠Ïñ¥  ÏàòÌïô  ÏòÅÏñ¥  Í≥ºÌïô
A  80  69  83  98
B  71  90  69  66
C  74  72  72  95
D  68  70  84  70
E  65  91  90  66
F  78  94  96  64

#### 7.1.2. Ïô∏Î∂Ä Ï°∞Ïù∏Í≥º ÎÇ¥Î∂Ä Ï°∞Ïù∏

üìå Ïô∏Î∂Ä Ï°∞Ïù∏Í≥º ÎÇ¥Î∂Ä Ï°∞Ïù∏  

- Ïô∏Î∂Ä Ï°∞Ïù∏ (Outer Join)  
  - **Ìï©ÏßëÌï©** Í∏∞Ï§ÄÏúºÎ°ú Ïó∞Í≤∞ (Í∏∞Î≥∏Í∞í)
  - ÏóÜÎäî Í∞íÏùÄ **NaN**ÏúºÎ°ú Ï±ÑÏõÄ  

- ÎÇ¥Î∂Ä Ï°∞Ïù∏ (Inner Join)  
  - **ÍµêÏßëÌï©** Í∏∞Ï§ÄÏúºÎ°ú Ïó∞Í≤∞  
  - Í≥µÌÜµÎêú Ïó¥Îßå Ïú†ÏßÄ

In [6]:
# ÏΩîÎìú 7-5. Ïó¥ Íµ¨ÏÑ±Ïù¥ Îã§Î•∏ Îëê Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Ïô∏Î∂Ä Ï°∞Ïù∏ÏúºÎ°ú Ïó∞Í≤∞
pd.concat([df1, df5])

   Íµ≠Ïñ¥  ÏàòÌïô  ÏòÅÏñ¥    Í≥ºÌïô    ÏÇ¨Ìöå
A  80  69  83  98.0   NaN
B  71  90  69  66.0   NaN
C  74  72  72  95.0   NaN
G  79  99  95   NaN  90.0
H  99  76  81   NaN  97.0
I  95  80  62   NaN  84.0

In [7]:
# ÏΩîÎìú 7-6. Ïó¥ Íµ¨ÏÑ±Ïù¥ Îã§Î•∏ Îëê Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ÎÇ¥Î∂Ä Ï°∞Ïù∏ÏúºÎ°ú Ïó∞Í≤∞
pd.concat([df1, df5], join='inner')

   Íµ≠Ïñ¥  ÏàòÌïô  ÏòÅÏñ¥
A  80  69  83
B  71  90  69
C  74  72  72
G  79  99  95
H  99  76  81
I  95  80  62

### 7.2. Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î≥ëÌï©ÌïòÍ∏∞

üìå Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î≥ëÌï©  

- **Îç∞Ïù¥ÌÑ∞ Î≤†Ïù¥Ïä§Ïùò Ï°∞Ïù∏**Ï≤òÎüº Îëê Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ Ìï©Ïπ®  
- ÌåêÎã§Ïä§Îäî **merge** Ìï®Ïàò ÏÇ¨Ïö©  
- ÏóëÏÖÄ **VLOOKUP**Ï≤òÎüº ÌÇ§ Í∏∞Ï§Ä Î≥ëÌï© Í∞ÄÎä• (`how='left'`)

#### 7.2.1. ÏóëÏÖÄÏùò vlookup Î∞©ÏãùÏúºÎ°ú Î≥ëÌï©ÌïòÍ∏∞(merge)

<img src=https://i.postimg.cc/SQfGdPLZ/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `merge`

Îç∞Ïù¥ÌÑ∞ Î≤†Ïù¥Ïä§Ïùò Ï°∞Ïù∏ÏùÑ ÏàòÌñâÌïòÎäî Ìï®Ïàò. Ï£ºÎ°ú ÏóëÏÖÄÏùò vlookup Î∞©ÏãùÏùò Î≥ëÌï©ÏùÑ ÏàòÌñâÌïúÎã§.

<br>

‚≠ê `merge` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.merge(right, how='inner', on=None)
```

- **right**: Î≥ëÌï©Ìï† Í∞ùÏ≤¥Î•º ÏßÄÏ†ïÌïúÎã§. Í∑∏Î¶ºÏùò df2Ïù¥Îã§.
- **how**: Î≥ëÌï© Î∞©ÏãùÏùÑ ÏßÄÏ†ïÌïúÎã§. 'left'Í∞Ä vlookup Î∞©ÏãùÏù¥Îã§.
- **on**: Î≥ëÌï©Ïùò Í∏∞Ï§ÄÏù¥ ÎêòÎäî Ïó¥ÏùÑ ÏßÄÏ†ïÌïúÎã§. Í∏∞Î≥∏Í∞íÏùÄ ÏñëÏ∏°Ïóê Í≥µÌÜµÏúºÎ°ú Ï°¥Ïû¨ÌïòÎäî Ïó¥ Ïù¥Î¶ÑÏùÑ Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©ÌïúÎã§.

<br>

In [8]:
# ÏΩîÎìú 7-7. merge Ìï®Ïàò Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = {'Ïù¥Î¶Ñ': ['ÍπÄÌåêÎã§', 'Ï°∞ÎØºÏòÅ', 'Í∞ïÏäπÏ£º', 'ÏµúÏßÑÌôò', 'Î∞ïÏó∞Ï§Ä'],
         'Ï†úÌíà': ['ÏïÑÏù¥Ïä§Ìã∞', 'Ïπ¥ÌéòÎùºÎñº', 'Ïπ¥ÌéòÎùºÎñº', 'ÏïÑÏù¥Ïä§Ìã∞', 'ÎÖπÏ∞®']}
data2 = {'Ï†úÌíà': ['Ïπ¥ÌéòÎùºÎñº', 'ÏïÑÏù¥Ïä§Ìã∞', 'ÎÖπÏ∞®'], 'Í∞ÄÍ≤©': [4500, 4600, 4800]}
data3 = {'ÏÉÅÌíà': ['Ïπ¥ÌéòÎùºÎñº', 'ÏïÑÏù¥Ïä§Ìã∞', 'ÎÖπÏ∞®'], 'Í∞ÄÍ≤©': [4500, 4600, 4800]}
data4 = {'Í∞ÄÍ≤©': [4500, 4600], 'Ï†úÌíà': ['Ïπ¥ÌéòÎùºÎñº', 'ÏïÑÏù¥Ïä§Ìã∞'],
         'Î∂ÑÎ•ò': ['Ïª§Ìîº', 'ÏùåÎ£å']}
data5 = {'Ï†úÌíà': ['Ïπ¥ÌéòÎùºÎñº', 'ÏïÑÏù¥Ïä§Ìã∞', 'ÎÖπÏ∞®', 'ÎÖπÏ∞®'],
         'Í∞ÄÍ≤©': [4500, 4600, 4800, 3500],
         'ÎπÑÍ≥†': ['Ï†ïÏÉÅÍ∞Ä', 'Ï†ïÏÉÅÍ∞Ä', 'Ï†ïÏÉÅÍ∞Ä', 'Ìï†Ïù∏Í∞Ä']}

df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)
df5 = pd.DataFrame(data5)

In [9]:
# ÏΩîÎìú 7-8. vlookup Î∞©ÏãùÏúºÎ°ú Î≥ëÌï©
df1.merge(df2, how='left')

    Ïù¥Î¶Ñ    Ï†úÌíà    Í∞ÄÍ≤©
0  ÍπÄÌåêÎã§  ÏïÑÏù¥Ïä§Ìã∞  4600
1  Ï°∞ÎØºÏòÅ  Ïπ¥ÌéòÎùºÎñº  4500
2  Í∞ïÏäπÏ£º  Ïπ¥ÌéòÎùºÎñº  4500
3  ÏµúÏßÑÌôò  ÏïÑÏù¥Ïä§Ìã∞  4600
4  Î∞ïÏó∞Ï§Ä    ÎÖπÏ∞®  4800

In [10]:
# ÏΩîÎìú 7-9. Í∏∞Ï§Ä Ïó¥Ïùò Ïù¥Î¶ÑÏù¥ ÏñëÏ∏° Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóêÏÑú ÏÑúÎ°ú Îã§Î•º Îïå Î≥ëÌï©
df1.merge(df3.rename({'ÏÉÅÌíà': 'Ï†úÌíà'}, axis=1), how='left')

    Ïù¥Î¶Ñ    Ï†úÌíà    Í∞ÄÍ≤©
0  ÍπÄÌåêÎã§  ÏïÑÏù¥Ïä§Ìã∞  4600
1  Ï°∞ÎØºÏòÅ  Ïπ¥ÌéòÎùºÎñº  4500
2  Í∞ïÏäπÏ£º  Ïπ¥ÌéòÎùºÎñº  4500
3  ÏµúÏßÑÌôò  ÏïÑÏù¥Ïä§Ìã∞  4600
4  Î∞ïÏó∞Ï§Ä    ÎÖπÏ∞®  4800

In [11]:
# ÏΩîÎìú 7-10. merge Ìï®ÏàòÎäî Ïó¥Ïùò ÏàúÏÑúÏôÄ Í¥ÄÍ≥ÑÏóÜÍ≥†, Ïó¨Îü¨ Ïó¥ÏùÑ Ìïú Î≤àÏóê Î≥ëÌï©ÌïúÎã§.
df1.merge(df4, how='left')

    Ïù¥Î¶Ñ    Ï†úÌíà      Í∞ÄÍ≤©   Î∂ÑÎ•ò
0  ÍπÄÌåêÎã§  ÏïÑÏù¥Ïä§Ìã∞  4600.0   ÏùåÎ£å
1  Ï°∞ÎØºÏòÅ  Ïπ¥ÌéòÎùºÎñº  4500.0   Ïª§Ìîº
2  Í∞ïÏäπÏ£º  Ïπ¥ÌéòÎùºÎñº  4500.0   Ïª§Ìîº
3  ÏµúÏßÑÌôò  ÏïÑÏù¥Ïä§Ìã∞  4600.0   ÏùåÎ£å
4  Î∞ïÏó∞Ï§Ä    ÎÖπÏ∞®     NaN  NaN

In [12]:
# ÏΩîÎìú 7-11. Î≥µÏàòÏùò Ìñâ Î≥ëÌï©
df1.merge(df5, how='left')

    Ïù¥Î¶Ñ    Ï†úÌíà    Í∞ÄÍ≤©   ÎπÑÍ≥†
0  ÍπÄÌåêÎã§  ÏïÑÏù¥Ïä§Ìã∞  4600  Ï†ïÏÉÅÍ∞Ä
1  Ï°∞ÎØºÏòÅ  Ïπ¥ÌéòÎùºÎñº  4500  Ï†ïÏÉÅÍ∞Ä
2  Í∞ïÏäπÏ£º  Ïπ¥ÌéòÎùºÎñº  4500  Ï†ïÏÉÅÍ∞Ä
3  ÏµúÏßÑÌôò  ÏïÑÏù¥Ïä§Ìã∞  4600  Ï†ïÏÉÅÍ∞Ä
4  Î∞ïÏó∞Ï§Ä    ÎÖπÏ∞®  4800  Ï†ïÏÉÅÍ∞Ä
5  Î∞ïÏó∞Ï§Ä    ÎÖπÏ∞®  3500  Ìï†Ïù∏Í∞Ä

#### 7.2.2. Îã§Ï§ë ÏöîÍ±¥ vlookupÏùÑ merge Ìï®ÏàòÎ°ú ÏàòÌñâÌïòÍ∏∞

üìå Îã§Ï§ë ÏöîÍ±¥ VLOOKUPÏùÑ ÌåêÎã§Ïä§Î°ú ÏàòÌñâ

- ÏóëÏÖÄÏùò **VLOOKUP**ÏùÑ Ïó¨Îü¨ Ï°∞Í±¥(Ïó¥)ÏúºÎ°ú ÏàòÌñâÌïòÎäî Í≤ÉÍ≥º ÎèôÏùº  
- ÌåêÎã§Ïä§ÏóêÏÑúÎäî `merge` Ìï®ÏàòÏùò Îß§Í∞úÎ≥ÄÏàò `on`Ïóê **Î≥µÏàòÏùò Ïó¥**ÏùÑ ÏßÄÏ†ïÌïòÎ©¥ Í∞ÑÌé∏

In [13]:
# ÏΩîÎìú 7-12. Îã§Ï§ë ÏöîÍ±¥ vlookup Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = {'Ïù¥Î¶Ñ': ['ÍπÄÌåêÎã§', 'Í∞ïÏäπÏ£º', 'ÏµúÏßÑÌôò', 'Ï°∞ÎØºÏòÅ', 'Í∂åÎ≥¥ÏïÑ'],
         'ÏóÖÏ≤¥': ['ÏΩ©Îã§Î∞©', 'ÏΩ©Îã§Î∞©', 'Î≥ÑÎã§Î∞©', 'ÏΩ©Îã§Î∞©', 'Î≥ÑÎã§Î∞©'],
         'Ï†úÌíà': ['ÏïÑÏù¥Ïä§Ìã∞', 'Ïπ¥ÌéòÎùºÎñº', 'Ïπ¥ÌéòÎùºÎñº', 'ÏïÑÏù¥Ïä§Ìã∞', 'ÏïÑÏù¥Ïä§Ìã∞']}
data2 = {'ÏóÖÏ≤¥': ['ÏΩ©Îã§Î∞©', 'ÏΩ©Îã§Î∞©', 'Î≥ÑÎã§Î∞©', 'Î≥ÑÎã§Î∞©'],
         'Ï†úÌíà': ['ÏïÑÏù¥Ïä§Ìã∞', 'Ïπ¥ÌéòÎùºÎñº', 'ÏïÑÏù¥Ïä§Ìã∞', 'Ïπ¥ÌéòÎùºÎñº'],
         'Í∞ÄÍ≤©': [4600, 4700, 4200, 4300]}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df1

    Ïù¥Î¶Ñ   ÏóÖÏ≤¥    Ï†úÌíà
0  ÍπÄÌåêÎã§  ÏΩ©Îã§Î∞©  ÏïÑÏù¥Ïä§Ìã∞
1  Í∞ïÏäπÏ£º  ÏΩ©Îã§Î∞©  Ïπ¥ÌéòÎùºÎñº
2  ÏµúÏßÑÌôò  Î≥ÑÎã§Î∞©  Ïπ¥ÌéòÎùºÎñº
3  Ï°∞ÎØºÏòÅ  ÏΩ©Îã§Î∞©  ÏïÑÏù¥Ïä§Ìã∞
4  Í∂åÎ≥¥ÏïÑ  Î≥ÑÎã§Î∞©  ÏïÑÏù¥Ïä§Ìã∞

In [14]:
# ÏΩîÎìú 7-13. Îã§Ï§ë ÏöîÍ±¥ vlookupÏùÑ merge Ìï®ÏàòÎ°ú ÏàòÌñâÌïòÍ∏∞
df1.merge(df2, how='left')

    Ïù¥Î¶Ñ   ÏóÖÏ≤¥    Ï†úÌíà    Í∞ÄÍ≤©
0  ÍπÄÌåêÎã§  ÏΩ©Îã§Î∞©  ÏïÑÏù¥Ïä§Ìã∞  4600
1  Í∞ïÏäπÏ£º  ÏΩ©Îã§Î∞©  Ïπ¥ÌéòÎùºÎñº  4700
2  ÏµúÏßÑÌôò  Î≥ÑÎã§Î∞©  Ïπ¥ÌéòÎùºÎñº  4300
3  Ï°∞ÎØºÏòÅ  ÏΩ©Îã§Î∞©  ÏïÑÏù¥Ïä§Ìã∞  4600
4  Í∂åÎ≥¥ÏïÑ  Î≥ÑÎã§Î∞©  ÏïÑÏù¥Ïä§Ìã∞  4200

#### 7.2.3. merge Ìï®ÏàòÏùò Î≥ëÌï© Î∞©Ïãù

[Ìëú 7-1] merge Ìï®ÏàòÏùò Îã§ÏñëÌïú Î≥ëÌï© Î∞©Ïãù

| `how` Î≥ëÌï© Î∞©Ïãù | ÏÑ§Î™Ö |
| :--- | :--- |
| **'inner'** | ÏñëÏ™Ω Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò ÌÇ§Îì§Ïùò **ÍµêÏßëÌï©**ÏùÑ Î≥ëÌï©Ïóê ÏÇ¨Ïö©ÌïúÎã§. (Í∏∞Î≥∏Í∞í) |
| **'outer'** | ÏñëÏ™Ω Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò ÌÇ§Îì§Ïùò **Ìï©ÏßëÌï©**ÏùÑ Î≥ëÌï©Ïóê ÏÇ¨Ïö©ÌïúÎã§. |
| **'left'** | **ÏôºÏ™Ω** Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò ÌÇ§ÎßåÏùÑ Î≥ëÌï©Ïóê ÏÇ¨Ïö©ÌïúÎã§. (VLOOKUP Î∞©Ïãù) |
| **'right'** | **Ïò§Î•∏Ï™Ω** Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò ÌÇ§ÎßåÏùÑ Î≥ëÌï©Ïóê ÏÇ¨Ïö©ÌïúÎã§. |
| **'cross'** | ÏñëÏ™Ω Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò **Í≥±ÏßëÌï©(Cartesian product)**ÏùÑ ÏÉùÏÑ±ÌïúÎã§. |

<br>

In [15]:
# ÏΩîÎìú 7-14. merge Ìï®ÏàòÎ°ú Í≥±ÏßëÌï© ÏÉùÏÑ±ÌïòÍ∏∞
# ÏòàÏ†ú df3ÏôÄ df4 ÏÉùÏÑ±
df3 = pd.DataFrame(['ÍπÄÌåêÎã§', 'Í∞ïÏäπÏ£º'], columns=['Ïù¥Î¶Ñ'])
df4 = pd.DataFrame(['ÏïÑÏù¥Ïä§Ìã∞', 'Ïπ¥ÌéòÎùºÎñº', 'Ìå•ÎπôÏàò'], columns=['Ï†úÌíà'])

# merge Ìï®ÏàòÏùò how='cross'Î°ú Í≥±ÏßëÌï©ÏùÑ ÏÉùÏÑ±ÌïúÎã§.
df3.merge(df4, how='cross')

    Ïù¥Î¶Ñ    Ï†úÌíà
0  ÍπÄÌåêÎã§  ÏïÑÏù¥Ïä§Ìã∞
1  ÍπÄÌåêÎã§  Ïπ¥ÌéòÎùºÎñº
2  ÍπÄÌåêÎã§   Ìå•ÎπôÏàò
3  Í∞ïÏäπÏ£º  ÏïÑÏù¥Ïä§Ìã∞
4  Í∞ïÏäπÏ£º  Ïπ¥ÌéòÎùºÎñº
5  Í∞ïÏäπÏ£º   Ìå•ÎπôÏàò

### ÏóëÏÖÄ ÏòàÏ†ú 6. mlbÏóêÏÑú ÏãúÏ¶åÎ≥ÑÎ°ú ÌåÄ ÌôàÎü∞ÏóêÏÑú Î≥∏Ïù∏ ÌôàÎü∞ ÎπÑÏ§ëÏù¥ ÎÜíÏùÄ ÌÉÄÏûê ÏßëÍ≥ÑÌïòÍ∏∞

In [16]:
# ÏΩîÎìú 7-15. mlb ÏóëÏÖÄ ÏãúÌä∏Îì§ÏùÑ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏúºÎ°ú Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
pd.options.display.max_rows = 6 # 6ÌñâÍπåÏßÄÎßå Ï∂úÎ†•
url1 = 'https://github.com/panda-kim/book1/blob/main/10mlb.xlsx?raw=true'

df_2022 = pd.read_excel(url1)
df_2023 = pd.read_excel(url1, sheet_name=1)
df_team = pd.read_excel(url1, sheet_name=2)

In [17]:
# ÏΩîÎìú 7-16. 2022 ÏãúÏ¶åÍ≥º 2023 ÏãúÏ¶åÏùò Í∞úÏù∏ ÌÉÄÍ≤© Îç∞Ïù¥ÌÑ∞ Ïó∞Í≤∞ÌïòÍ∏∞
df = pd.concat([df_2022, df_2023])
df

    Season              Name   Tm   AB    H  HR     BA    OPS
0     2022       Aaron Judge  NYY  570  177  62  0.311  1.111
1     2022    Kyle Schwarber  PHI  577  126  46  0.218  0.827
2     2022       Pete Alonso  NYM  597  162  40  0.271  0.869
..     ...               ...  ...  ...  ...  ..    ...    ...
47    2023    Corbin Carroll  ARI  565  161  25  0.285  0.868
48    2023  Paul Goldschmidt  STL  593  159  25  0.268  0.810
49    2023       Ketel Marte  ARI  569  157  25  0.276  0.844

[100 rows x 8 columns]

In [18]:
# ÏΩîÎìú 7-17. ÏΩîÎìú 7-15Ïùò ÌåÄ ÌÉÄÍ≤© Îç∞Ïù¥ÌÑ∞Î•º Í∞úÏù∏ ÌÉÄÍ≤© Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏóê Î≥ëÌï©ÌïòÍ∏∞
df_mlb = df.merge(df_team, how='left')
df_mlb

,Season,Name,Tm,AB,H,HR,BA,OPS,Team,Tm_H,Tm_HR
0,2022,Aaron Judge,NYY,570,177,62,0.311,1.111,New York Yankees,1308.0,254.0
1,2022,Kyle Schwarber,PHI,577,126,46,0.218,0.827,Philadelphia Phillies,1392.0,205.0
2,2022,Pete Alonso,NYM,597,162,40,0.271,0.869,New York Mets,1422.0,171.0
...,...,...,...,...,...,...,...,...,...,...,...
97,2023,Corbin Carroll,ARI,565,161,25,0.285,0.868,Arizona Diamondbacks,1359.0,166.0
98,2023,Paul Goldschmidt,STL,593,159,25,0.268,0.810,St. Louis Cardinals,1376.0,209.0
99,2023,Ketel Marte,ARI,569,157,25,0.276,0.844,Arizona Diamondbacks,1359.0,166.0

In [19]:
# ÏΩîÎìú 7-18. ÌåÄ ÎÇ¥ Í∞úÏù∏ ÌôàÎü∞Ïùò ÎπÑÏ§ëÏùÑ Ratio Ïó¥Î°ú ÏÉùÏÑ±ÌïòÍ∏∞(Î∞òÏò¨Î¶º)
df_mlb['Ratio'] = (df_mlb['HR'] / df_mlb['Tm_HR']).round(3)
df_mlb

,Season,Name,Tm,AB,H,HR,BA,OPS,Team,Tm_H,Tm_HR,Ratio
0,2022,Aaron Judge,NYY,570,177,62,0.311,1.111,New York Yankees,1308.0,254.0,0.244
1,2022,Kyle Schwarber,PHI,577,126,46,0.218,0.827,Philadelphia Phillies,1392.0,205.0,0.224
2,2022,Pete Alonso,NYM,597,162,40,0.271,0.869,New York Mets,1422.0,171.0,0.234
...,...,...,...,...,...,...,...,...,...,...,...,...
97,2023,Corbin Carroll,ARI,565,161,25,0.285,0.868,Arizona Diamondbacks,1359.0,166.0,0.151
98,2023,Paul Goldschmidt,STL,593,159,25,0.268,0.810,St. Louis Cardinals,1376.0,209.0,0.120
99,2023,Ketel Marte,ARI,569,157,25,0.276,0.844,Arizona Diamondbacks,1359.0,166.0,0.151

In [20]:
# ÏΩîÎìú 7-19. Ratio Ïó¥Î°ú Ï†ïÎ†¨ÌïòÍ≥† ÏÉÅÏúÑ 5Í∞ú Ìñâ Ï∂úÎ†•ÌïòÍ∏∞
df_mlb.sort_values('Ratio', ascending=False).head(5)

,Season,Name,Tm,AB,H,HR,BA,OPS,Team,Tm_H,Tm_HR,Ratio
0,2022,Aaron Judge,NYY,570,177,62,0.311,1.111,New York Yankees,1308.0,254.0,0.244
2,2022,Pete Alonso,NYM,597,162,40,0.271,0.869,New York Mets,1422.0,171.0,0.234
24,2022,Jos√© Ram√≠rez,CLE,601,168,29,0.280,0.869,Cleveland Guardians,1410.0,127.0,0.228
1,2022,Kyle Schwarber,PHI,577,126,46,0.218,0.827,Philadelphia Phillies,1392.0,205.0,0.224
58,2023,Luis Robert Jr.,CHW,546,144,38,0.264,0.857,Chicago White Sox,1308.0,171.0,0.222

### 7.3. ÏóÖÎç∞Ïù¥Ìä∏

üìå Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏóÖÎç∞Ïù¥Ìä∏

- Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ÏÉà Îç∞Ïù¥ÌÑ∞Î°ú Í∞±Ïã†

- **update**: Í∞í ÎçÆÏñ¥Ïì∞Í∏∞

- **combine_first**: NaN Ï±ÑÏö∞Í∏∞

#### 7.3.1. Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏóÖÎç∞Ïù¥Ìä∏ÌïòÍ∏∞(update)

<img src=https://i.postimg.cc/W3ZLkvx5/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `update`

ÏûÖÎ†•Îêú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùò nullÏù¥ ÏïÑÎãå Í∞íÏúºÎ°ú Í∏∞Ï°¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ÏàòÏ†ïÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `update` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.update(other=None)
```

- **other**: ÏóÖÎç∞Ïù¥Ìä∏Ìï† ÏÉàÎ°úÏö¥ Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑÏùÑ ÏûÖÎ†•ÌïúÎã§.

<br>

In [21]:
# ÏΩîÎìú 7-20. ÏóÖÎç∞Ïù¥Ìä∏ Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = {'Íµ≠Ïñ¥': {'A': 25, 'B': 72, 'C': 13, 'D': 78, 'E': 25},
         'ÏòÅÏñ¥': {'A': 45, 'B': 94, 'C': 92, 'D': 70, 'E': 18}}
data2 = {'Íµ≠Ïñ¥': {'A': 64, 'E': 75, 'C': 94},
         'ÏòÅÏñ¥': {'A': 76, 'E': 85, 'C': float('nan')}}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [22]:
# ÏΩîÎìú 7-21. update Ìï®ÏàòÎ°ú df1Ïóê df2Î•º ÏóÖÎç∞Ïù¥Ìä∏
df1.update(df2)
df1 # update Ìï®ÏàòÎäî ÏõêÎ≥∏ÏùÑ Î≥ÄÍ≤ΩÌïòÍ∏∞ ÎïåÎ¨∏Ïóê df1ÏùÑ Îã§Ïãú Ï∂úÎ†•Ìï¥Ïïº ÌïúÎã§.

   Íµ≠Ïñ¥  ÏòÅÏñ¥
A  64  76
B  72  94
C  94  92
D  78  70
E  75  85

#### 7.3.2. Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÏóÖÎç∞Ïù¥Ìä∏ÌïòÍ∏∞(combine_first)

<img src=https://i.postimg.cc/ryhCrrN8/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `combine_first`

Îëê Í∞ùÏ≤¥ÏóêÏÑú nullÏù¥ ÏïÑÎãå Ï≤´ Î≤àÏß∏ Í∞íÏùÑ Î∞òÌôòÌïòÎäî Ìï®Ïàò

<br>

‚≠ê `combine_first` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
df.combine_first(other=None)
```

- **other**: Îëê Î≤àÏß∏ Í∞ùÏ≤¥Î•º ÏûÖÎ†•ÌïúÎã§.

<br>

In [23]:
# Îã§Ïãú Ïã§Ìñâ ÌïòÎäî ÏΩîÎìú 7-20
import pandas as pd
data1 = {'Íµ≠Ïñ¥': {'A': 25, 'B': 72, 'C': 13, 'D': 78, 'E': 25},
         'ÏòÅÏñ¥': {'A': 45, 'B': 94, 'C': 92, 'D': 70, 'E': 18}}
data2 = {'Íµ≠Ïñ¥': {'A': 64, 'E': 75, 'C': 94},
         'ÏòÅÏñ¥': {'A': 76, 'E': 85, 'C': float('nan')}}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [24]:
# ÏΩîÎìú 7-22. ÏΩîÎìú 7-20ÏùÑ Îã§Ïãú Ïã§ÌñâÌïòÍ≥† combine_first Ìï®ÏàòÎ°ú ÏóÖÎç∞Ïù¥Ìä∏
df2.combine_first(df1)

   Íµ≠Ïñ¥    ÏòÅÏñ¥
A  64  76.0
B  72  94.0
C  94  92.0
D  78  70.0
E  75  85.0

### 7.4. Î≤îÏúÑÎ°ú Î≥ëÌï©ÌïòÍ∏∞

üìå **Î≤îÏúÑ Í∏∞Î∞ò Î≥ëÌï©**

- Í∞íÏù¥ Ï†ïÌôïÌûà ÏùºÏπòÌïòÏßÄ ÏïäÏùÑ ÎïåÎäî **Î≤îÏúÑ Ï°∞Í±¥**ÏúºÎ°ú Î≥ëÌï©ÌïúÎã§.  
- **ÏóëÏÖÄ**: `VLOOKUP(TRUE)` ÎòêÎäî `INDEX + MATCH`Î°ú Í∑ºÏÇ¨Í∞í Îß§Ïπ≠.  
- **ÌåêÎã§Ïä§**: Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Í∞Ñ Î≤îÏúÑ Î≥ëÌï©ÏùÄ `merge_asof`Î°ú Ï≤òÎ¶¨ÌïúÎã§.

#### 7.4.1. Î≤îÏúÑÎ°ú Î≥ëÌï©ÌïòÍ∏∞(merge_asof)

<img src=https://i.postimg.cc/7hWq3VKv/image.png, width=600>

‚≠ê ÌåêÎã§Ïä§ `merge_asof`

Î≤îÏúÑÎ•º Í∏∞Ï§ÄÏúºÎ°ú Î≥ëÌï©ÏùÑ ÏàòÌñâÌïòÎäî Ìï®Ïàò. ÏóëÏÖÄÏùò indexÏôÄ match Ï°∞Ìï©Í≥º ÎπÑÏä∑ÌïòÎã§.

<br>

‚≠ê `merge_asof` Ìï®ÏàòÏùò Ï£ºÏöî Îß§Í∞úÎ≥ÄÏàòÏôÄ Ïù∏Ïàò, Í∏∞Î≥∏Í∞í

```python
pd.merge_asof(left, right, on=None, by=None)
```

- **left, right**: Î≥ëÌï©Ìï† Í∞ùÏ≤¥Î•º ÏûÖÎ†•ÌïúÎã§.

- **on**: Î≥ëÌï©Ïùò Í∏∞Ï§ÄÏù¥ ÎêòÎäî Ïó¥ÏùÑ ÏßÄÏ†ïÌïúÎã§. Î∞òÎìúÏãú Ïò§Î¶ÑÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÎêòÏñ¥Ïïº ÌïúÎã§.

- **by**: Í∑∏Î£πÌôîÌï¥ÏÑú Î≥ëÌï©Ìï† Îïå Í∑∏Î£πÏùò Í∏∞Ï§ÄÏùÑ ÏßÄÏ†ïÌïúÎã§.

‚≠ê Í∑∏ Ïô∏ **allow_exact_matches**, **direction** Îì±Ïùò Îß§Í∞úÎ≥ÄÏàòÍ∞Ä ÏûàÎã§.

<br>

In [25]:
# ÏΩîÎìú 7-23. merge_asof Ìï®Ïàò Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
import pandas as pd
data1 = {'Ïù¥Î¶Ñ': ['Îùº', 'ÎÇò', 'Îã§', 'Í∞Ä', 'Îßà'],
         'Ï†êÏàò': [60, 72, 80, 88, 95]}
data2 = {'Ï†êÏàò': [0, 70, 80, 90], 'ÌïôÏ†ê': ['F', 'C', 'B', 'A']}
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [26]:
# ÏΩîÎìú 7-24. df1Í≥º df2Î•º Î≤îÏúÑÎ°ú Î≥ëÌï©
pd.merge_asof(df1, df2, on='Ï†êÏàò')

  Ïù¥Î¶Ñ  Ï†êÏàò ÌïôÏ†ê
0  Îùº  60  F
1  ÎÇò  72  C
2  Îã§  80  B
3  Í∞Ä  88  B
4  Îßà  95  A

#### 7.4.2. Í∑∏Î£πÏùÑ ÎÇòÎàÑÏñ¥ Î≤îÏúÑÎ°ú Î≥ëÌï©ÌïòÍ∏∞

- Îß§Í∞úÎ≥ÄÏàò `by` ÌôúÏö©

In [27]:
# ÏΩîÎìú 7-25. Í∑∏Î£πÌôîÌï¥ÏÑú Î≤îÏúÑÎ°ú Î≥ëÌï©ÌïòÍ∏∞ Ïã§Ïäµ ÏòàÏ†ú ÏΩîÎìú
data3 = {'Ïù¥Î¶Ñ': ['Îùº', 'ÎÇò', 'Îã§', 'Í∞Ä', 'Îßà'],
         'Ï†êÏàò': [60, 72, 80, 88, 95],
         'Í≥ºÎ™©': ['Íµ≠Ïñ¥', 'ÏòÅÏñ¥', 'ÏòÅÏñ¥', 'Íµ≠Ïñ¥', 'Íµ≠Ïñ¥']}
data4 = {'Í≥ºÎ™©': ['Íµ≠Ïñ¥', 'Íµ≠Ïñ¥', 'Íµ≠Ïñ¥', 'ÏòÅÏñ¥', 'ÏòÅÏñ¥', 'ÏòÅÏñ¥'],
         'ÌïôÏ†ê': ['A', 'B', 'C', 'A', 'B', 'C'],
         'Ï†êÏàò': [90, 80, 0, 80, 70, 0],
         'ÎπÑÍ≥†': ['Ïàò', 'Ïàò', 'Ïö∞', 'Ïàò', 'Ïö∞', 'Ïö∞']}
df3 = pd.DataFrame(data3)
df4 = pd.DataFrame(data4)

In [28]:
# ÏΩîÎìú 7-26. df3Í≥º df4Î•º Í≥ºÎ™©ÏúºÎ°ú Íµ¨Î∂ÑÌï¥ Î≤îÏúÑÎ°ú Î≥ëÌï©
pd.merge_asof(df3, df4.sort_values('Ï†êÏàò'), on='Ï†êÏàò', by='Í≥ºÎ™©')

  Ïù¥Î¶Ñ  Ï†êÏàò  Í≥ºÎ™© ÌïôÏ†ê ÎπÑÍ≥†
0  Îùº  60  Íµ≠Ïñ¥  C  Ïö∞
1  ÎÇò  72  ÏòÅÏñ¥  B  Ïö∞
2  Îã§  80  ÏòÅÏñ¥  A  Ïàò
3  Í∞Ä  88  Íµ≠Ïñ¥  B  Ïàò
4  Îßà  95  Íµ≠Ïñ¥  A  Ïàò

### ÏóëÏÖÄ ÏòàÏ†ú 7. Ïù∏ÏáÑÏÜåÏùò Îß§Ï∂ú Îç∞Ïù¥ÌÑ∞Î°ú ÌåêÎß§ Í∏àÏï° ÏÇ∞Ï∂úÌïòÍ∏∞

In [29]:
# ÏΩîÎìú 7-27. Ïù∏ÏáÑÏÜå Îß§Ï∂ú ÏóëÏÖÄ ÌååÏùºÏóêÏÑú Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
pd.options.display.max_rows = 6 # 6ÌñâÍπåÏßÄÎßå Ï∂úÎ†•
url2 = 'https://github.com/panda-kim/book1/blob/main/11print.xlsx?raw=true'
df1 = pd.read_excel(url2)
df2 = pd.read_excel(url2, sheet_name=1)
df1

   ÏÇ¨Ïù¥Ï¶à   Ï¢ÖÎ•ò    ÏàòÎüâ   Îã®Í∞Ä
0   A4   Ïª¨Îü¨     1  100
1   A4   Ïª¨Îü¨    10   90
2   A4   Ïª¨Îü¨   100   70
..  ..  ...   ...  ...
21  B5  ÌíÄÏª¨Îü¨   100  120
22  B5  ÌíÄÏª¨Îü¨   500   80
23  B5  ÌíÄÏª¨Îü¨  1000   50

[24 rows x 4 columns]

In [30]:
# ÏΩîÎìú 7-28. ÏÇ¨Ïù¥Ï¶àÏôÄ Ï¢ÖÎ•òÎ°ú Íµ¨Î∂ÑÌï¥ Î≤îÏúÑÎ°ú Î≥ëÌï©ÌïòÍ∏∞(Ï†ïÎ†¨ ÌïÑÏàò)
df2 = pd.merge_asof(
    df2.sort_values('ÏàòÎüâ'),
    df1.sort_values('ÏàòÎüâ'),
    by=['ÏÇ¨Ïù¥Ï¶à', 'Ï¢ÖÎ•ò'],
    on='ÏàòÎüâ'
)
df2

    ÏàúÎ≤à         ÎÇ†Ïßú ÏÇ¨Ïù¥Ï¶à   Ï¢ÖÎ•ò   ÏàòÎüâ   Îã®Í∞Ä
0    8 2024-06-03  A3  ÌíÄÏª¨Îü¨   10  360
1    5 2024-06-01  A4   Ïª¨Îü¨   10   90
2   34 2024-06-10  A4  ÌíÄÏª¨Îü¨   29  180
..  ..        ...  ..  ...  ...  ...
97  39 2024-06-12  A4   Ïª¨Îü¨  962   50
98  35 2024-06-10  B5   Ïª¨Îü¨  973   40
99  29 2024-06-09  A4  ÌíÄÏª¨Îü¨  975  100

[100 rows x 6 columns]

In [31]:
# ÏΩîÎìú 7-29. Îã®Í∞Ä Ïó¥ÏùÑ Í∏∞Î∞òÏúºÎ°ú Í∏àÏï° ÏÇ∞Ï∂úÌïòÍ∏∞
df2['Í∏àÏï°'] = df2['Îã®Í∞Ä'] * df2['ÏàòÎüâ']
df2

    ÏàúÎ≤à         ÎÇ†Ïßú ÏÇ¨Ïù¥Ï¶à   Ï¢ÖÎ•ò   ÏàòÎüâ   Îã®Í∞Ä     Í∏àÏï°
0    8 2024-06-03  A3  ÌíÄÏª¨Îü¨   10  360   3600
1    5 2024-06-01  A4   Ïª¨Îü¨   10   90    900
2   34 2024-06-10  A4  ÌíÄÏª¨Îü¨   29  180   5220
..  ..        ...  ..  ...  ...  ...    ...
97  39 2024-06-12  A4   Ïª¨Îü¨  962   50  48100
98  35 2024-06-10  B5   Ïª¨Îü¨  973   40  38920
99  29 2024-06-09  A4  ÌíÄÏª¨Îü¨  975  100  97500

[100 rows x 7 columns]

In [32]:
# ÏΩîÎìú 7-30. df2Ïùò ÏõêÎûò Ï†ïÎ†¨ ÏÉÅÌÉúÎ°ú ÎêòÎèåÎ¶¨Í∏∞ ÏúÑÌï¥ ÏàúÎ≤àÏúºÎ°ú Ï†ïÎ†¨
df2.sort_values('ÏàúÎ≤à')

     ÏàúÎ≤à         ÎÇ†Ïßú ÏÇ¨Ïù¥Ï¶à   Ï¢ÖÎ•ò   ÏàòÎüâ   Îã®Í∞Ä     Í∏àÏï°
58    1 2024-06-01  A4   Ïª¨Îü¨  579   50  28950
22    2 2024-06-01  B5  ÌíÄÏª¨Îü¨  254  120  30480
6     3 2024-06-01  A3  ÌíÄÏª¨Îü¨   75  160  12000
..  ...        ...  ..  ...  ...  ...    ...
4    98 2024-06-29  A3   Ïª¨Îü¨   55  150   8250
19   99 2024-06-29  A4  ÌíÄÏª¨Îü¨  227  140  31780
83  100 2024-06-30  A4  ÌíÄÏª¨Îü¨  815  100  81500

[100 rows x 7 columns]

In [33]:
# ÏΩîÎìú 7-31. ÏàúÎ≤àÏúºÎ°ú Ï†ïÎ†¨Ìïú Í≤∞Í≥ºÎ•º ÏóëÏÖÄ ÌååÏùºÎ°ú Ï†ÄÏû•ÌïòÍ∏∞
df2.sort_values('ÏàúÎ≤à').to_excel('ch07_print.xlsx', index=False)